@import "/main-layout";

@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img_text_box {

        width: 27.33333%;
        margin: 20px 35px 0;

        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
        
    }
}


.intro_text {

    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 25vw;
        margin-top: 30px;
    }
}





.benefits {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    background-color: #191919;
    // background-size: auto 100%;

    
    color: #fff;
    padding: 50px 20vw;
    border: 0;
    
    position: relative;
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .benefits_items {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;        

        .benefits_item {
            display: inline-flex;
            width: 25%;
            align-items: center;        
            flex-direction: row;
            img {
                width:50px;
            }
            p {
                display: inline-block;
                padding: 10px 20px 10px 10px;
                margin: 10px;
                font-size: 14px;
                text-align: left;
            }
        }
    }


}

.almaniidealpartner {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    background-color: #f9fafc;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .title_p {
        margin: 20px 0 20px;
        font-size: 14px;
        position: relative;
        line-height:24px;
        text-align: justify;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;

        span {
            display: block;
            font-weight: 300;
            font-size: 18px;
            margin-top: 5px;
        }
    }

    p {
        margin: 20px 0;        
    }

}



.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        font-size: 14px;
        position: relative;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}

.checked {
    color: orange;
}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


///////////////////
// Client Logos //
////////////////////////////////////////////////////////////////////////
.client-logos {
    margin: 80px 0px 40px;
    // Owl Carousel
    //////////////////////////////////
    .owl-carousel {
        .owl-nav.disabled {
            display: none;
        }
        .owl-nav {
            display: flex;
            justify-content: center;
            position: relative;
            top: 20px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }
        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
    }
    //////////////////////////////////
    // Owl Carousel

}
////////////////////////////////////////////////////////////////////////
// Client Logos //
/////////////////




.testimonials {

    padding: 30px 20px 20px;

    .owl-carousel {

        // :hover {
        //     cursor: move;
        // }

        .owl-nav.disabled {
            display: none;
        }
        .owl-nav {
            display: flex;
            justify-content: center;
            position: relative;
            //top: 23px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 35px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }
        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
    }
    
    background-color: #f9fafc;

    .testimonials_container {

        .testimonial {

            text-align: center;
            font-size: 14px;

            .testimonies {

                width: 100%;
                margin: auto;
                padding-top: 20px;
                text-align: left;
            }

            .profile {
                margin-top: 25px;
                padding-right:2vw;
                text-align: right;
                p {
                    margin-bottom: 5px;
                }
            }

            .img {
                padding-top:15px;
                width:120px;
            }

        }

    }
}

#whoweare {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // margin-bottom: 40px;
    // margin-top: 30px;
    
    margin-bottom: 85px;
    margin-top: 70px;

    position: relative;

    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .main_title {
        width: 100%;
        text-align: center;
        margin: 0px 10px 25px;
        font-size: 23px;
        font-weight: 500;
        position: relative;
    }
    .main_title:before ,
    .main_title:after {
        background: #d2d2d2;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        top: -5px;
        width: 30px;
        display: none;
    }
    .div_container.d1 {
        text-align: right;
        padding-right: 50px;
        border-right: 1px solid rgba(220, 220, 220, 0.6);        
    }
    .div_container.d2 {
        text-align: left;
        padding-left: 50px;
        border-left: 1px solid rgba(220, 220, 220, 0.6);
    }
    .div_container {
        padding: 5px 20px 10px;
        width: 45%;
        display:inline-block;
        position: relative;
        > div:last-child {
            p {
                margin-bottom: 0;
            }
        }
        > div {
            display:block;
            .title {
                font-size: 16px;
                font-weight: 500;
                margin: 0 0 5px;                
            }
        }
    }

}


.video_container {
    padding: 20px 20px 50px;
}

































































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#whoweare {
    padding: 0 5px;
    margin: 20px 0 45px;
    .main_title {
        margin-top: 20px;
    }
    .div_container.d1 {
        padding-right: 10px;
    }
    .div_container.d2 {
        padding-left: 10px;
    }
    .div_container {
        width: 49%;
        padding: 5px;
        > div {
            min-height: 90px; 
            p {
                margin-bottom: 5px;
                line-height: 17px;
                font-size: 13px;
            }           
        }
    }
}


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
}

.almaniidealpartner {

    padding: 17px 5vw;

    .title {
        font-size: 18px;
        span {
            display:block;
            font-weight: 300;
            font-size: 15px;
        }
    }

    
}    

.video_container {
    // padding: 0px 20px 35px;
    // padding: 30px 20px 40px;
    // padding: 10px 20px 40px;
    padding: 10px 65px 40px;
}

.intro_text {
    margin-top: 25px;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
    }
}

.bar_text {
    padding: 0 20px;
    margin: 20px 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        
    }
}


.benefits {
    padding: 30px 10px;
    .title {
        margin: 0px 0 15px;
        font-size: 20px;
    }
    .benefits_items {
        .benefits_item {
            width:85%;
            img {
                width: 40px;
            }
            p {
                padding: 10px;
                margin: 5px;
                font-size: 12px;
            }
        }
    }
}

.section_title {
    padding-bottom: 40px;
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


.testimonials {
        
        padding: 51px 10px 11px;

    .owl-carousel {

        .owl-nav.disabled {
            display: none;
        }
        .owl-nav {
            display: flex;
            justify-content: center;
            position: relative;
            top: -15px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                // line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }
        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
    }
    
    .testimonials_container {

        .testimonies-mb {

            text-align: justify;
            font-size: 13px;
            letter-spacing: 0.2px;

        }

        .testimonial {

            .profile {
                text-align: center;
                font-size: 10px;
                padding-right: 0%;
            }

            .img {
                padding-top:15px;
                width:100px;
            }

        }

    }

}

.alert_container > div {
    margin-top: 80px;
}



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px

