@import "/main-layout";



// applications areas

    .app-container {

        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        justify-content: space-around;
        padding: 0 7px;

        .app-item {
            width: 23.5%;
            height: auto;
            margin-bottom: 10px;
            border: 1px solid gainsboro;

            display: flex;
            flex-direction: row;
            justify-content: center;
            box-shadow: 15px 15px 40px -20px hsla(0, 0%, 63%, .5);
            border-radius: 1px;

            .item {

                width: 100%;

                .img-container {

                    margin: auto;
                    text-align: center;
                    width: 106px;
                    height: 120px;
                    img {
                        height: 100%;
                        width: auto;
                        filter: grayscale(100%);
                        padding: 22px;
                    }
                }

                .name-container {
                    border-top: 1px solid gainsboro;
                    text-align: center;

                    p {
                        margin: 7px 0 10px 0;
                        font-size: 15px;
                    }
                }
            }
        }

    }


// end applications areas










































































// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  
    .app-container {
        flex-direction: column;
        .app-item {
            width: 100%;
        }
    }

    .alert_container {
        > div {
            margin-top: 80px;
        }
    }

    


}
