@import "/main-layout";

// @import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
// @import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img_text_box {
        // width: 27.33333%;
        width: 20%;
        margin: 20px 35px 0;
        flex-grow: 1;
        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 16px;
                margin: 20px 10px 10px 0px;
                font-weight: 500;
                height: 40px;
            }
            p {
                font-size: 14px;
                text-align: left;
                padding: 15px 10px;
                margin-bottom: 0;
            }
        }
    }
}

#plainandsimple {
    margin-bottom: 50px;
}

.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: center;
        width: 40vw;
        margin: 30px auto 30px;
        //////////////////////////////
    }
}




.item_boxes {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #191919;
    // background-size: auto 100%;

    
    color: #000000;
    padding: 50px 20vw;
    border: 0;
    
    position: relative;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    // box-shadow: 0 0 70px -20px #dedede;
    
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;    
        .item {
            display: inline-flex;
            width: 25%;
            align-items: center;        
            flex-direction: column;
            margin: 10px;
            > span {
                width:50px;
                text-align: center;
                font-size: 40px;                
            }
            > h5 {
                font-size: 15px;
                margin-bottom: 15px;
                font-weight: 500;
            }
            > p {
                display: inline-block;
                padding: 0px 20px 10px 10px;
                margin: 0px 10px  10px ;
                font-size: 13px;
                text-align: justify;
            }
        }
    }
}



.backdrop_bar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        // font-size: 14px;
        position: relative;
        text-align: center;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}


.white_bar,    
.black_bar {    
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 20px;
}
.white_bar {
    background-color: #fff;
    color: #000;
}
.black_bar {    
    background-color: #000;
    color: #fff;    
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////



.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 20px 0 0px;
        font-size: 18px;
    }
    
    .title {
        margin: 10px 0 20px;
        font-size: 25px;
    }

}



.whyitpays {
    text-align: left;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: #444;
    // padding: 300px 35vw 100px 25vw;
    padding: 80px 35vw 80px 25vw;
    border: 0;
    position: relative;

    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.70);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        font-size: 14px;
        position: relative;
    }
    
    .title {
        // position: relative;
        // margin: 10px 0 20px;
        // font-size: 18px;
        // font-weight: 500;
        // text-align: left;

        position: relative;
        margin: 10px 0 0px;
        padding-bottom: 3px;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid;
        display: inline-block;
    }

    p {
        margin: 20px 0;        
    }

}



.overview_poor {
    display: flex;
    justify-content: center;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom: 40px;    
    position: relative;
    .overview {
        width: auto;
        display: inline-block;
        margin: 10px;
        position: relative;
        .title {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        p {
            text-align: justify;
        }
        ul {
            padding-left: 25px;
            li {
                font-size: 14px;
            }
        }
    }

    .poor_quality {
        margin: 10px;
        width: auto;
        display: inline-block;
        align-self: center;
        position: relative;
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
        }
        .poor_quality_img {
            width: 430px;
            height: 250px;
            margin: 100px 100px 0px -150px;
            background-size: 100%;
            background-position: center;
            border: 1px solid gainsboro;
            box-shadow: 0 0px 35px 4px gainsboro;
        }
    }

    .backdrop {
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

}







.prompt_callback {
    cursor: pointer;
    font-weight: 500;
    border-bottom: 1px solid;
}


.download-container {

display: flex;  
flex-direction: column;
flex-wrap: wrap;
// width: 46%;
width: 100%;
margin-top: 29px;   

.download-item {

        margin: auto;

        img {
            width: 305px;
            height: auto;
        }

        h1 {
            font-size: 20px;
            margin: 20px 10px 20px 0px;
            font-weight: 500;
        }

        .catalog-title {
            text-align: center;
            margin-top: 4px;
            font-size: 18px;
        }
    }   

    .dl-button {
        display: block;
        margin: auto;
        width: 50%;
        padding-bottom: 15px;
    }   

}









































































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#plainandsimple {
    margin-bottom: 20px;
}


.whyitpays {
    padding: 18px 20px 20px;
    margin: 20px 0;
    background-size: auto;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
        display: inline;
        padding-bottom: 0px;        
    }
    .title_p {
        font-size: 13px;
        
    }
}

.video_container {
    padding: 0px 20px 20px;
}



.overview_poor {
        flex-direction: column;
        padding-top: 0;
        margin-top: 35px;
    .overview {
        width: 100%;
        margin: 0;
        .title {
            font-size: 14px;
        }
        ul {
            li {
                font-size: 13px;
            }
        }
    }
    .poor_quality {
        width: 100%;
        margin: 0;
        .poor_quality_img {
            width: auto;
            height: 250px;
            margin: 5px;
            background-size: auto;            
        }
    }
}
//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 14px;
                margin: 15px 10px 10px 0px;
                height: 30px;        
            }
            p {
                font-size: 13px;
                padding: 15px 0;         
            }
        }
    }
}



.intro_text {
    margin-top: 0;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 10px 0 20px;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
        text-align: left;
    }
}

.bar_text {
    padding: 0 20px;
    margin: 20px 0 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        
    }
}


.benefits {
    padding: 30px 10px;
    .title {
        margin: 0px 0 15px;
        font-size: 20px;
    }
    .benefits_items {
        .benefits_item {
            width:85%;
            img {
                width: 40px;
            }
            p {
                padding: 10px;
                margin: 5px;
                font-size: 12px;
            }
        }
    }
}

.section_title {
    padding: 130px 10px 20px;
}

.white_bar, 
.black_bar {
    padding-top: 0px;
}



.item_boxes {
    padding: 10px;
    background-size: auto 100%;
    .items  {
        .item {
            width: 100%;
        }
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
