@import "/main-layout";

// @import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
// @import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////



.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: justify;
        width: 40vw;
        margin: 0px auto 20px;
        //////////////////////////////
    }

    .title_p.click_here {
        text-align: center;
        margin: 30px auto 30px;
        display: inline-block;
        width: auto;
        a {
            border-bottom: 1px solid;
            font-weight: 500;            
        }
    }



}


.middle_text {
    text-align: center;
        margin: 60px 0px 50px;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: center;
        width: 40vw;
        margin: 0px auto 10px;
        //////////////////////////////
    }
}


.joinus_text {
    width: 50%;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    align-items: center;
    align-content: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin: 10px auto 30px;
        > span {
            border-bottom: 1px solid;
        }
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: center;
        width: 40vw;
        margin: 0px auto 10px;
        //////////////////////////////
    }
}

.contact_form_container {
    display: flex;
    flex-wrap: wrap;
    margin: 45px auto;
    justify-content: center;
    .contact_form {
        width: 40%;
    }
}

.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 20px 0 0px;
        font-size: 18px;
    }
    
    .title {
        margin: 10px 0 20px;
        font-size: 25px;
    }

}



.items_bg {
    min-height: 450px;
    padding: 0px 0 15px;
    background-size: 100%;
    background-position: center;
    position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // align-content: flex-start;
    border-bottom: 1px solid gainsboro;





    .backdrop {
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    .lightbar_text {
        border-top: 1px solid;
        border-bottom: 1px solid;
        text-align: center;
        background-color: #000000;
        color: #fff;
        position: relative;
        width: 100%;
        .title_p {
            margin: 20px 0 20px;
            font-size: 16px;
            padding: 0 25px;
        }
        
        .title {
            margin: 10px 0 20px;
            font-size: 25px;
        }

    }

    .img_text_boxes {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // position: relative;
        // width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .img_text_box {
            width: 27.33333%;
            // width: 25%;
            margin: 20px 35px;
            // margin: 20px 35px 0px;
            // flex-grow: 1;
            .img_box {
                // height: 200px;
                // background-position: center; 
                // border: 1px solid #8a8a8a;
                // background-size: 120%;
                // background-repeat: no-repeat;

                height: 200px;
                background-position: center; 
                border: 1px solid #8a8a8a;
                background-size: 110%;
                background-repeat: no-repeat;
            }

            .text_box {
                h1 {
                    font-size: 16px;
                    margin: 20px 10px 10px 0px;
                    font-weight: 500;
                    height: 20px;
                }
                p {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }

}








.explain_steps {
    position: relative;
    width: 68%;
    margin-bottom: 10px;
    margin-top: 35px;
    .title_p {
        text-align: left;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
    }
}





.contact_details {
    font-weight: 500;
}

.section_title {
    // padding: 80px 20px 50px;
    > h1 {
        margin: 0;
    }
}





.video_container {
    // padding: 0px 20px 0px;
}


.download-container {

display: flex;  
flex-direction: column;
flex-wrap: wrap;
// width: 46%;
width: 100%;
margin-top: 29px;   

.download-item {

        margin: auto;

        img {
            width: 305px;
            height: auto;
        }

        h1 {
            font-size: 20px;
            margin: 20px 10px 20px 0px;
            font-weight: 500;
        }

        .catalog-title {
            text-align: center;
            margin-top: 4px;
            font-size: 18px;
        }
    }   

    .dl-button {
        display: block;
        margin: auto;
        width: 50%;
        padding-bottom: 15px;
    }   

}


























































































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.video_container {
    padding: 0px 20px 20px;
}

.items_bg {
    background-size: auto 100%;
    background-position: bottom;
    .img_text_boxes {
        flex-direction: column;
        .img_text_box {
            width: auto;
            margin: 20px 2px 15px;
            .text_box {
                h1 {
                    font-size: 14px;
                    margin: 15px 10px 10px 0px;
                    height: 20px;        
                }
                p {
                    font-size: 13px;               
                    margin-bottom: 10px;
                }
            }
        }
    }
}


.bar_text {
    padding: 0 20px;
    margin: 20px 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        
    }
}




.intro_text {
    margin-top: 0;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
    }
}


.section_title {
    // padding: 130px 10px 30px;
    a {
        display: inline-block;
        width: 55%;
        line-height: 25px;
    }
}



.middle_text {
    .title_p {
        width: 80vw;
    }
}

.joinus_text {
    width: 100%;
    margin: 0px 20px 20px;
    .title_p {
        width: auto;
    }
}

.explain_steps {
    width:90%;
}


.contact_form_container {
    margin: 10px auto;
    .contact_form {
        width: 100%;    
        margin-top: 20px;
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
