@import "/main-layout";

section#section_blog {

    // background-size: cover;
    // position: relative;
    // padding: 278px 20vw;
    // border: 0;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-image: url('/assets/images/blog/coming_soon_bg2.jpg');

    padding: 40px 12% 40px;

    width: 100%;
    // height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    


    .posts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .post:last-child {
            margin-bottom: 25px;
        }
        .post {
            position: relative;
            margin-bottom: 80px;
            header {
                display: flex;
                flex-wrap: wrap;
                .post_title {
                    font-size: 20px;
                    font-weight: 500;                
                    width: 100%;
                    a {
                        border-bottom: 1px solid;
                    }
                }

                .created_at ,
                .posted_by {
                    font-style: italic;
                    margin: 0 0 10px 0;
                    font-size: 14px;
                }
                .created_at {}
                .posted_by {}
            }
            .post_content {
                margin: 0;
                text-align: justify;
                img {
                    float: left;
                    margin: 25px 30px 30px 0px;                    
                }
            }

        }
    }
} 




section#image-holder {

    // background-size: cover;
    // position: relative;
    // padding: 278px 20vw;
    // border: 0;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-image: url('/assets/images/blog/coming_soon_bg2.jpg');

    width: 100%;
    // height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    // position: absolute;
    // top: 0;
    // z-index: -1;
    

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .warning-content {
    
        position: relative;
    
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 55px;
        }
    
        .svg-container {
            text-align: center;
        }
    
        .msg-container {
            text-align: center;
            margin-top: 50px;
    
            p {
                font-size: 15px;
            }
    
            .bold {
            font-weight: 500;
            }
    
            .boldup {
                display: block;
            }
           
        }
    
    }

} 












.section_blog_container {
    position: relative;
    background-size: cover;
    background-position: center;
    
    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}























// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////


        

    section#section_blog {
        padding: 40px 25px 40px;
        .posts {
            .post {
                .post_content {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    

    section#image-holder {

        width: 100%;
        // height: 100vh;
        position: relative;
        background-size: cover;
        background-position: center;
        // position: absolute;
        // top: 0;
        
     .warning-content {
       
        margin-top: 100px;
        // margin-bottom: 20vh;

        h1 {

            font-size: 38px;
            letter-spacing: 2px;
            line-height: 41px;

            span {
                display: block;
            }
        }

        .msg-container {
            
            margin-top: 0px;

            p {
                font-size: 14px;
            }
        }
        
    }

    }
        



    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
    }
    // max-width: 780px
    
    