@import "/main-layout";

// @section heading-second


.heading-second {

.intro_texts {
    display: flex;

        .intro_text {
            text-align: center;
            width:100%;
            display: flex;
            justify-content: center;

            .title {
                font-size: 15px;
                line-height: 30px;
            }

            .title_p {
                padding: 0;
                text-align: center;
                color: #555;
                width: 50%;
                span,
                a {
                    font-weight: 600;
                    color: #000;
                }

            }
        }
    }

}

// @section download-section



.download-section {

display: flex;  
flex-direction: row;
flex-wrap: wrap;
// width: 46%;
width: 51%;
margin-top: 29px;   

.download-item {

        margin: auto;

        img {
            width: 305px;
            height: auto;
        }

        h1 {
            font-size: 20px;
            margin: 20px 10px 20px 0px;
            font-weight: 500;
        }

        .catalog-title {
            text-align: center;
            margin-top: 4px;
            font-size: 18px;
        }
    }   
}

.form1 {
    flex-flow: 1;
}

.form2 {
    flex-grow: 3;
}



// @section brand view

.brand-view {
    margin: 50px
}

// can be use for all ----

.download-buttom {
    text-align: right;
}

.download-form {
    text-align: center;
    
    .alert {
        font-weight: 500;
    }
}  


section.download {
    margin-bottom: 50px;
}



////////////////////////////

section.image-holder {

   
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: -1;
    

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .warning-content {
    
        position: relative;
    
        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 55px;
        }
    
        .svg-container {
            text-align: center;
        }
    
        .msg-container {
            text-align: center;
            margin-top: 387px;
    
            p {
                font-size: 15px;
            }
    
            .bold {
            font-weight: 500;
            }
    
            .boldup {
                display: block;
            }
           
        }
    
    }

} 










































































/////////////////////////////////////////////////////////////////////////////// --------- max-width: 780px ----- ////////////////////////////////////////////////////////////////////////////////

// max-width: 780px
@media screen and (max-width: 780px) {


    .section_title {
        padding: 130px 10px 16px;
    }

    .alert_container {
        margin-top: 104px;
        margin-bottom: -111px;
    }
    

.heading-first {
    .main_title {
        .mb-titile {
            font-size: 18px;
            line-height: 23px;
            display: inline-block;
            width: 55%;
        }
    }
}
   
// @section heading-second
.heading-second {

    .intro_texts {
        flex-wrap: wrap;
        .intro_text {
            width: 100%;
            padding: 5px;
            .title {
                font-size: 13px;
                line-height: 20px;     
                
                
            }
            .title_p {
                // font-size: 15px;
                padding: 0;
            }
            .img_bg {
                height: 150px;
            }
        }
    }
}   

// @section download-section
.download-section {
    margin-top: 0px;
    flex-direction: column;
    width: 100%;

    .download-item {
        
        margin-bottom: 20px;

        .warning-content {
            margin-bottom: 56px;
        }

        .download-img-center {
            margin-top: 0px;
        }

        img {
            width: 312px;
            height: auto;
        }

       
    }
}

// @section brand view

.brand-view {
    margin: 0px;
}



// can be use for all ----

section.download {
    margin-bottom: 0px;
}

body {
    background-color: rgba(255, 255, 255, 0.90);
    min-height: 93vh;
    padding-bottom: 0px;
}

section.image-holder {

    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: -1;
    
 .warning-content {
   
    margin-top: 227px;
    margin-bottom: 20vh;

    h1 {

        font-size: 38px;
        letter-spacing: 2px;
        line-height: 41px;

        span {
            display: block;
        }
    }

    .msg-container {

        margin-top: 0px;

        p {
            font-size: 14px;
        }
    }
    
}

}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


    

    
} // end max width

/////////////////////////////////////////////////////////////////////////////// --------- max-width: 780px ----- ////////////////////////////////////////////////////////////////////////////////
