@import "/main-layout";


.prod_block {
    padding: 15px;
    margin: 10px 10px 30px;
    border-radius: 3px;
    box-shadow: 15px 15px 40px -20px rgba(222, 222, 222, 0.5);

    a.item {
		display: block;	
		position: relative;
		.new_icon {
		    position: absolute;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    width: 55px;			 
		}

	    .more_details {
	    	display: flex;
	    	flex-wrap: wrap;
		    position: absolute;
		    top: -25px;
		    border: 1px solid gainsboro;
		    padding: 5px;
		    z-index: 1;
		    background-color: rgba(255, 255, 255, 0.8);
		    width: 100%;
		    .specs_legend { 
		        width: 100%;
			    display: flex;
		       	justify-content: center;
		        > div.specs_legend_lifespan { 
					// width: 22%;
		        }
		        > div {
		        	width: 23%;
		        	display: inline-block;
		        	text-align: center;
		        	img {
		        		height: 11px;
		        		margin: 0 -2px 0 0;
		        	}
		        	label {
						font-size: 10px;
						color: #5d5d5d;
		        	}
		        }
		    }
		    .specs {
			    display: flex;
			    flex-wrap: wrap;
			    width: 100%;
				.mini-specs {
				    width: 50%;
				    display:inline-block;
				    padding-left: 7%;
				    margin: 3px 0;
				    font-size: 13px;
				}
			    .view_product {
			    	width: 100%;
			    	padding: 10px;
			    	text-align: center;
			    	button {
			    		padding: 2px 10px;
			    	}
			    }
		    }
	    }
	}
	



	.img_container {
		// width: 200px;
		// width: 12vw;
		margin: auto;
		text-align: center;
		min-height: 121px;
		img {
		    // width: 100%;
		    height: 121px;
		    width: auto;		    
		}
	}

	.prod_title {
		text-align: right;
		span {
			display: block;
		}
		.prod_code {
			text-align: left;
		    font-size: 12px;
	        float: left;
		}
		.prod_ip {
		    display: inline-block;
		    float: left;
			font-size: 12px;
			position: relative;
			top: 5px;
		}
		.prod_name {
		    font-weight: bold; 
		}
	}

	.prod_group {
		.price_container {
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
			vertical-align: top;
			color: #6a9233;
		}

	}

}

.section_products {
	a:hover, a:active, a:focus {
		color:initial;
	}


}


.section_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
		display: block;
		width: 100%;
    }
	p.category_desc {
	    display: inline-block;
	    padding: 10px 35% 10px;
	    margin: 0;
	    text-align: justify;
   	}
   	.category_desc_sm {
   		width: 100%;
   		text-align: center; 
   		margin: 0;
   		h2, p {
   			margin: 0;
   			padding: 10px 35% 0;
   			// text-align: left;
		    text-align: justify;
		    font-size: 14px;
   		}

   	}
   	button {
   		margin-top: 10px;
   	}
}


   ////////////////////
    // button option //
	////////////////////////////////////////
	
	.sort_options {
		//float: right
		border-bottom: 1px solid gainsboro;
		padding-bottom: 12px;

		.btn-sm {
			padding: 6px 7px;
  			font-size: 12px;
		}
		
	}

	.sort-method {
		padding-left: 38px;
	}
	
	.sort {
		padding-left: 71px;
	}

	.search-div {
		float: right;
		position: relative;
		top: -38px;

		.btn-sm {
			padding: 6px 7px;
  			font-size: 12px;
		}
		.select_currency {
			padding: 3px;
			margin-right: 4px;
		}
	}


    .btn-option {
        // background: #fff;
        background: #f9f9f9;
        color: $highlight;
        // padding: 12px 9px 12px;
        border-radius: 1px;
        cursor: pointer;
        bottom: 15px;
        transition: background 0.5s;
        // border: 1px solid $highlight; 
        border: 1px solid #dcdcdc;
        width: auto;
        font-size: 13px;
        padding: 2px 10px;
    }

    .btn-option:focus {
        background: #fff;
        color: $highlight;
        outline: none;
    }
    .btn-option.selected ,
    .btn-option.hover ,
    .btn-option:hover {
        // background: #0c2e8a;
        // color: #fff;
        
        background: $highlight;
        color: #fff;
        border: 1px solid;
    }
    ////////////////////////////////////////
    // button option //
	//////////////////
	






	///// search bar /////////

.has_search_tab {
  // min-height: 715px;
    position: relative;
}

.open_search_tab {
    margin-top: 20px;
}

.search_tab.show_tab {
    left: 2vw;
}

.search_tab {
    width: 330px;
    border: 1px solid;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
    z-index: 9;

    position: absolute;
    left: -100vw;

    transition:all 1s ease;

    // temp
    ///////////////////
    display: flex;
    width: 620px;
    flex-wrap: wrap;

    flex-direction: row;
    ///////////////////

    ////////////////////
    // button option //
    ////////////////////////////////////////
    .btn-option {
        // background: #fff;
        background: #f9f9f9;
        color: $highlight;
        // padding: 12px 9px 12px;
        border-radius: 1px;
        cursor: pointer;
        bottom: 15px;
        transition: background 0.5s;
        // border: 1px solid $highlight; 
        border: 1px solid #dcdcdc;
        width: auto;
        font-size: 13px;
        padding: 2px 10px;
    }

    .btn-option:focus {
        background: #fff;
        color: $highlight;
        outline: none;
    }
	.btn-option.selected 
	{ 
	// ,
    // .btn-option.hover ,
    // .btn-option:hover {
        // background: #0c2e8a;
        // color: #fff;
        
        background: $highlight;
        color: #fff;
        border: 1px solid;
    }
    ////////////////////////////////////////
    // button option //
    //////////////////


     
    .submit_search i {
        vertical-align: middle;
        margin-left: 5px;
        display: none;
    }


    .form-control {
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 13px;        
	}
	
	// .search_tab .form-row, .search_tab .form-group

    .form-row, .form-group {
        // margin-bottom: 5px;
        // margin: 0px 5px;
        margin: 0px 10px 5px;
        display: inline-flex;
        align-items: flex-start;        
        margin-left: 0;
        width: 270px;
        input {
            margin-bottom: 5px;
        }
        input::placeholder {
            color: #d6d6d6;
        }
    }

    .price_row {
        .form-group.col {
            margin-right: 0;
        }
    }

    label {
        margin-bottom: 3px;
        font-size: 13px;
        display: inline-flex;
        align-items: center;        
    }

    select.form-control:not([size]):not([multiple]) {
        height: 30px;
    }

    select.fld_sm {
        min-width: 70px;
    }

    .search_fld_grps {
		display: flex;
		width: 100%;
		
		.search_fld_grp {
			width: 50%;
		}
    }

    .fld_sm {
        width: 60px;
    }

    .fld_md {
        width: 100px; 
    }

    .fld_bg {
        width: 150px;
    }
    
    .close_search_tab_div {
        position: absolute;
        right: 5px;
        top: 5px;  
        z-index: 9;      
        .close_search_tab {
            padding: 2px 10px;
            line-height: 20px;
            font-size: 10px;
        }
	}
	
	.option_group_container {
        display: flex;
        flex-wrap: wrap;        
        .option_group {
            border-radius: 2px;
            // padding: 5px;
            // margin: 5px;
            // background-color: #f8f8f8;    
            h6 {
                font-size: 11px;
                font-weight: bold;
                margin-bottom: 3px;
                margin-left: 3px;
                margin-right: 3px;
                padding-bottom: 0;
                white-space: nowrap;                    
            }
    
            label.button {
                user-select:none;
                margin: 3px 0px;
                padding: 5px;
                cursor: pointer;
                border: 1px solid #999999;
                border-radius: 1px;
                font-size: 12px;
                input {
                    display: none;
                }
            }
    
            label.button.isSelected  {
                background-color: $black;
                color: #fff;                
            }
            label.button.disabled  {
                cursor:not-allowed;
                color: rgba(52, 58, 64, 0.4);
                border: 1px solid rgba(226, 226, 226, 0.4);
            }
        }
    }

}




	///// end search

.readmore {
    padding: 1px 7px 2px;
}


.no_products {
	padding: 10px 20% 0;

	> .container > p {
	    margin-bottom: 15px;
	    font-size: 16px;
	    text-align: justify;

		a.btn-almani.btn-sm.send_message {
			font-size: 14px;
			padding: 5px 10px;	
		}
	}

	.camel_link {
	    text-align: center;
	    margin-bottom: 40px;
	    margin-top: 25px;		
		a {			
		    display: inline-block;
		    // border: 1px solid #fff;
		    // background-color: #1e3a1e;
		    // box-shadow: 0px 0px 15px 0px #008d00;
		    // border-radius: 22px 2px;
		    // padding: 10px 20px 5px;
		    img {
		    	width: 130px;
		    }
		}

	}


}






.product_items {
	.page:first-child { 
		display:block;
	}
	.page {
		display:none;
	}
}




.page-link {
	color: #000;
}


.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;	
}




#itm_pg {
    padding: 3px;
    margin-right: 4px;	
}



.pagination-ellipsis { 
	margin: 10px;
}


.sub_categories {
	margin-top: 20px;
	h4 {
	    margin-bottom: 5px;
	    font-size: 14px;		
	}	
	ol.breadcrumb {		
		background-color: #f7f7f7;
	    border-radius: 0;
	    font-size: 14px;
	    padding: 7px 15px;
	    font-weight: 500;
	}
}





.breadcrumb_container .breadcrumb {
    padding: 0;
    margin: 20px 5px 10px;
    background-color: transparent;
    font-size: 15px;
    .breadcrumb-item {
        font-weight: bold;
    }    
    .breadcrumb-item.active {
        font-weight: normal;
    }
    a:hover, a:active, a:focus {
        color: #000;
        border-bottom: solid 2px #ffc100;
        transition: unset;
    }

}
































































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section_title > h1:before, 
.section_title > h1:after {
	display: none;
}

.sub_categories {

	ol {		
	    flex-direction: column;
	    justify-content: center;
	    text-align: center;
	}
	.breadcrumb-item+.breadcrumb-item::before {
		display:none;
	}
}

.breadcrumb_container {	
    // margin-top: 100px;
    margin-top: 85px;
    margin-bottom: -100px;
    .breadcrumb {
    	   font-size: 12px;
    }
}




.justify-content-center {
	flex-wrap: wrap;
}

.section_category {
    padding: 45px 20px 35px;
}


.section_title {
	p.category_desc {
	    padding: 10px 20px 10px;
   	}
   	.category_desc_sm {
   		p {
   			padding: 10px 20px 10px;
		}

		h2 {
			padding: 10px 5% 0;
		}
		   
   	}
}


.sort_options {
	text-align: center;
	float: unset;
	// padding: 22px;
	padding-bottom: 10px;
	padding-top: 12px;
}

.sort-options {
	padding-left: 0px;
}

.sort-method {
	padding-left: 0px;
	display: block;
	padding: 5px;
}

.sort {
	padding-left: 0px;
	display: block;
}

.search-div {
// 	display: block;
// 	text-align: center;
	float: unset;
// 	padding-top: 17px;
	display: block;
	top: 8px;

	.form-c {
		display: flex;
		// justify-content: space-between;
	    justify-content: flex-end;
		.currency_container {
		    margin-right: 3px;
		}
		.select_currency {
			margin-right: 0px;
		}
	}


	
}

////// search /////////////

.search_tab.show_tab {
	margin: auto;
    left: 10vw;
	// top: 14vh;
	// position: relative;
}

.search_tab {
    width: 295px;
    .search_fld_grps {
        flex-direction: column;

	}    
	

}


///// end search ////////////






.no_products {
	padding: 10px;
    margin-top: 25px;
	> .container > p {

		a.btn-almani.btn-sm.send_message {
		    font-size: 12px;
		    padding: 4px 5px;
		}
	}

}


.prod_block a.item .more_details .specs .mini-specs {
    font-size: 11px;
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px

 













































// min-width: 590px for tablets like Samsung A6
@media screen and (min-width: 590px) and (max-width: 760px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	

.prod_block a.item .more_details .specs_legend > div label {
    font-size: 8px;
}

.prod_block {
    padding: 15px 5px;
    margin: 10px 0px 30px;
}

.prod_block .img_container img {
    height: 100px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// min-width: 590px






