@import "/main-layout";

@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";


///////////////////////////////////////////////////// normal screensize ///////////////////////////////////////////
.section_title {
    padding: 80px 20px 50px;
}

// @section heading-second

.heading-second {

        .intro_text {
            text-align: center;
            .title {
                font-size: 20px;
                line-height: 30px;
            }
        }

}

// @section content-section-heading

.content-section-heading {

    .img_text_boxes {

        display: flex;   
        justify-content: center;

        .img_text_box {
            width: 40%;
            margin: 20px 35px;
            .img_box {

                height: 310px;
                background-size: 110%;
                background-position: center; 
                border: 1px solid #8a8a8a;   
                
                .almani-img  {

                    img {
                        max-width:40%;
                        float: right;
                        padding-top: 11px;
                        padding-right: 11px;
                    }
                }

                .camelled {

                   img {
                        max-width: 29%;
                        float: right;
                        margin-top: 240px;
                        padding-right: 10px;
                   }
                }
            }
    
            .text_box {
                h1 {
                    font-size: 20px;
                    margin: 20px 10px 20px 0px;
                    font-weight: 500;
                }
                p {
                    font-size: 14px;
                    // padding: 0;
                    // margin: 0;
                }
            }
        }
    }
    
}

// @section brand-images

.brand-images {

///////////////////
// Client Logos //
////////////////////////////////////////////////////////////////////////
.client-logos {
    // margin: 20px 0px 40px;
    margin: 20px auto 40px;
    padding: 0 10vw;

    // Owl Carousel
    //////////////////////////////////
    .owl-carousel {

        .owl-nav.disabled {
            display: none;
        }

        .owl-nav {

            display: flex;
            justify-content: center;
            position: relative;
            top: 0px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }

        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
        .owl-item {
            display: inline-flex;
            align-items: center;      
            
        }
        .owl-stage {
            display: flex;
        }
    }
    //////////////////////////////////
    // Owl Carousel

}
////////////////////////////////////////////////////////////////////////
// Client Logos //
/////////////////




}

// end normal screensize // ------------------------------------------------------------------------------------------------------------------------------------------------------------------










































































/////////////////////////////////////////////////////////////////////////////// --------- max-width: 780px ----- ////////////////////////////////////////////////////////////////////////////////

// max-width: 780px
@media screen and (max-width: 780px) {

.brand-images {
    .client-logos {

        padding: 0 5vw;    
        
        .owl-carousel {
                .owl-nav {
                    margin-top: -25px;
                }
           }
        }
}


.section_title {
    padding: 110px 10px 1px;
}
          
        
// @section heading-second

.heading-second {

    .intro_text {
        margin-top: 25px;
        .title {
            font-size: 17px;
        }
        .title_p {
            font-size: 14px;
            width: 100%;
        }
    }
}

// end @section heading 


// @section content heading

.content-section-heading {

.img_text_boxes {
    flex-direction: column;
    .img_text_box {

        width: 100%;
        margin: 0 0 20px;

        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }

        }


        .img_box {

            height: 200px;
    
            .almani-img  {

                img {
                    max-width:40%;
                    float: right;
                    padding-top: 11px;
                    padding-right: 11px;
                }
            }

            .camelled {

                img {
                        max-width: 29%;
                        float: right;
                        margin-top: 154px;
                        padding-right: 10px;
                }
                }
        }
    }
}
}

.video_container {
    // padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

.heading-second .intro_text .title {
font-size: 14px;
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


} // end max width
  
    /////////////////////////////////////////////////////////////////////////////// --------- max-width: 780px ----- ////////////////////////////////////////////////////////////////////////////////


