@import "/main-layout";

.section_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
		display: block;
		width: 100%;
    }
	p.category_desc {
	    display: inline-block;
	    padding: 10px 32% 10px;
	    margin: 0;
		text-align: justify;

		 .category_desc_title {
			font-size: 17px;
			font-weight: 500;
			line-height: 18px;
			letter-spacing: 1px;
			margin: 17px 0px 1px 0;
			position: relative;
			display: block;
			text-align: center;
		 }

	   }

	   .block {
		   display: block;
		   margin-top: 10px;
	   }
	   
	   
   	.category_desc_sm {
   		width: 100%;
   		text-align: center; 
   		margin: 0;
   		p {
   			margin: 0;
   			padding: 10px 32% 0;
   			// text-align: left;
		    text-align: justify;
   		}
   	}
   	button {
   		margin-top: 10px;
   	}
}


.categories {

	width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

    > .col  {
    	flex-grow: 0;
    }

	.category {
	    width: auto;
	    height: 350px;
	    // margin: 0 30px 90px 30px;
	    margin: 0 23px 30px 30px;
		border: 2px solid transparent;
		border-radius: 3px;
		box-shadow: 5px 5px 19px -12px #2b582b;
		// box-shadow:  5px 5px 19px -12px #f2b51b;
        overflow: hidden;
        border-radius: 3px 3px;
		

	    height: 140px;
	    // margin: 0 23px 60px 30px;
	    margin: 0 5px 60px 5px;

	    a {
		    text-align: center;
		    display: block;
		    height: 100%;	

	        display: flex;
	        align-items: center;    	
	    }
	    .category_name {
			font-weight: bold;
		    font-size: 18px;
		    text-align: left;		    
   	    }
		.category_image {
			height: 75%;
			background-position: center;
			background-size: auto 100%;
			background-repeat: no-repeat;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;

			height: 130px;
		    width: 130px;
		    // width: auto;
			overflow: hidden;
			display: inline-flex;
		    vertical-align: middle;
			margin: 10px;

		}

					// added <img>
		.category_image img {
			// height: 100%;
			height: auto;
			width: 100%;
			max-width: 100%;
		}

		

		.box {
		    height: auto;
		    width: auto;
		    display: inline-block;
		    margin-left: auto;
		    margin-right: auto;
		    margin-bottom: 5px;
		    background-color: transparent;
		    border-radius: 0px;
		    padding: 10px;
		    box-shadow: none;
			border-bottom: 1px solid transparent;

			//xxxxxxxxxxxxxxxxx
		    vertical-align: middle;
		    margin: 10px 10px 10px 5px;
		    width: 180px;
		    padding: 5px;		    

			h3 {
			    color: $green;
			}

		}

	}



	.category:hover {
		 border: 2px solid #4d4c4c;
		.box {
			border-bottom: 1px solid #f2b51b;

		    h3 {
			    color: $green;
		    }
		}
	}
}
























































// max-width: 1300
@media screen and (max-width: 1300px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.section_title {
    padding: 45px 20px 50px;	
}

.row.categories .col-sm-3 {
	// max-width: 33%;
}

.categories .category {
	margin: 0 10px 25px 10px;
}

.section_title p.category_desc,
.section_title .category_desc_sm p {
	padding-left: 10%;
	padding-right: 10%;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 1300

















// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.categories .category .category_image {
	width: 100px;
}
.categories .category .box {
	width: auto;
}
.categories .category .category_name {
	font-size: 14px;
}

.section_title {
	padding: 115px 10px 30px;

	h1 {
        display: inline-block;
        // width: 55%;
        line-height: 25px;
    }

	p.category_desc {
	    padding: 10px 20px 10px;
	}
	   
	.category_desc_title {
		margin: 4px 0px 1px 0;
	}

   	.category_desc_sm {
   		p {
   			padding: 10px 20px 10px;
   		}
   	}
}

.row.categories .col-sm-3 {
	// max-width: 100%;
}

.categories .category {
	margin: 0 0 10px 0;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px







