@import "/main-layout";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 15px;
    h4 {
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid;
        display: inline-block;
        padding-bottom: 5px;    
        font-weight: 500;
    }
    h3 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 20px;
    }
    i {
        font-size: 15px;
    }

    .fa {
        margin-left: 10px;
    }

    .almani_address {
        font-size: 14px;
    }

    h4+p+ul {
        margin-bottom: 30px;
        margin-top: -10px;        
    }

    h2 {
        display: inline-block;
        margin: auto;
        font-size: 20px;
        font-weight: 500;     
    }
    p {
        margin-bottom: 20px;
    }



    .available_positions {
        text-align: center;
        padding: 20px 20px;
        margin: 20px 0px 30px;        
        background-color: #000;
        color: #fff;
        > h3 {
            display: inline-block;
            margin: 10px;
            padding-bottom: 5px;
            cursor: pointer;
        }
        > h3.selected {
            border-bottom: 1px solid;
        }
    }
    .tab {
        display:none;
    }
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


.text_container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    .text {
        width: 40%;
        h3 {
            font-size: 17px;
            font-weight: 500;
            margin-top: 20px;
        }
        h4+p+ul {
            margin-bottom: 30px;
            margin-top: -10px;        
        }
        li {
            font-size: 14px;            
        }
        p {
            text-align: justify;
        }

    }
    .text.img {
        width: 45%;
        height: auto;
        display: inline-block;
        margin: 10px 10px 100px 50px;
        background-size: 100%;
        background-position-x: center;
        background-position-y: top;
        box-shadow: 0 0 40px -20px black;
        border: 1px solid #bfbfbf;
        .backdrop {
            width: 100%;
            height: 45%;
            background-color: rgba(255, 255, 255, 0.3);            
        }
    }
}






















// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 12px;
    h4 {
        font-size: 14px;
    }
    h3 {
        font-size: 15px;
    }
    i {
        font-size: 14px;        
    }
}
.section_title {
    // padding: 130px 10px 5px;
}

.text_container {
    .text {
        width: 100%;
        h3 {
            
        }
    }
    .text.img {
        width: 100%;
        margin: 10px 10px 50px;
        height: 30vh;        
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
