@import "/main-layout";



.section_title {
    // padding: 80px 20px 35px;
}


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////


.intro_texts {
    display: flex;

    .intro_text {
        text-align: center;
        width:100%;
        display: flex;
        padding: 0 0 20px;
        justify-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;        
        .title {
            font-size: 15px;
            line-height: 30px;
            text-align: left;
            width: 33%;
        }
        .title_p {
            padding: 0;
            text-align: center;
            color: #555;
            width: 50%;
            margin-bottom: 0px;
            span,
            a {
                font-weight: 600;
                color: #000;
            }

        }
    }
}


h5.google_maps_h5 {
    text-align: center;
}
    
h5 {
    a {
        cursor: pointer;
        border-bottom: 1px solid;
        padding-bottom: 5px;
        margin-bottom: 25px;
        font-size: 15px;
        display: inline-block;
        font-weight: 600;      
    }

}




.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    background-color: #000000;
    color: #fff;  
    padding: 35px 20px 40px;
    margin-bottom: 20px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > div {
        display: flex;
        justify-content: center;
        margin: 0px 25px 0;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;   

        .bar_text_title {
            text-align: left;
            margin: 10px 30px;
            width: 245px;
        }

        > div {
            display: inline-flex;
            flex-wrap: wrap;

            .contact_div.address { 
                // min-height: 170px;
                height: auto;
            }

            .contact_div.managing_director { 
                width: 170px;
            }
            .contact_div.phone {
                width: 170px;
            }
            .contact_div.email {
                width: 130px;
            }
            .contact_div {
                margin: 10px 30px;
                width: 245px;
                i {
                    font-size: 20px;            
                    margin-right: 10px;
                }
                h4 {
                    font-size: 15px;
                    margin-bottom: 0px;
                    font-weight: 500;
                    border-bottom: 1px solid;
                    padding-bottom: 3px;                
                }
                p {
                    font-size: 13px;
                    margin: 0px;
                    text-align: left;
                    padding-left: 30px;
                }

                .show_map_mobile ,
                .show_map {
                    font-size: 11px;
                    margin: 0px 5px 0px auto;
                    padding: 2px 5px;
                    cursor: pointer;
                    font-weight: 500;
                    border: 1px solid;                
                }
                
                .show_map_mobile {
                    display: none;
                    color: #fff;
                }



                .contact_div_title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 3px;
                    
                }        
                .contact_div_text {

                    // Changes
                    //////////////////////////
                    // text-align: left;
                    // position: relative;
                    // left: 45px;            
                    // margin-bottom: 10px;
                    //////////////////////////


                    > span {
                        font-weight: 500;
                        display: block;
                    }
                }
            }
        }
    }

}



form.form_quote {
    display: flex;
    flex-wrap: wrap;
    .form-col {
        width: 49%;
        padding: 20px;
        display: inline-block;    
    }
    .custom-file-input {
        cursor: pointer;
    }


    .btn-almani.clear-file-input:hover,
    .btn-almani.clear-file-input {
        padding: 0;
        background-color: transparent;
        color: #000;
        font-size: 24px;
        border: 0;
    }

    textarea {
        height: 200px;
    }

    div.files {
        margin-top: 45px;
    }
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////






.submit_div {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}





form {
    .file-row {
        margin-bottom: 15px;
    }
}


.google_maps {
    height: auto;    
    .map_section {
        height: 400px;
        #map_container {
            width: 100%;
            height: 100%;            
        }
    }
}











// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}

.section_title {
    padding: 130px 10px 1px;
}


.intro_texts {
    flex-wrap: wrap;
    .intro_text {
        margin-top: 25px;
        width: 100%;
        padding: 5px;
        .title {
            font-size: 13px;
            line-height: 20px;
            width: 95%;        
        }
        .title_p {
            // font-size: 15px;
            padding: 0;
            width: 75%;   
        }
        .img_bg {
            height: 150px;
        }
    }
}

h5 a {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;    

}

.bar_text {
    padding: 0px;
    flex-direction: column;
    .title { 
        // font-size: 35px;
    }
    .title_p {
        // font-size: 17px;
        width: 90%;        
    }
    > div:first-child { 
        margin-top: 15px;        
    }

    > div:last-child {
        // margin-bottom: 0px;
        margin-bottom: 25px;
        .contact_div:last-child {
            margin-top: 0;
        }
    }
    > div {
        flex-direction: column;
        margin-bottom: 30px;

        .bar_text_title {
            padding-left: 0px;
        }

        > div {            
            .contact_div.address { 
                min-height: auto;
            }
            .contact_div {
                width: 100%;
                // margin: 20px 0 0px;
                p {
                    font-size: 12px;
                }
                .contact_div_title {
                    margin-bottom: 5px;                
                }
                .show_map_mobile{
                    display: inline-block;
                    float: right;
                    margin-top: 5px;
                }
                .show_map,
                .show_map_mobile {
                    font-size: 10px;
                }
            }
        }
    }
}




form.form_quote {
    .form-col {
        width: 100%;
        padding: 0 5px;
    }
    .file-row {
        margin-bottom: 15px;
    }

    textarea {
        height: 200px;
    }
}

.submit_div {
    text-align: right;
}


.alert_container {
    > div {
        margin-top: 80px;
    }
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
