@import "/main-layout";


.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0;
        text-align: justify;
        width: 40vw;
        margin: 0px auto 20px;
    }
}

.image-matrix {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;    

    .image-item {
        margin: auto;
     
        img {
            width: 10%;
        }

    }
}


.item_boxes {

    text-align: center;
    color: #000000;
    padding: 50px 20vw;
    border: 0;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .items {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;    
        margin-top: -44px;

        .item {

            display: inline-flex;
            width: 22%;
            align-items: center;        
            flex-direction: column;
            margin: 10px;
            > span {
                width:50px;
                text-align: center;
                font-size: 40px;                
            }
            > h5 {
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: 500;
                display: block;
                text-align: center;
                width: 100%;
                padding-left: 10px;
                padding-top: 10px;
            }
            > p {
                display: inline-block;
                margin: 0px 10px  10px ;
                font-size: 13px;
                text-align: left;
            }
            .item_img {
                height: 224px;
                width: 100%;
                background-size: cover;
                border: 1px solid #8a8a8a;
            }
        }
    }
}


.items_bg {

    min-height: 450px;
    padding: 0px 0 15px;
    background-size: 100%;
    background-position: center;
    position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // align-content: flex-start;
    
    .intro_text {
        margin-top: 35px;

           span, .bold {
                font-weight: 500;
                font-size: 15px;
            }
      
    }

    .img_text_boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: 100%;
        .img_text_box {
            width: 25%;
            margin: 20px 35px 0px;
            .img_box {
                height: 200px;
                background-position: center;    
                border: 1px solid #8a8a8a;
                background-size: 120%;
                background-repeat: no-repeat;
            }

            .text_box {
                h1 {
                    font-size: 14px;
                    // margin: 7px 5px -2px 0px;
                    margin: 17px 9px -2px 0px;
                    font-weight: 500;
                    height: 20px;
                }
                p {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }

}

.bar_text {

    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    background-color: #000000;
    color: #fff;

    .title_p {
        margin: 20px 0 0px;
        font-size: 14px;
    }
    
    .title {
        margin: 20px 0 20px;
        font-size: 15px;
        font-weight: 500;
        a {
            color: white;
        }
    }

}


































































// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .section_title {
        padding: 130px 10px 1px;
    }

    .intro_text {
        .title_p {
            width: 90vw;
           
        }
        .title {
            font-size: 17px;
            padding: 0 10vw;
            margin: 20px 0px;
        }
    }


    .item_boxes {
        padding: 45px 1vw;
        .items {
            .item {
                width: 100%;

                h5 {
                     padding-left: 0px;
                     padding-top: 10px;
                }
            }
        }
    }


    .items_bg {
        background-size: auto 100%;
        background-position: bottom;
        .img_text_boxes {
            flex-direction: column;
            .img_text_box {
                width: auto;
                margin: 20px 2px 15px;
                .text_box {
                    h1 {
                        font-size: 14px;
                        // margin: 15px 10px 10px 0px;
                        margin: 12px 6px 1px 0px;
                        height: 20px;        
                    }
                    p {
                        font-size: 14px;               
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    

    .image-matrix {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .image-item {
            margin: auto;
            .img {
                width: 10%
            }
        }   
    }

    .bar_text {

        .title_p {
            margin: 20px 0 0px;
            font-size: 14px;
        }
        
        .title {
            margin: 10px 0 20px;
            font-size: 15px;
    
            a { 
                color: white;
                text-decoration: underline;
            }

            .tel-text {
                display: block;
            }
        }
    }

    .choose-almani {
        max-width: 100%;
        margin-bottom: 0px;

        .almani-items {
            width: 100%;
            margin-bottom: 20px;
            padding: 0px 0px;
        }

        .intro_text {  
            .title_p {
                width: 90vw;
                margin: 0px auto 20px;
            }
        }

        .choose-almani-even {
            border: 0px solid gainsboro;
        }

        .row-1, .row-2 {
            width: 100%;
            flex-direction: column;
        }
    }

    .alert_container {
        > div {
            margin-top: 80px;
        }
    }
    

    



    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
    }
    // max-width: 780px
    