@import "/main-layout";


.download-container {

    display: flex;
    flex-basis: 100%;
    width: 84%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .download-item {

        width: 25.5%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .img-container {
            width: 100%;
            position: relative;
            text-align: center;

            img {
                width: 315px;
                height: auto;
                padding: 13px;
            }
            
            span {
                display: block;
            }
        }

        .overlay-image {
            flex-wrap: wrap;
            position: absolute;
            top: 6px;
            border: 1px solid gainsboro;
            /* padding: 96px; */
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.8);
            /* width: 61%; */
            width: 90%;
            height: 46vh;
        }

    }
}



































































































































































@media screen and (max-width: 1540px) {

    .download-container {

        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        .download-item {

            text-align: center;
            width: 24%;

            .img-container {

                text-align: center;

                img {

                    width: 339px;
                    height: auto;
                    padding: 28px;

                }
            }
        }
    }

}


















@media screen and (max-width: 1284px) {

    .download-container {

        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        .download-item {

            text-align: center;
            width: 24%;

            .img-container {

                text-align: center;

                img {

                    width: 318px;
                    height: auto;
                    padding: 28px;

                }
            }
        }
    }

}













@media screen and (max-width: 1178px) {

    .download-container {

        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100%;

        .download-item {

            text-align: center;
            width: 33%;

            .img-container {

                text-align: center;

                img {

                    width: 318px;
                    height: auto;
                    padding: 8px;

                }
            }
        }
    }

}











@media screen and (max-width: 974px) {

    .download-container {

        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100%;

        .download-item {

            text-align: center;
            width: 50%;

            .img-container {

                text-align: center;

                img {

                    width: 318px;
                    height: auto;
                    padding: 28px;

                }
            }
        }
    }

}



























// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    .download-container {

        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        .download-item {

            margin-top: 10px;
            text-align: center;
            width: 100%;

            .img-container {

                text-align: center;

                img {

                    width: 319px;
                    height: auto;

                }
            }
        }
    }








    //////////////////////////
    // Can be used for all //
    ///////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////




    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
}

// max-width: 780px