@import "/main-layout";



.section_title {
    // padding: 80px 20px 35px;
}


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////


.bar_text_backdrop {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        font-size: 14px;
        position: relative;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}

.intro_texts {
    display: flex;

    .intro_text {
        text-align: center;
        width:50%;
        display: flex;
        padding: 20px;
        .title {
            font-size: 20px;
            line-height: 30px;
        }
        .title_p {
            padding: 40px 20px;
            text-align: center;
            // changes
            ////////////////////////////
            text-align: justify;
            ////////////////////////////
            color: #555;
            margin: 0;
            span,
            a {
                font-weight: 600;
                color: #000;
            }

        }
        .img_bg {
            height: 100%;
            width: 100%;
            border: 1px solid #797979;
            background-position: center;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
}





.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 10px auto 20px;
        font-size: 16px;
        width: 50%;
    } 
    
    .title {
        margin: 20px 0 25px;
        font-size: 20px;
        padding: 10px 0;
    }

}



form.form_quote {
    display: flex;
    flex-wrap: wrap;
    .form-col {
        width: 49%;
        padding: 20px;
        display: inline-block;    
    }
    .custom-file-input {
        cursor: pointer;
    }


    .btn-almani.clear-file-input:hover,
    .btn-almani.clear-file-input {
        padding: 0;
        background-color: transparent;
        color: #000;
        font-size: 24px;
        border: 0;
    }

    textarea {
        height: 365px;
    }

    div.files {
        margin-top: 45px;
    }
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////






.submit_div {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;    
}





form {
    .file-row {
        margin-bottom: 15px;
    }
}










// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}

.section_title {
    padding: 130px 10px 5px;
}


.intro_texts {
    flex-wrap: wrap;
    .intro_text {
        margin-top: 25px;
        width: 100%;
        padding: 5px;
        .title {
            // font-size: 17px;
        }
        .title_p {
            font-size: 16px;
            padding: 0 0 30px;
        }
        .img_bg {
            height: 150px;
        }
    }
}

.bar_text {
    padding: 0 20px;
    margin-bottom: 20px;
    .title { 
        font-size: 20px;
    }
    .title_p {
        font-size: 15px;
        width: 90%;        
    }
}


.video_container {
    padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}


form.form_quote {
    .form-col {
        width: 100%;
        padding: 0 0px;        
    }
    .file-row {
        margin-bottom: 15px;
    }

    textarea {
        height: 200px;
    }
}

.submit_div {
    text-align: right;
}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
