@import "/main-layout";

.img_text_boxes {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img_text_box {

        width: 27.33333%;
        margin: 20px 35px 0;

        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
        
    }
}

.jumbotron{
	height: 90vh;
}

.card-size{
	width: 50%;
    height: 100%;
}

.benefits {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    background-color: #191919;
    // background-size: auto 100%;

    
    color: #fff;
    padding: 50px 20vw;
    border: 0;
    
    position: relative;
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .benefits_items {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;        

        .benefits_item {
            display: inline-flex;
            width: 25%;
            align-items: center;        
            flex-direction: row;
            img {
                width:50px;
            }
            p {
                display: inline-block;
                padding: 10px 20px 10px 10px;
                margin: 10px;
                font-size: 14px;
                text-align: left;
            }
        }
    }
}


@media screen and (max-width: 780px) {

	.card-size{
		width: 100%;
	}

	.jumbotron{
		height: 100%;
		padding-top: 100px;
	}

	.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
}

.benefits {
    padding: 30px 10px;
    .title {
        margin: 0px 0 15px;
        font-size: 20px;
    }
    .benefits_items {
        .benefits_item {
            width:85%;
            img {
                width: 40px;
            }
            p {
                padding: 10px;
                margin: 5px;
                font-size: 12px;
            }
        }
    }
}

.section_title {
    padding: 50px 10px 20px;
}



}