@import "/main-layout";

@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";







.section_title {
    // padding: 80px 20px 70px;
}

h1.title {
    font-size: 18px;
    font-weight: 500;
}


.light_refits {
    max-width: 1500px;
    display: flex;
    > div.div_container {
        width: 75%;
        padding: 5px 40px;
        p {
            text-align: justify;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    > div.div_container.d1st {
        // border-left: 2px solid transparent;
        align-items: center;
        justify-content: flex-end;
        display: inline-flex;
        width: 50%;
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
            width: 370px;
            display: inline-block;
            margin-bottom: 20px; 
            margin-left: 20px;
        }
        .light_refits_img {
            display: inline-block;  

            width: 90%;
            height: 90%;
            min-height: 250px;

            background-size: 100%;
            background-position: center;
            margin: 0px 15px;
            border: 1px solid #8c8c8c;
        }
    }
    > div.div_container.d2nd {
        width: 40%;
        display: inline-flex;
        margin-left: auto;
        flex-direction: column;
        justify-content: center;
        // border-left: 2px solid transparent;
        h1 {
            text-align: center;
        }
    }
}

.text_right.light_refits {
    justify-content: flex-start;
    > div.div_container {
        .title {
            // text-align: left;
        }
    }
    > div.div_container.d2nd {
        border-left: 2px solid transparent;
        margin-right: auto;
        margin-left: 0;        
    }
}

.text_left.light_refits {
    > div.div_container {
        .title {
            // text-align: right;
        }
    }
    > div.div_container.d1st {
        justify-content: flex-start;
    }
    > div.div_container.d2nd {
        border-right: 2px solid transparent;
    }
}


.lighting_advice,
.design_range,
.led_install,
.rental_solution {
    margin-bottom: 60px;
}

.light_refits {
    margin-bottom: 100px;    
}










































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.light_refits,
.lighting_advice,
.design_range,
.led_install,
.overview_poor,
.rental_solution {
    flex-direction: column;
}

.light_refits {
    margin-bottom: 50px;
    > div.div_container {
        width: 100%;
        padding: 0;
        flex-direction: column;
        padding: 10px;
    }
    > div.div_container.d1st {
        width: 100%;
        .light_refits_img {
            margin: 0;
            width: 100%;
            background-size: 140%;
        }
        p {
            margin: 0;
            padding: 10px;
            width: 100%;       
        }
    }
    > div.div_container.d2nd {
        width: 100%;
        h1 {
            text-align: left;
        }
    }
}


.text_right.light_refits {
    flex-direction: column-reverse;
    > div.div_container.d2nd {
        border-left: 0;
    }
}

.text_left.light_refits {
    > div.div_container.d1st {
        justify-content: flex-start;
    }
    > div.div_container.d2nd {
        border-right: 0;
    }
}




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////


.section_title {
    // padding: 130px 10px 30px;
}



.alert_container {
    > div {
        margin-top: 80px;
    }
}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
