@import "../global";
@import "../preloader";

// Bootstrap
@import "../../vendors/bootstrap/css/bootstrap.min.css";

// Libraries CSS Files
// @import "../../vendors/font-awesome/5.1.0/css/all.css"; 
@import "../../vendors/animate/animate.min.css";
@import "../../vendors/ionicons/css/ionicons.min.css";
@import "../../vendors/magnific-popup/magnific-popup.css";
@import "../../vendors/ionicons/css/ionicons.min.css";

body {
    overflow-y: hidden;
}


.grecaptcha-badge { visibility: hidden; }



.padding-bottom-reset {
    padding-bottom: 0;
}

a[href^=tel] {
    text-decoration: inherit;
    color: inherit;
}

/* applies to GIF and PNG images; avoids blurry edges */
// img[src$=".gif"], img[src$=".png"] {
//img {
//    image-rendering: -moz-crisp-edges;         /* Firefox */
//    image-rendering:   -o-crisp-edges;         /* Opera */
//    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
//    image-rendering: crisp-edges;
//    // -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
//    -ms-interpolation-mode: bicubic;  /* IE (non-standard property) */
//}


#browser_notification {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    z-index: 11;

    display: none;

    >div {
        background-color: #d81909;
        padding: 15px 30px 10px;
        margin: 0px;
        border-radius: 0px 0px 3px 3px;
        border: 1px solid #dbdbdb;
        border-top: 0px;
        color: #fff;
        font-weight: bold;
        box-shadow: 0 0 35px -5px #dbdbdb;
    }

    >div p {
        font-size: 12px;
        color: #fff;
    }

    >div ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    >div ul li {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-size: 10px;
        width: 25%;
        height: 100%;
        margin-right: 10px;
    }

    >div ul li img {
        height: 40px;
        margin-right: 5px;
    }

}

.input-group-text,
.modal-content,
.form-control,
.btn {
    border-radius: 1px;
}


.modal-header {
    background-color: #1a1d20;
    border-radius: 1px;
    color: #fff;

    .close {
        color: #fff;
    }
}


#contact_us_modal {

    .reach_us {
        text-align: left;
        margin: 15px 0px 35px;

        >span:first-child {
            margin-bottom: 10px;
        }

        >span:last-child {
            margin-top: 10px;
        }

        >span {
            display: block;
        }
    }


    .modal-body {
        padding-bottom: 20px;
    }
}



/////////////////////////////////
// From the Reaveal style css //
//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/*
  Theme Name: Reveal
  Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #444;
    // font-family: "Open Sans", sans-serif;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}


#super-main-container {
    // #body { 
    max-width: 2000px;
    margin: auto;
}


a {
    color: $higlight;
    // transition: 0.5s;
    transition: 0s;
}

a:hover,
a:active,
a:focus {
    // color: #51d8af;
    color: #000;
    // font-weight: bold;  
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: "Montserrat", sans-serif;
    // font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}




// floating-icons
//////////////////////////////////////
//////////////////////////////////////
.floating-icons {
    color: #fff;
}

.floating-icons .icons {
    position: fixed;
    background: $higlight;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    bottom: 15px;
    transition: background 0.5s;
    border: 1px solid #fff;
    width: 42px;
}

.floating-icons .icons:focus {
    background: $higlight;
    color: #fff;
    outline: none;
}

.floating-icons .icons.hover,
.floating-icons .icons:hover {
    // background: #0c2e8a;
    // color: #fff;

    background: #fff;
    color: #000;
    border: 1px solid;
}


.floating-icons {

    // for desktop
    .messaging_btn {
        left: 62px;
        bottom: 17px;
    }

    .messaging_container {
        left: 40px;
        bottom: 67px;
    }

    // for the product page
    .messaging_btn_product {
        left: 62px;
        bottom: 17px;
    }

    .messaging_container_product {
        left: 40px;
        bottom: 67px;
    }

    .share_product_btn {
        right: 15px;
        bottom: 60px;
        // left: 15px;
        // bottom: 65px;        
    }

    .option_products_btn {
        right: 15px;
        bottom: 105px;
        // left: 15px;
        // bottom: 115px;        
    }

    .floating-container.share_products {
        right: 85px;
        bottom: 60px;
        // left: 85px;
        // bottom: 65px;
    }

    .floating-container.other_options_products {
        right: 85px;
        bottom: 105px;
        // left: 85px;
        // bottom: 115px;
    }

    .floating-container {
        position: fixed;
        background-color: #fff;
        border: 1px solid #444;
        padding: 15px;
        display: none;

    }


    /* Back to top button */
    .back-to-top {
        right: 15px;
        display: none;
    }

    /* Contact Us button */
    .contact_us {
        // right: 15px;
        // bottom: 65px;
        left: 15px;
        bottom: 17px;
    }

    // hide social media icons placement in desktop
    .social-media-icons {
        display: none;
    }

    .mb-whatsapp {
        display: none;
    }

    .product-whatsapp {
        display: none;
    }

}


@media (max-width: 768px) {
    .floating-icons {
        .contact_us {
            // display: none;    
        }

        .back-to-top {
            bottom: 15px;
            display: none;
        }
    }
}


//////////////////////////////////////
//////////////////////////////////////
// floating-icons




/////////////
// button //
////////////////////////////////////////
.btn-almani.btn-sm {
    padding: 2px 7px;
    font-size: 12px;
}

a.btn-almani:not([href]):not([tabindex]),
.btn-almani {
    background: $higlight;
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 1px;
    cursor: pointer;
    bottom: 15px;
    transition: background 0.5s;
    border: 1px solid #fff;
    width: auto;
}

.btn-almani:focus {
    background: $higlight;
    color: #fff;
    outline: none;
}


a.btn-almani:not([href]):not([tabindex]):hover,
.btn-almani.hover,
.btn-almani:hover {
    // background: #0c2e8a;
    // color: #fff;

    background: #fff;
    color: #000;
    border: 1px solid;
}

////////////////////////////////////////
// button //
///////////






.section_title {
    // padding: 80px 20px 50px;
    padding: 80px 20px 50px;


    // changes
    /////////////////////////////////
    // padding: 80px 20px 30px;  
    /////////////////////////////////
    >h1 {
        color: #444;
        font-size: 20px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 3px;
        margin: 0 0 7px 0;
        // text-transform: uppercase;
        position: relative;
        display: block;
        text-align: center;
    }

    >h1:before,
    >h1:after {
        background: #d2d2d2;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        top: -5px;
        width: 30px;
        // transform: translateY(-50%); 
    }
}






/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    padding: 10px 0;
    // border-bottom: 1px solid #eee;
    border-bottom: 1px solid transparent;
    font-size: 14px;
}

#topbar .contact-info a {
    line-height: 1;
    // color: #555;
    color: #7d7d7d;
}

#topbar .contact-info a:hover {
    color: $higlight;
    font-weight: normal;
}

#topbar .contact-info i {
    color: $higlight;
    padding: 4px;
}

#topbar .contact-info .fa-phone {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
    color: #555;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
    color: $higlight;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    height: auto;
    display: block;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    padding-bottom: 5px;
    max-width: 2000px;

    #logo {
        // bottom: 10px;
        // position: relative;
        float: right;
        position: relative;
        // bottom: 5px;
        // margin-right: 10%;
        bottom: 10px;
        margin-right: 5%;

        h1 {
            font-size: 42px;
            margin: 0;
            padding: 0;
            line-height: 1;
            // font-family: "Montserrat", sans-serif;
            font-weight: 700;

            a {
                color: #0c2e8a;
                line-height: 1;
                display: inline-block;

                span {
                    color: $higlight;
                }
            }

        }

        img {
            padding: 0;
            margin: 0;
            height: 45px;
        }
    }
}

@media (max-width: 768px) {
    #header {
        padding: 20px 0;
        height: 74px;

        #logo h1 {
            font-size: 34px;

            img {
                max-height: 40px;
            }
        }
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    // z-index: 99;
    z-index: 1000;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

// .nav-menu li:hover > ul,
// .nav-menu li.sfHover > ul ,
// .nav-menu li:hover.menu-has-children > ul {
//   display: block;
// }

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Meu Container */
#nav-menu-container {
    float: left;
    margin: 0;
    margin-left: 10%;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #555;
    // font-family: "Raleway", sans-serif;
    // font-family: "Open Sans", sans-serif;
    // font-weight: 700;
    font-weight: normal;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: $higlight;
}


.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 0px;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: $higlight;
}

.nav-menu ul ul {
    margin: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f2f5f8;
    padding: 0 0 30px 0;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #555;
}

#footer .credits a {
    color: #0c2e8a;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
// From the Reaveal style css //
///////////////////////////////



///////////// 
// Footer //
/////////////////////////////
/////////////////////////////////////////////////////////////////
.footer-widget-area {
    .footer_group:first-child {
        justify-content: flex-start;
    }

    .footer_group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        width: 50%;

        .footer_links {
            // margin-top: -7px;
            display: flex;
            flex-wrap: wrap;

            li.li_text {
                width: auto;
                margin: 0px 10px;
            }

            li.li_text a {
                color: rgba(255, 255, 255, 0.7);
                color: rgb(167, 167, 167);
                color: #000;
                font-size: 12px;
            }

            li.li_text a:hover {
                color: #000;
            }

            li.li_separator i {
                font-size: 5px;
                vertical-align: middle;
                margin: 0 5px;
                color: #efefef;
            }
        }

        .footer_text {
            // font-size: 10px;
            font-size: 12px;
            color: #000;
            text-align: left;
            line-height: 15px;
            margin: 0;
            margin-left: 10%;

            >span {
                display: block;
            }
        }
    }

    .footer_img {
        text-align: center;
        width: 100%;
    }

    img.camel_logo {
        height: 20px;
    }

}


.size{
  width: 75%
}

.card-size{
  width: 50%;
  height: 10vh;
}



.link-text{
  display: inline-block;
}

.link-icon{
  display: inline-block;
    position: relative;
    top: 1px;
    font-size: 15px;
}

.img-size{
  width: 30%;
}

.promo-height{
    height: 100%
}


@media screen and (max-width: 780px) {


.promo-height{

    height: 75%

}
    .size{
        width: 100%;
        margin-top: 100px;
    }


    .link-text{
        font-size: 20px;
    }

    .card-size{
        height: 20vh;
        width: 100%;
        padding-top:0px;
    }

    .second-row {
        margin-top: 0px !important;

    }

    .img-size{
        width: 60%;
        padding-top:25px;
    }

    .promo-logo{

        display: none;
    }
}







.popup {

  .mew_form {
        padding: 53px 0 10px;
   }


  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 11221;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;

  &-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
        flex-direction: row-reverse;
  }
  &__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    padding: 2rem;

  }



  &__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #000;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .default_divider_big {
    margin-bottom: 0px;
  }

  .thank-you {
    // margin-top: 102px;
    // margin-bottom: 56px;
  }

  .mt-bottom {
    margin-bottom: 24px;
  }

  .mt-top {
    margin-top: 68px;
  }

}

.popup_show {
 visibility: visible;
 opacity: 1;

  .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
  }

}
 
.popup_close {
visibility: hidden;
     opacity: 0;

}




/////////////////////////////////////////////////////////////////
/////////////////////////////
// Footer //
///////////


.alert_container {
    margin-top: 40px;
    margin-bottom: -60px
}












.btn-group-sm>.btn,
.btn-sm {
    border-radius: 1px;
}






#nav-menu-container {

    .nav-menu {

        >.current_page:after,
        >.menu-active:after {
            border-bottom: 1px solid $yellow;
            transform: scaleX(1);
        }

        .caret_down,
        .caret_right {
            // display:inline-block;
            display: none;
            position: relative;
            top: 1px;
            margin-left: 10px;
            width: 9px
        }


        .menu-has-children {


            ul {

                // border animation
                ////////////////////////////////////
                >li a {
                    border-bottom: 2px solid transparent;
                    display: inline-block;
                    line-height: 30px;
                    padding: 5px 5px;
                }

                >li:hover {
                    // color: #e4ad00; 
                }

                >li:hover>a:after {
                    transform: scaleX(1);
                }

                >li.menu_active>a:after,
                >li>a:after {
                    display: block;
                    content: '';
                    border-bottom: solid 1px $yellow;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;

                    // makes it left to right
                    // transform-origin:  0% 50%;
                }

                ////////////////////////////////////
                // border animation

            }



        }

        // border animation
        ////////////////////////////////////
        >li a {
            display: inline-block;
        }

        >li:hover {
            // color: #e4ad00; 
        }

        >li:hover:after {
            transform: scaleX(1);
        }

        >li:after {
            display: block;
            content: '';
            border-bottom: solid 1px $yellow;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;

            // makes it left to right
            // transform-origin:  0% 50%;
        }

        ////////////////////////////////////
        // border animation

    }
}






.floating-icons {
    >* {
        z-index: 99;
    }
}










#header>.container {
    max-width: 100%;
    padding: 0;
}



/////////////////////
// Menu Container //
/////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
.menu_container {

    z-index: 999;
    width: 100%;
    background-color: $white;
    padding: 0 10%;

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu {

        border-radius: 0px;
        background-color: $white;
        box-shadow: none;
        border: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;


        .group_by {
            display: inline-flex;
            margin-right: 20px;
            margin-bottom: 20px;
            position: relative;

            width: auto;
            flex-direction: column;
            min-width: 220px;

            border-right: 1px solid gainsboro;


            >div {
                cursor: pointer;
                color: #333;
                // font-weight: 700;
                font-weight: 500;
                text-transform: none;
                line-height: 15px;
                margin-right: 15px;

                font-size: 14px;
                border-bottom: 0;
                padding: 10px 5px;

                span {
                    color: #333;
                    padding-bottom: 5px;
                    border-bottom: 1px solid transparent;
                }
            }

            >div.current_page,
            >div.selected {
                // font-weight: bold;
                border: 0;

                span {
                    border-bottom: 1px solid #ffc100;
                }
            }
        }

        .menu_group {
            display: inline-flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;

            // width: auto;
            width: 100%;

            margin: 0;
            padding: 0;

            >div.menu_group_content {
                width: 100%;
                display: flex;
                // justify-content: center;
                // flex-direction: column;
                // text-align: center;
                flex-wrap: wrap;
                padding: 15px;
                font-size: 14px;

                >h5 {
                    display: block;
                    width: 100%;
                    text-align: center;

                    >a {
                        border-bottom: 1px solid;
                        padding-bottom: 3px;
                    }
                }

                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-left: 0;

                    >li {
                        margin: 5px 5px 15px;
                        padding: 5px 20px;
                        // width: 24%;
                        width: 32%;
                        // border: 1px solid;
                        display: inline-flex;
                        flex-direction: column;

                        p,
                        h5 {
                            font-size: 13px;
                            margin: 0;
                        }

                        h5 {
                            font-weight: 500;
                            margin-bottom: 5px;
                            text-align: left;
                        }

                        p {
                            font-size: 12px;

                            img {
                                height: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }


        }


    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// Menu Container //
///////////////////




////////////////////
// Products Menu //
/////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
#products_menu_container {

    // position: absolute;
    // position: fixed;
    // margin-top: 20px;
    z-index: 999;
    width: 100%;
    background-color: $white;
    padding: 0 10%;

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    #products_menu {

        border-radius: 0px;
        background-color: $white;
        box-shadow: none;
        border: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px 20px 0;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        // align-items: flex-start;

        .close_products_menu {
            cursor: pointer;
            position: absolute;
            right: 0;
        }

        .group_by {
            display: inline-flex;
            margin-right: 20px;
            margin-bottom: 20px;
            position: relative;

            width: auto;
            flex-direction: column;
            min-width: 250px;

            border-right: 1px solid gainsboro;

            >div.cursor_default {
                cursor: default;
            }

            >div {
                cursor: pointer;
                color: #333;
                // font-weight: 700;
                font-weight: 500;
                text-transform: none;
                line-height: 15px;
                margin-right: 15px;

                font-size: 14px;
                border-bottom: 0;
                padding: 10px 5px;
            }

            >div.selected {
                // border-bottom: solid 2px #ffc100;
                // font-weight: bold;
                border: 0;

                >span {
                    border-bottom: 1px solid #ffc100;
                    padding-bottom: 5px;
                }
            }
        }

        .product_group.by_category {
            height: 260px;
        }

        .product_group.by_application_areas {
            height: 440px;
        }

        .product_group.menu_group {

            .menu_group_content {
                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-left: 0;

                    >li {
                        margin: 5px 5px 15px;
                        padding: 5px 20px;
                        width: 24%;
                        height: auto;
                        // border: 1px solid;
                        display: inline-flex;
                        flex-direction: column;

                        >a:hover {
                            font-weight: normal;
                        }

                        >a {
                            display: inline-flex;
                            flex-wrap: wrap;
                            height: auto;
                        }

                        p,
                        h5 {
                            font-size: 13px;
                            margin: 0;
                        }

                        h5 {
                            font-weight: 500;
                            margin-bottom: 5px;
                            width: 100%;
                        }

                        p {
                            font-size: 12px;

                            img {
                                height: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }


        // .product_group.by_category {
        //     display: flex;
        //     flex-wrap: wrap;
        //     width: 100%;
        //     padding-left: 0;            
        // }

        .product_group.by_application_areas li {
            width: 150px;
        }

        .product_group.by_category li {
            width: 190px;
        }

        .product_group {
            display: inline-flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;
            min-height: 250px;


            // width: 50%;
            // width: 95%;
            width: 100%;
            height: auto;

            margin: 0;
            padding: 0;

            // Changes
            ////////////////////////////////////////            
            width: 100%;
            flex-direction: column;
            column-count: 2;
            ////////////////////////////////////////

            li {
                // width: 185px;
                // width: 240px;
                // width: 25%;
                height: 30px;
                white-space: normal;

                // Changes
                ////////////////////////////////////////
                width: 200px;
                ////////////////////////////////////////

                >a:hover {
                    color: #000;
                    font-weight: 500;
                }

                >a {
                    color: #333;
                    // transition: 0.3s;
                    font-size: 13px;
                    // font-family: "Open Sans", sans-serif;
                    // font-weight: 700;                
                    text-transform: none;

                    line-height: 15px;
                    border-bottom: solid 2px transparent;
                    padding: 5px;
                    display: inline-flex;
                    height: 100%;
                    // align-items: center;
                    align-items: flex-start;
                    cursor: pointer;
                }

                >a:after {
                    border-bottom: solid 2px transparent;
                }

                >a.selected:after {
                    border-bottom: 1px solid red;
                }

                >a.selected {
                    // font-weight: bold;
                    font-weight: 500;
                    color: #000;
                }
            }
        }

        .sub_group {
            display: inline-flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: flex-start;


            // width: 50%;
            // width: 95%;
            width: auto;

            margin: 0;
            padding: 0;

            width: 50vw;
            position: absolute;
            padding-bottom: 20px;

            >span {
                float: right;
                position: absolute;
                right: 10px;
                top: 5px;
                z-index: 1;
                cursor: pointer;
            }

            .product_list {
                width: 100%;

                position: relative;
                background: #fff;
                border-radius: 2px;
                padding: 10px 25px 16px 25px;

                flex-direction: column;

                border: 1px solid #d4d4d4;
                box-shadow: none;

                max-height: 320px;
                overflow-y: auto;

                >div {
                    padding: 5px 0px 15px 0px;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                }

                >div {

                    .showall {
                        color: white;
                    }

                    .showall:hover {
                        color: black;
                    }

                    button {
                        float: right
                    }
                }

                ul {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: inline-flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-content: flex-start;

                    li {
                        width: 25%;

                        >a {
                            img {
                                // width: 50px;
                                // max-height: 25px;
                                height: 25px;
                                margin-right: 5px;
                                display: inline-block;
                            }
                        }

                        >a:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// Products Menu //
//////////////////



// For hiding and showing
//////////////////////////////////////
.show_hide_group {}

.hide_group {
    display: none !important;
}

.show_group {
    display: block !important;
}

.left_pos {
    right: 0;
}

//////////////////////////////////////
// For hiding and showing











// Footer
///////////////////////////////////////
///////////////////////////////////////

.subscription-area {
    // padding-bottom: 90px;
    padding-bottom: 50px;
}

.subscription input {
    width: 100%;
    line-height: 50px;
    padding: 0 180px 0 25px;
    // border: none;
    border: 1px solid #6c757d;
    background: transparent;
    font-weight: 300;
    border-radius: 2px;
    background: #f9f9ff;
}

.subscription .btn-subscribe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    // background: #e0003b;
    color: #fff;
}

.subscription .btn-subscribe span {
    color: #fff;
}

.subscription .info {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 12px;
}

.subscription .info.valid {
    color: #fff;
}

.subscription .info.error {
    color: #fff;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-gap {
    // padding: 50px 0;
}

.footer-widget-area {

    // padding: 40px 0 25px 0;
    padding: 25px 0 25px 0;
    position: relative;
    font-size: 14px;
    // box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.06);

    r always on bottom .single-footer-widget {

        // margin-bottom: 30px;
        h6 {
            font-weight: 500;
        }
    }

    .overlay.overlay-bg {
        // background: rgb(115,0,0);
        // background: -moz-linear-gradient(353deg, rgba(115,0,0,1) 0%, rgba(89,0,0,1) 35%, rgba(40,0,0,1) 100%);
        // background: -webkit-linear-gradient(353deg, rgba(115,0,0,1) 0%, rgba(89,0,0,1) 35%, rgba(40,0,0,1) 100%);
        // background: linear-gradient(353deg, rgba(115,0,0,1) 0%, rgba(89,0,0,1) 35%, rgba(40,0,0,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#730000",endColorstr="#280000",GradientType=1);  

        // background: rgb(167, 167, 167);
        // background: linear-gradient(360deg, #ffffff 0%, rgb(167, 167, 167) 0%, rgb(66, 66, 66) 100%);
        // background: linear-gradient(360deg, #ffffff 0%, rgb(167, 167, 167) 0%, rgb(146, 146, 146) 100%);

        background: #fff;
    }


    .overlay-bg {
        background: rgba(224, 0, 59, 0.8);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .footer-nav {
        margin-top: -7px;
        margin-top: -7px;
        display: flex;
        flex-wrap: wrap;

        li {
            // margin-top: 8px;
            // margin-top: 2px;
            margin-top: 0px;
            width: 50%;
        }

        li a {
            color: rgba(255, 255, 255, 0.7);
            color: rgb(167, 167, 167);
        }

        li a:hover {
            color: #000;
        }
    }

    ol,
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer-bottom {

        // padding-top: 40px;
        .footer-text {
            // font-weight: bold;
            font-size: 10px;
            color: #000;
            // font-weight: bold; 
            text-align: left;
            line-height: 15px;

            >span {
                display: block;
            }
        }
    }


    .instafeed {
        margin: -5px;
        justify-content: center;
        align-items: center;
    }

    .instafeed li {
        overflow: hidden;
        // width: 25%;
    }

    .instafeed li img {
        margin: 5px;
    }

    .trademark_logos {
        font-size: 12px;
        // font-size: 9px;
        // vertical-align: text-top;        
    }

}

///////////////////////////////////////
///////////////////////////////////////
// Footer











#search_container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    display: inline-block;
    width: auto;

    .search_div {
        // box-shadow: 0px 0px 60px -15px #656565;
        box-shadow: 0px 0px 50px -20px #656565;
        width: 260px;
        margin-bottom: 0;

        input {
            text-transform: capitalize;
            border: 1px solid #c3c3c3;
        }

        input:focus {
            box-shadow: none;
            border: 1px solid;
        }

        .btn-almani {
            bottom: 0;
            border: 1px solid #000;
        }

        button {
            border: 1px solid #c3c3c3;
        }
    }
}

















.main-content {
    padding-top: 15px;
}


@media (min-width: 1200px) {
    .container {
        // max-width: 1140px;
        // max-width: 80%;
        max-width: 90%;
    }
}



#nav-menu-container-mobile {
    display: none;
}





.by_sectorsweserve {
    >div {

        .item_boxes {
            border-top: 1px solid;
            border-bottom: 1px solid;
            text-align: left;
            // background-color: #464646;
            // background-color: #191919;
            // background-size: auto 100%;


            color: #000000;
            padding: 10px;
            border: 0;

            position: relative;

            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;

            // box-shadow: 0 0 70px -20px #dedede;

            .backdrop {
                background-color: rgba(255, 255, 255, 0.90);
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }


            .title {
                position: relative;
                margin: 0px 0 40px;
                font-size: 23px;
                font-weight: 500;
                text-align: center;
            }

            .items {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;

                .item {
                    display: inline-flex;
                    width: 12%;
                    align-items: center;
                    flex-direction: column;
                    margin: 10px;

                    >span {
                        width: 50px;
                        text-align: center;
                        font-size: 30px;
                    }

                    >h5 {
                        font-size: 15px;
                        margin-bottom: 15px;
                        font-weight: 500;
                        text-align: center;
                    }

                    >p {
                        display: inline-block;
                        padding: 0px 20px 10px 10px;
                        margin: 0px 10px 10px;
                        font-size: 13px;
                        text-align: justify;
                    }
                }
            }


        }
    }
}







p {
    font-size: 14px;
}







///////////////////////
// max width 2000px //
/////////////////////////////////////////////
section {
    max-width: 2000px;
    margin: 0 auto;
}

footer {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

#header>.container {
    max-width: 2000px;
}

/////////////////////////////////////////////
// max width 2000px //
/////////////////////










#strap_lines {
    max-width: 80vw;
    position: absolute;
    top: 65vh;
    left: 3vw;
    z-index: 9;

    h4 {
        color: #fff;
        font-size: 40px;
        font-weight: 300;
        text-shadow: 0 0 10px #fff;
        cursor: default;
    }
}


.video_container {
    padding: 0px 20px 20px;
    text-align: center;

    .video_intro_img {
        width: auto;
        padding: 10px;
        margin: auto;
        cursor: pointer;
        // border: 1px solid #cacaca;
        display: inline-flex;
        align-items: center;

        img {
            width: 70px;
        }

        p {
            display: inline-block;
            margin: 0;
            margin-left: 10px;
            font-weight: 500;
            text-align: left;
        }
    }

    .modal-lg {
        max-width: 950px;

        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;
        border: 0;
        margin-top: 30px;
        margin-left: 25px;
    }
}



.youtube_video_modal {
    .modal-lg {
        max-width: 950px;

        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;
        border: 0;
        margin-top: 30px;
        margin-left: 25px;
    }
}


// make footer always on bottom
//////////////////////////////////////
body {
    position: relative;
    padding-bottom: 75px;
    min-height: 100vh;

    footer.footer.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

//////////////////////////////////////
// make footer always on bottom





// COOKIE MODAL 
///////////////////////////////
#cookie-modal {

    // position: fixed;
    // top: 1%;
    // right: 40%;
    // z-index: 998;
    // width: 22%;
    // padding: 16px;
    // border-radius: 4px;
    // background-color: white; 
    // border: 1px solid #dbdbdb;   


    // new positioning

    position: fixed;
    // top: 0%;
    // right: 0%;
    bottom: -1%;
    z-index: 998;
    width: 100%;
    padding: 11px;
    background-color: rgba(23, 24, 27, 0.85);
    max-width: 2000px;




    .cookie-text {

        margin-top: 11px;
        color: #e1e5ea;
        padding-left: 57px;

        h6 {
            font-size: 13px;
            text-align: left;
        }

        .cookie_private {
            font-weight: 500;
            color: #fff;
        }

        .cookiereadtextai {
            display: block;
        }
    }

    .cookie-close {
        // margin-top: -23px;
        // margin-right: -7px;
        // font-size: 18px;

        margin-top: -22px;
        margin-right: -2px;
        font-size: 29px;
        background: transparent;
        color: transparent;
    }

    .cookie-items {
        text-align: center;
    }

}

///////////////////////////////
// COOKIE MODAL 







.custom-file-label {
    border-radius: 0;
}

.legal_menu {
    display: none;
}


.camel_menu {
    display: none;
}



.almani_logo {
    display: inline;
}

.almani_logo-mobile {
    display: none;
}





#footer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-content-container {
    width: 100vw;
    // height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav-menu-container-for-mobile {
    display: none;
}







// SLIDEOUT CSS


.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 2;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    //  min-height: 100vh;
    min-height: 70vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.main:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
    z-index: 2;
}

.panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}


// END SLIDEOUT

.c_default {
    cursor: default!important;
}




// alert hint

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// hint alert for product and categories

 .catalog-product-hint {
    top: 120px;
    right: 20px;
}

.custom-social-proof {

    position: fixed;
    
    z-index: 9999999999999 !important;
    font-family: 'Open Sans', sans-serif;
    display: none;
    width: 320px;



    .custom-notification {

        // width: 85%;
        border: 0;
        text-align: left;
        z-index: 99999;
        box-sizing: border-box;
        font-weight: 400;
        border-radius: 6px;
        box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0);
        background-color: #fff;
        position: relative;
        cursor: pointer;

        .custom-notification-container {

            display: flex !important;
            align-items: center;
            height: 80px;

            .custom-notification-image-wrapper {

                img {
                    max-height: 89px;
                    width: 135px;
                    overflow: hidden;
                    -o-object-fit: cover;
                    object-fit: cover;
                    height: 45px;
                    margin-right: 11px;
                }
            }

            .custom-notification-content-wrapper {
                margin: 0;
                height: 100%;
                color: gray;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 0 6px 6px 0;
                flex: 1;
                display: flex !important;
                flex-direction: column;
                justify-content: center;
                .custom-notification-content {
                    font-family: inherit !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 14px;
                    line-height: 16px;
                    small {
                        margin-top: 3px !important;
                        display: block !important;
                        font-size: 12px !important;
                        opacity: .8;
                        text-align: center;
                    }
                }
            }
        }
        .custom-close {
            position: absolute;
            top: 8px;
            right: 8px;
            height: 12px;
            width: 12px;
            cursor: pointer;
            transition: .2s ease-in-out;
            transform: rotate(45deg);
            opacity: 0;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: gray;
                position: absolute;
                left: 0;
                top: 5px;
            }
            &::after {
                content: "";
                display: block;
                height: 100%;
                width: 2px;
                background-color: gray;
                position: absolute;
                left: 5px;
                top: 0;
            }
        }
        &:hover {
            .custom-close {
                opacity: 1;
            }
        }
    }
}































































///////////////////
// Mobile 1366 //
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media (max-width: 1366px) {
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    // Menu
    // menumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenu //
    .menu_container {
        .menu .menu_group>div.menu_group_content>ul>li {}

    }

    // menumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenumenu //
    // Menu




    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
}

//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// Mobile 1366 //
/////////////////









































































///////////////////
// Mobile 767px //
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media (max-width: 780px) {
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


    // hint mobile
    .custom-social-proof {
        top: -34px;
        right: 7%;
        left: 7%;
        position: fixed;
        width: 85%;

        .custom-close {
            opacity: 1 !important;
        }

    }
    
    .catalog-product-hint {
        top: 73px;
    }
    
    .video_container {
        padding: 0px 20px 20px;

        .video_intro_img {
            width: 75vw;
        }

        iframe {
            width: 100%;
            height: auto;
            margin-left: 0px;
        }
    }

    .youtube_video_modal {
        .video_intro_img {
            width: 75vw;
        }

        iframe {
            width: 100%;
            height: auto;
            margin-left: 0px;
        }
    }

    #strap_lines {
        top: 50vh;

        h4 {
            font-size: 20px;
        }
    }

    .section_title {
        padding: 110px 10px 20px;
    }

    #header {

        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        padding: 15px;

        #nav-menu-container-mobile {
            display: block;
            curser: pointer;
            position: absolute;

            .btn {
                // background-color: transparent;
                border: transparent;
                background-color: #fff;
                font-size: 23px;
                position: relative;
                top: -10px;
            }
        }

        #logo img {
            padding: 0;
            margin: 0;
            height: 27px;
        }

        #nav-menu-container {

            display: none;

            max-height: 93vh;
            overflow-y: auto;

            position: relative;
            z-index: 999;
            width: 100%;
            border: 0px;
            width: 100%;
            border: 0;
            background-color: #fff;
            // background-color: red;
            margin-left: 0;

            >ul.nav-menu {
                display: inline-flex;
                // flex-wrap: wrap;
                flex-direction: column;
                padding: 10px 20px;

                li:hover:after {
                    transform: scaleX(0);
                }

                a:after,
                li.menu-has-children:after,
                li:after {
                    border-bottom-color: transparent;
                }

                li.menu-has-children {
                    ul {
                        position: static;
                        margin: 4px 0 0 15px;
                        padding-top: 0;
                        box-shadow: none;
                        border: none;
                    }
                }

                .caret_down,
                .caret_right {
                    display: inline-block;
                }

                .categories img {
                    width: 55px;
                    height: 25px;
                    display: inline-block;
                }
            }
        }
    }

    // end of header 


    // for mobile header
    #nav-menu-container-for-mobile {
        display: none;
        background-color: white;
        // z-index: 100;

        .menu-mobile {
            padding-top: 52px;
            display: flex;
            flex-direction: column;

            .dd-menu {
                .active {

                    background-color: #333;
                    color: white;
                }
            }

            ul {

                padding: 0;
                margin: 10px 0;
                list-style: none;
                font-size: 13px;

                .menu-list {
                    padding: 10px;
                    border-bottom: 1px solid gainsboro;

                    a {
                        margin-left: 15px;
                        cursor: hand;
                    }

                    i {
                        float: right;
                    }

                }

                .active {
                    background-color: #333;
                    color: white;
                }

                .menu-list-down {

                    padding: 0;
                    margin: 10px 33px;
                    list-style: none;
                    font-size: 13px;
                    display: none;

                    li {
                        padding: 10px;
                    }

                    i {
                        float: right;
                    }

                    .showall_mobile {
                        color: white;
                        margin-left: 36px;
                        margin-top: -10px;
                    }

                    .app-margin-right {
                        position: relative;
                        right: 30px;
                        width: 182px;
                    }

                    .down {
                        display: flex;
                        flex-direction: column;
                        width: 200px;
                        right: 23px;
                        position: relative;

                        .menu-list-down {
                            img {
                                width: auto;
                                height: 25px;
                                display: inline-block;
                            }
                        }
                    }

                    .hide {
                        display: none;
                    }

                }

                .actives {
                    border-bottom: 1px solid gainsboro;
                    font-weight: 500;
                }
            }
        }



        .btn-border {
            border-radius: 26px;
            font-size: 11px;
        }
    }

    // end of the mobile header





    #products_menu_container {
        max-height: 75vh;
        background-color: red;

        #products_menu {
            overflow: hidden;
            // max-height: 65vh;
            // position: relative;
            position: absolute;
            top: 60px;

            .product_group {
                height: 55vh;
                overflow-y: auto;
            }

            .sub_group {
                .product_list {
                    position: fixed;
                    top: 130px;
                    left: 13vw;
                    margin: auto;
                    width: 85vw;
                    display: block;
                    padding: 10px 7px 16px 7px;

                    >div {
                        display: inline-block;
                        text-align: center;
                        margin-bottom: 15px;
                        margin-left: 10px;
                        padding-bottom: 0;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    ul {
                        height: 45vh;
                        overflow-y: auto;

                        li {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .table-scrollable-container {
        overflow-x: scroll;

        .table {
            min-width: 1300px;
        }
    }


    // .caret_down {
    //     display: none;
    // }


    .floating-icons {

        .icons {
            bottom: 15px;
        }

        .contact_us {
            // right: 65px;
            left: 10px;
            bottom: 15px;
        }

        .back-to-top {
            right: 10px;
        }

        .product-whatsapp {
            display: block;
            left: 160px;
            padding: 0px 0px 3px 9px;

            a {
                color: white;
                font-size: 24px;

                :hover {
                    color: #000;
                }

                :focus {
                    color: #000;
                }
            }


        }

        .share_product_btn {
            // right: 115px;
            left: 60px;
            bottom: 15px;
        }


        // social media icons placement in mobile
        .social-media-icons {
            display: block;
            position: fixed;
            background: black;
            color: #fff;
            padding: 2px 11px 4px 11px;
            font-size: 24px;
            cursor: pointer;
            // bottom: 0px;
            bottom: 15px;
            transition: background 0.5s;
            width: 42px;


        }

        .mb-facebook {
            right: 55%;

            a {
                color: white;
            }
        }


        .mb-instagram {
            right: 45%;

            a {
                color: white;
            }
        }

        .mb-linkedin {
            right: 35%;

            a {
                color: white;
            }
        }

        .mb-whatsapp {
            display: block;
            left: 53px;
            bottom: 15px;
            padding: 0px 7px 3px 9px;

            a {
                color: white;
                font-size: 24px;
            }

            a:hover,
            a:active,
            a:focus {
                color: #000;
            }

        }



        // for the product page messaging btn
        .messaging_btn_product {
            left: 159px;
            bottom: 15px;
        }

        // for the product page message container
        .messaging_container_product {
            left: 129px;
            bottom: 70px;
            width: 99px;
        }

        .option_products_btn {
            // right: 165px;
            left: 110px;
            bottom: 15px;
        }

        .messaging_btn {
            left: 53px;
            bottom: 15px;
        }

        .floating-container.share_products {
            left: 60px;
            bottom: 70px;
            width: 198px;
        }

        .floating-container.other_options_products {
            left: 110px;
            bottom: 70px;
            width: 100px;
        }

        .floating-container.messaging_container {
            left: 37px;
            bottom: 70px;
            width: 99px;
        }
    }


    #header #logo {
        float: right;
        bottom: 0;
        margin-right: 0;
        margin-left: 5%;

        // img {
        //     height: 40px;
        // }
    }


    .footer-widget-area {

        padding-top: 20px;
        padding-bottom: 35px;

        .footer-social {
            margin-top: 10px;
        }

        .single-footer-widget {
            text-align: center;
            margin-bottom: 30px;

        }

        .footer-nav li {
            width: 100%;
        }

        .footer-bottom .footer-text {
            text-align: center;
        }
    }


    #search_container {
        width: auto;
        position: relative;
        padding-bottom: 0;
    }


    // for mobile menu, bold when current page
    #nav-menu-container .nav-menu .menu-has-children ul>li.menu-active a {
        font-weight: bold;
    }


    footer.footer {
        padding-top: 10px;
        padding-bottom: 0;
        display: none;

        .rights_reserved {
            display: block;
        }

        .row {

            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            .footer_group {

                margin: 0px 0 15px;
                justify-content: center;
                width: 100%;

                .footer_text {
                    text-align: center;
                }

                .footer_links {
                    width: 78%;

                    .li_text {

                        width: 43%;
                        // padding: 2px;
                        padding: 2px 2px 2px 15px;
                        margin: auto;
                    }

                    .li_separator {
                        display: none;
                    }

                }
            }
        }

        .camel_logo {

            display: flex;
            width: 100%;

            a {
                margin-top: 20px;
                margin-bottom: -5px;
            }

            img {
                width: 50%;
                margin: auto;
            }

        }
    }









    // make footer always on bottom
    //////////////////////////////////////
    body {
        // padding-bottom: 210px;
        // padding-bottom: 180px;
        // padding-bottom: 160px;
        padding-bottom: 80px;
    }

    //////////////////////////////////////
    // make foote        




    // Cookie agree
    ////////////////////////////////
    #cookie-modal {
        //right: 2%;
        width: 100%;
        padding: 19px;
        bottom: -3%;

        .cookie-text {

            padding-left: 0px;
            text-align: justify;
            margin-top: 11px;
            color: #e1e5ea;
            width: 100%;

            h6 {
                font-size: 12px;
                line-height: 2;
                text-align: justify;
            }

        }

        .cookie-close {
            margin-top: -30px;
            margin-right: -7px;
            font-size: 29px;
            background: transparent;
            color: transparent;
        }
    }

    ////////////////////////////////
    // Cookie agree



    .camel_menu {
        display: list-item;
    }

    .legal_menu {
        display: list-item;
    }

    #contact_us_modal {

        .reach_us {
            text-align: left;
            margin: -2px 0px 18px;
        }

        .form-group.mb-decreased {
            margin-bottom: -7px;
            margin-top: -24px;
        }

    }

    #nav-menu-container .nav-menu .menu-has-children ul>li.showall_mobile {
        a {
            line-height: 10px;
            font-weight: 500;
        }
    }



    .almani_logo {
        display: none;
    }

    .almani_logo-mobile {
        display: inline;
    }

    #nav-menu-container-for-mobile {
        display: block;
    }




    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
}

//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// Mobile 767px //
/////////////////