@import "/main-layout";

.section_title {
    // padding: 70px 20px 35px;
}

.section_container {

    background-size: cover;
    border: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    // padding: inherit;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    
    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .lightbar_text {
        border-top: 1px solid;
        border-bottom: 1px solid;
        text-align: center;
        background-color: #000000;
        color: #fff;
        position: relative;
        width: 100%;
        .title_p {
            margin: 20px 0 20px;
            font-size: 16px;
            padding: 0 25px;
        }
        
        .title {
            margin: 10px 0 20px;
            font-size: 25px;
        }

    }
    
}

.intro_text {
    text-align: center;
    position: relative;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 18vw;
       // margin-top: 24px;
       // margin-bottom: -23px;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        width: 40vw;
        margin: 0px auto 30px;
    }
}

.section_message {

    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    .section_picture {
        img {
            //width: 391px;
            width: 405px;
            margin-top: 30px;
        }
    }

    .section_text {

        text-align: justify;    
         margin-top: 50px;

        .lbl-ceo {
            float: right;
            font-weight: 500;
            font-size: 15px;
            line-height: 17px;
            margin-bottom: 59px;
        }

        .role {
            display: block;
            font-weight: 400;
            text-align: left;
        }

    }

}



































































// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .section_container {
        border-color: transparent;
    }
        
    .section_title {

        // padding: 130px 17px 10px;

        h1 {
            font-size: 18px;   
        }

    }


 .intro_text { 

        .title {
            margin-top: 14px;
            font-size: 17px;
           // margin-bottom: 21px;
        }
    }
    

.section_message {

    flex-direction: column;
    width: 100%;

    .section_picture {

        align-self: center;

        img {
            width: 252px;
            margin-top: 10px;
        }
    }

    .section_text {
        margin-top: 17px;
        // margin-bottom: -80px;
        .lbl-ceo {
            float: left;
            margin-bottom: 23px;
        }
        
    }

}

.alert_container {
    > div {
        margin-top: 80px;
    }
}
    
    //////////////////////////
    // Can be used for all //
    ///////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////
    



    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
    }
    // max-width: 780px
    
    
