@import "/main-layout";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 15px;
    h4 {
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: 1px solid;
        display: inline-block;
        padding-bottom: 5px;    
    }
    h3 {
        font-size: 17px;
        font-weight: 500;
        margin-top: 40px;
        cursor: pointer;
    }
    i {
        font-size: 15px;
    }

    h3+ul {
        // display: none;
        margin-bottom: 50px;        
    }
    .fa {
        margin-left: 10px;
    }

    .almani_address {
        font-size: 14px;
    }

    h4+p+ul {
        margin-bottom: 30px;
        margin-top: -10px;        
    }
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////























// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 12px;
    h4 {
        font-size: 14px;
    }
    h3 {
        font-size: 15px;
    }
    i {
        font-size: 14px;        
    }
}
.section_title {
    padding: 130px 10px 30px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
