@import "/main-layout";

@import "../../vendors/easyzoom/css/easyzoom.css";
@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";
// @import "../../vendors/table-responsive/css/main.css";
// @import "../../vendors/table-responsive/css/util.css";

@import "../../vendors/magnific-popup/magnific-popup.css";


// @import "../../vendors/imagezoom/css/image_zoom.min.css";



ul ,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;  
}

.main-content {    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gallery,
.description {
    width: 49%;    
}


.mainImage ,
.thumbnails {
    // width: 50%;
}

.mainImage {
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
    > a {
        > img {
            // width: 100%;
            height: auto;
            width: auto;     
            max-height: 100%;
            max-width: 100%;
            
            height: 335px;
            max-height: 335px;
        }
    }
}


.gallery {
    .thumbnails {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        li {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-right: 10px;
        }
        li.selected {
            border: 1px solid #ffc100;
        }

        .backdrop {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
        }
    }
}


.breadcrumb {
    padding: 0;
    margin: 20px 5px 10px;
    background-color: transparent;
    font-size: 15px;
    .breadcrumb-item {
        font-weight: bold;
    }    
    .breadcrumb-item.active {
        font-weight: normal;
    }
    a:hover, a:active, a:focus {
        color: #000;
        border-bottom: solid 2px #ffc100;
        transition: unset;
    }

}




.container {
    // border: 1px solid red;  
}




// Owl Carousel
//////////////////////////////////
///////////////////////////////////////////////////////
.owl-carousel {
    .owl-item img {
        max-height: 60px;
        width: auto;        
    }
    .owl-nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 20px;        
        button.owl-prev ,
        button.owl-next {
            font-size: 40px;
            line-height: 50px;
            outline: 0;
            width: 40px;
            > span {
                top: -5px;
                position: relative;
            }
        }
    }
    .owl-dots {
        position: relative;
        top: -20px;
        width: 50%;
        margin: auto;        
    }
}
///////////////////////////////////////////////////////
//////////////////////////////////
// Owl Carousel

// Owl Carousel
//////////////////////////////////
///////////////////////////////////////////////////////
.owl-carousel-appareas.owl-carousel {
    .owl-nav {
        margin-top: -20px; 
    }
}
///////////////////////////////////////////////////////
//////////////////////////////////
// Owl Carousel



.description {
    font-size: 14px;
    color: #666;        
    padding: 15px 20px;
    display: flex;
    flex-direction: column;    
    p {
        line-height: 25px;
        margin-bottom: 5px;
    }
    .tech-data-summary {
        display: flex; 
        .column {
            padding: 10px;
            min-width: 40%;
            > div {
                margin-bottom: 5px;
                .tech-summary-value {
                    font-weight: bold;
                    color: #000;
                    margin-left: 5px;
                    font-size: 11px;
                }
                .tech-summary-label {
                    // font-style: italic;
                    // padding: 0 5px;                    
                }
            }
        }
    }


    .app_areas {
        > h3 {
            padding: 0 20px;
            font-size: 15px;
            font-weight: 500;
            color: #000;
            margin-bottom: 10px;
            display: none;
        }
        > div {
            // justify-content: flex-start;
            justify-content: center;
            .app_area_icon {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5px 0px 10px;
                flex-direction: column;
                flex-grow: 0;
                img {
                    width: 40px;
                    height: 40px;
                }
                span {
                    font-size: 10px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 10px;
                    width: 80px;
                }
            }
        }
    }
}



.tabs {
    .tab {
        display: none;
    }
    .tab.active {
        display: block;
    }
}





.table-scrollable-container {
    // border: 1px solid;
    // padding: 15px;    
    // padding: 15px 15px 0px;
    padding: 0px;
    position: relative;
    table {
        margin-bottom: 0;
        border: 0;
        tbody {
            font-size: 13px;
        }
    }

}


.currency_container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.table_type_1 {
    

    .model_heading_tr {
        // background-color: #2b582b;
        border-bottom: 0;
        background-color: #343a40;
        color: #fff;
        td {            
            background-color: #343a40;
        }
    }
    .option_group_container {
        display: flex;
        flex-wrap: wrap;        
        .option_group {
            border-radius: 2px;
            padding: 5px;
            margin: 5px;
            background-color: #f8f8f8;    
            h6 {
                font-size: 11px;
                font-weight: bold;
                margin-bottom: 3px;
                margin-left: 3px;
                margin-right: 3px;
                padding-bottom: 0;
                white-space: nowrap;                    
            }

            label.button {
                user-select:none;
                margin: 3px 1px;
                padding: 5px;
                cursor: pointer;
                border: 1px solid #999999;
                border-radius: 1px;
                font-size: 11px;
                input {
                    display: none;
                }
            }

            label.button.isSelected  {
                background-color: $black;
                color: #fff;                
            }
            label.button.disabled  {
                cursor:not-allowed;
                color: rgba(52, 58, 64, 0.4);
                border: 1px solid rgba(226, 226, 226, 0.4);
            }
        }
    }

    .share_products {
        display: flex;
        justify-content: center;
        align-items: center;        
        > a {
            margin: 5px;
            padding: 1px 10px;
        }
    }
    .other_options_products {
        display: flex;
        justify-content: center;
        align-items: center;
        > a {
            margin: auto;
            width: 30%;
        }
    }


    .model_action_column {
        a {
            font-size: 11px;
        }
    }

}

a.btn:not(:disabled):not(.disabled).btn-dark {
    color: #fff;
}












.model_tech_data_field {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .model_tech_data {
        color: #8a8a8a;
        padding: 2px 10px;
        // margin: 5px;
        margin: 5px 5px 0px;
        background-color: #f8f8f8;
        white-space: nowrap;

        // padding-top: 5px;
        // font-size: 15px;
        // font-weight: bold;
        padding-top: 5px;
        font-size: 11px;
        font-weight: bold;
        max-width: 280px;

        
        .model_tech_value ,
        .model_tech_data_sub {
            // font-size: 13px;
            // font-weight: initial;
            // font-size: 13px;
            font-size: 11px;
            // font-weight: bold;
            font-weight: normal;
            color: #3e3e3e;
        }
    }

    .model_tech_data.multi_lines .model_tech_data_sub {     
        margin-left: 10px;
    }
}


.model_tech_data_name {

    .model_tech_data.model_name {
        // width: 150px;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        padding-left:10px;
        align-items: center;
        // flex-direction: column;
        // flex-direction: row;

    }
    .model_tech_data {
        .model_title {
            font-size: 15px;
            // font-weight: bold;
            font-weight: normal;
            // margin-top: 5px;
            margin-right: 5px;
            white-space: nowrap;
        }

        .show_model_extra {
            padding: 0 5px;
            font-size: 10px; 
            // margin-top: 10px;
            float: right;            
        }
    }

//     .model_tech_data.model_name {
//         display: inline-flex;
//         flex-direction: column;
//         font-size: 18px; 
//         margin-top: 0;
//         padding-top: 0px;
//     }


//     .model_tech_data_name {
//         padding-bottom: 5px;
//         font-weight: bold;
//         border-bottom: 1px solid #dedede;
//         // margin-left: 10px;
//         margin-left: 0px;
//         // margin-right: 15px;
//         margin-right: 0px;
//         padding-left: 0;
//     }
}




.models{

    .table td, .table th {
        border-top: 2px solid #dee2e6;
        font-size: 13px;
    }
    .table th {
        border-top: 2px solid $black;
        border-color: $black;
        // font-weight: 600;
        font-weight: normal;
        padding: 5px .75rem;
        vertical-align: top;
    }

    .table .model_extra_tr {
        display: none;
        > td {
            border-top: 0;
            padding-top: 0;            
        }
    }


    .price_container {
        font-size: 15px;
        font-weight: bold;
        font-weight: normal;
    }

}

.tab_links {
    ul {
        display: flex;
        justify-content: flex-start;
        // border-bottom: 1px solid;
        margin-bottom: 15px;
        margin-top: 20px;
        li { 
            margin: 0 5px;
        }

        // border animation
        ////////////////////////////////////
        li a { 
            border-bottom: solid 2px transparent;
            display: inline-block;
            // line-height: 30px;
            line-height: 20px;
            padding: 0px 10px;
            font-weight: bold;
            color: #6c757d;
            cursor: pointer;
        }
        li:hover { 
            // color: #e4ad00; 
        }

        li:hover:after {
            transform: scaleX(1);
        }

        li:after {
            display:block;
            content: '';
            border-bottom: solid 1px $yellow;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
            
            // makes it left to right
            // transform-origin:  0% 50%;
        }

        li.active:after  {
            border-bottom: solid 1px $yellow;
            transform: scaleX(1);
        }
        .active a {
            color: #000;
        }
        ////////////////////////////////////
        // border animation

    }
}

.tabs {
    .tab {
        .additional-info strong {
            font-weight: bold;
            color: #000;            
        }
    }
}

table { border-collapse:collapse }









.models .table tr.highlight_from_url {
    background-color: #ffffe7;
}


.models .table tr.hover ,
.models .table tr.highlight {
    background-color: #e8e8e8;    
}





// Changes
/////////////////////////////
.model_tech_data_field .model_tech_data.multi_lines .model_tech_data_sub {
    margin-left:0;
}
.model_tech_data_field .model_tech_data {
    background-color: transparent;
    margin: 0;
    padding: 5px 5px 5px 0px;
}
.table_type_1 .option_group_container .option_group {
    padding: 0px;
    margin: 0px;
    background-color: transparent;    
}
.models .table tr {
    background-color: #fff;
}

.models .table td {
    border-top: 2px solid #c3c3c3;
    font-size: 13px;
    padding: 2px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.models .table th:not(:first-child) {
    padding-left: 1px;
    border-left: 2px solid #212529;
}
.models .table th.model_th  {
    padding-left: 10px;
}

/////////////////////////////
// Changes



.table-wrap {
    // background-color: #212529;
    background-color: transparent;
    border: 1px solid;
}



a.show_modal.enquire {
    margin: 5px;
}




.container.table_container {
    margin-top: 20px;
    margin-bottom: 20px;
}




.main-table {
    border-collapse:collapse;
    td, th {
        border:none;
     }
}




.table-scroll {
    tr th.fixed-col.model_th ,
    td.fixed-col {
        display:none;
    }
}





.not_available {
    border: 1px solid;
    margin: 0px auto 10px;
    // padding: 15px;
    padding: 30px 50px;    
    width: auto;   
    line-height: 25px;
    a.btn-almani.btn-sm.send_message {
        font-size: 14px;
        padding: 5px 10px;  
        white-space: nowrap;            
    }    
}







    
// max-width: 1920px
@media screen and (max-width: 1920px) {

    .main-table {
        border-collapse: collapse;
        td {
            border: 0;
        }

        tr {
            border: 0;
        }
    }

    // .container { max-width: none; }    
}



// max-width: 1366px
@media screen and (max-width: 1366px) {

    .mainImage > a > img {
        // height: auto;
        // width: auto;
        // max-height: 335px;
        // max-width: 454px;
    }
    // .container { max-width: none; }    

}


// max-width: 1440px and 
@media screen and (max-width: 1440px)  {

    .mainImage > a > img {
        // height: auto;
        // width: auto;
        // max-height: 335px;
        // max-width: 550px;
    }
    // .container { max-width: none; }    
 
}


// max-width: 1600px
@media screen and (max-width: 1680px) {

    .mainImage > a > img {
        // height: auto;
        // width: auto;
        // max-height: 335px;
        // max-width: 550px;
    }

    .description {
        font-size: 10px;
    }
    
    // .container { max-width: none; }    
}



// max-width: 1024px
@media screen and (max-width: 1024px) {

    .mainImage > a > img {
        // height: auto;
        // width: auto;
        // max-height: 335px;
        // max-width: 474px;
    }

    // .container { max-width: none; }    
}













// Zoom stuff
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////

.easyzoom {
    // width: 100%;
    > a {
        display: flex;
        justify-content: center;
        align-items: center;        
        height: 360px;
        .mainImage-img {
            // width:auto; 
            // max-width: 100%;
            // height:360px;

            // width:100%; 
            // height:auto;

            // height: auto;
            // width: auto;
            // max-height: 360px;        

            // width: auto;
            // height: auto;
            // max-height: 100%;
            // max-width: 100%;

            width: auto;
            height: 300px;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .easyzoom-flyout {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            // width: 100%;
            // margin: auto;
        }
    }



    .easyzoom-notice {
        // font-size: 100px;
        font-size: 70px;

    }
}


///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// Zoom stuff



// Similar Product


#similar_container {

    max-width: 80%;
    margin: auto;

    .header-section {
       
        border-bottom: 1px solid gainsboro;
        padding-bottom: 2px;
        margin: 0 auto;

        // padding-bottom: 2px;
        // border-top: 1px solid;
        // border-bottom: 1px solid;
        // background-color: rgba(17, 35, 17, 0.95);
        // color: #fff;
        // padding: 13px 30vw 18px;
        // text-align: center;
        // margin: 0 auto;

        h1 {
            font-size: 15px;
            font-weight: 300;
            margin: 0 auto;
            display: inline-block;
        }
    }

    .smlar-container {
       
        // flex-direction: row;

        .prod_block {
            // width: 22.33%;
            border-top: 4px #343a40 solid;
            padding: 15px;
            margin: 15px 10px 30px;
            border-radius: 3px;
            // box-shadow: 15px 15px 40px -20px rgba(222, 222, 222, 0.5);
            box-shadow: 0 6px 9px rgba(0,0,0,0.3), 0 1px 0px rgba(0, 0, 0, 0);

            a.item {
                width: 100%;
                display: block;
                position: relative;

                .new_icon {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 55px;
                }

                .more_details {
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    top: -10px;
                    border: 1px solid gainsboro;
                    padding: 1px;
                    z-index: 1;
                    background-color: rgba(255, 255, 255, 0.8);
                    width: 100%;

                    .specs_legend {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        >div.specs_legend_lifespan {
                            // width: 22%;
                        }

                        >div {
                            width: 23%;
                            display: inline-block;
                            text-align: center;

                            img {
                                height: 11px;
                                margin: 0 -2px 0 0;
                            }

                            label {
                                font-size: 10px;
                                color: #5d5d5d;
                            }
                        }
                    }

                    .specs {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;

                        .mini-specs {
                            width: 50%;
                            display: inline-block;
                            padding-left: 7%;
                            margin: 3px 0;
                            font-size: 13px;
                        }

                        .view_product {
                            width: 100%;
                            padding: 10px;
                            text-align: center;

                            button {
                                padding: 2px 10px;
                            }
                        }
                    }
                }
            }




            .img_container {
                // width: 200px;
                // width: 12vw;
                margin: auto;
                text-align: center;
                min-height: 121px;


                height: 100%;
                width: auto;
                max-height: 125px;
                overflow: hidden;

                img {
                    // width: 100%;
                    height: 125px;
                    width: auto;
                    // margin: auto;
                }

            }

            .prod_title {
                text-align: right;

                span {
                    display: block;
                }

                .prod_code {
                    text-align: left;
                    font-size: 12px;
                    float: left;
                }

                .prod_ip {
                    display: inline-block;
                    float: left;
                    font-size: 12px;
                    position: relative;
                    top: 5px;
                }

                .prod_name {
                    font-weight: bold;
                }
            }

            .prod_group {
                .price_container {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    vertical-align: top;
                    color: #6a9233;
                }

            }

        }

       
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: black;
        color: #FFF;
        text-decoration: none;
    }

    .owl-carousel {

        .owl-item img {
            max-height: 114px;
            width: auto;
            display: inline-block;
        }
    
        .owl-nav {
            display: flex;
            // justify-content: space-between;
            justify-content: center;
            position: relative;
            // top: 20px;
            top: -27px;
    
            button.owl-prev,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
    
                >span {
                    top: -5px;
                    position: relative;
                }
            }
        }

      
    
        // .owl-dots {
        //     position: relative;
        //     top: -20px;
        //     width: 50%;
        //     margin: auto;
        // }

   

    }

}

  .side-scrolling {
        display: none;
    }


























































































































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
}

.side-scrolling {
    font-size: 9px; 
    float: right;
    display: block;
}
    
.container { 
    max-width: none; 
}    

#similar_container {
    max-width: 100%;
    margin: auto;
}


.not_available {
    margin: 0px 13px 10px;
    font-size: 14px;
    padding: 20px 30px;    
    a.btn-almani.btn-sm.send_message {
        font-size: 12px;
        padding: 2px 10px;
    }
}







footer.footer {
    padding-bottom: 60px;
}

.main-content {
    padding: 15px 5px;
    flex-wrap: wrap;
    .description {
        width: 100vw;
        padding: 10px 0px;
        font-size: 14px;
        .app_areas {
            margin-bottom: 35px;
            > h3 {
                display: block;
            }
        }

        .tech-data-summary {
            .column > div {
                margin-bottom: 0;
                .tech-summary-label ,
                .tech-summary-value {
                    // font-size: 80%;
                }
            }
        }
        .tabs {
            .tab2, .tab3 {
                padding: 0px 25px;                
            }
        }
    }

    .gallery{
        width: 100vw;
        padding: 15px;
    }
}

.container.table_container {
    margin-top: 0px;
}


.currency_container {
//     position: absolute;
//     right: 10px;
//     top: 10px;        
}

.table-scrollable-container {    
    // padding-top: 50px;
    padding: 0;
    .table {
        // display: block;
        min-width: 1300px;
        // padding: 10px;
        margin: 0;      
        border: 0;
        border-collapse: collapse;
    }
}

.tab_links ul {
    margin-top: 0px;
    li {
        justify-content: center;
        a {
            line-height: 18px;
            text-align: center;
            padding: 0px 3px;
        }
    }
}

.breadcrumb_container {
    margin-top: 100px;
    ol.breadcrumb {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        .breadcrumb-item+.breadcrumb-item::before {
            display: none;
        }

        .breadcrumb-item.active {
            font-size: 25px;
            margin-top: 15px;
            text-align: center;
        }
    }

}



// Owl Carousel
//////////////////////////////////
///////////////////////////////////////////////////////
.owl-carousel {
    .owl-nav {  
    }
    .owl-dots {   
    }
}
///////////////////////////////////////////////////////
//////////////////////////////////
// Owl Carousel


.mainImage > a > img {
    max-height: 158px;
    max-width: 345px;
}












// table freeze first column
////////////////////////////////////////////////////////////////
.table-scroll {
    position:relative;
    // max-width:600px;
    margin:auto;
    overflow:hidden;
    // border:1px solid #000;
    border:1px solid transparent;
}
.table-wrap {
    width:100%;
    overflow:auto;
}
.table-scroll table {
    width:100%;
    margin:auto;
    border-collapse:separate;
    border-spacing:0;
}
.table-scroll th, .table-scroll td {
    padding:5px 10px;
    // border:1px solid #000;
    border:1px solid transparent;
    // background:#fff;
    white-space:nowrap;
    vertical-align:top;
}
.table-scroll thead, .table-scroll tfoot {
    background:#f9f9f9;
}

.models .table th.model_th.fixed-col,
.table-scroll td.fixed-col {
    position: absolute;
    left: 1px;
    top: auto;
    width: 185px;
    display: initial;
}

.table-scroll {
    tr td.fixed-col {
        display:initial;
        background-color: #fff;
        height: 46px;
    }
    tr td.fixed-col-content {
        color: transparent;
    }
    tr.model_heading_tr td.fixed-col {        
        background-color: #343a40;
    }
    tr.hover td.fixed-col ,
    tr.highlight td.fixed-col {
        background-color: #e8e8e8;
    }
}



////////////////////////////////////////////////////////////////
// table freeze first column







.model_tech_data_name .model_tech_data.model_name {
    width: 185px;
}

.models .table th.model_th {
    width: 100px;
}

.models .price_container {
    font-size: 12px;
    font-weight: bold;
    font-weight: normal;
    text-align: center;
}

.model_tech_data_name .model_tech_data .show_model_extra {
    padding: 0 4px;
    font-size: 9px;
    /* float: right; */
    position: fixed;
    left: 189px;
}


.easyzoom {
    margin: 0 30px;
    > a {
        height: 220px;
        .mainImage-img {
            // width: 100%;
            // height: auto;

            // width: 100vw;
            width: auto;
            max-width: none;
            height: auto;
            max-height: 220px;
            // max-height: 100vw;
        }
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
