@import "/main-layout";

.projects_container {
    margin: 30px auto 20px;
}


.row.items {
    flex-wrap: wrap;
    .column {
        text-align: center;
        width: 50%;
        flex: none;
        padding: 20px;
    }
    .item {
        border: 1px solid #000;
        padding: 0;
        margin: 0;
        display: flex;
        margin: auto;
        height: 300px;
        width: auto;
        cursor: pointer;
        .desc_filter {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            right: 0px;
            top: 0px;
        }
        .desc_img {
            width: 100%;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all 0.6s;
            img {
                vertical-align: middle;
            }
        }
        .desc_img.bg_zoomin {
            background-size: 130%;
            transition: all 0.6s;
        }
        .desc_text {
            background-color: rgba(0, 0, 0, 0.5);
            width: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            border: 1px solid #fff;
            h1,
            h2 {
                color: #fff;
                text-align: center;
            }
            h1 {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
                width: 100%;
            }
            h2 {
                // margin-top: 0;
                margin: 10px 0;
                font-size: 1em;
            }
            .button {
                color: #fff;
                border-radius: 0px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }
}







#project_modal {
    .title {
        text-align: center;
        font-size: 30px;
    }
    .desc {
        display: flex;
        .desc_img ,
        .desc_text {
            width: 50%;
            padding: 15px;
        }

        .desc_img {
            display: inline-flex;
            justify-content: center;
            align-items: center;            
            img {
                width: 90%;
            }
        }
        
        .desc_text {
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
                color: #000;
            }
            p {
                color: #000;
            }
        }
    }



    .modal-lg {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;        
    }

    .modal-footer {
        border-top: none;
    }
}







.section_title > h1 {
    font-size: 25px;
}


// for the pagination custom color

// .pagination_nav {
//     margin-top: 10px;
// }

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000000;
    border-color:#000000;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}























































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.section_title {
    padding: 110px 10px 0px;
}

.row.items {
    .item {
        height: 200px;
        .desc_img {
            background-size: 150%;
        }
        .desc_text {
            width: 80%;
        }
    }
    .column {
        width: 100%;
    }
}


#project_modal {

    .title {
        padding: 0 20px;
        margin: 2px 0 10px;
        font-size: 23px;
    }

    .modal-lg {
            max-width: 95vw;
    }
    .desc {
        flex-direction: column;
        .desc_img,  
        .desc_text {
            width: 100%;
            font-size: 80%;
        }  
        .desc_img {
            width: 100%;
            img {
                width: 100%;                
            }
        }
    } 
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
