@import "/main-layout";


body{
	padding-bottom:0px;
}




.size{
	width: 75%
}

.card-size{
	width: 50%;
	height: 10vh;
}


.second-row{
	margin-top: 30px;

}


.link-text{
	display: inline-block;
}

.link-icon{
	display: inline-block;
    position: relative;
    top: 1px;
    font-size: 15px;
}

.img-size{
	width: 30%;
}

@media screen and (max-width: 780px) {

	body{
		padding-bottom:0px;
	}

	.size{
		width: 100%;
	}

	.card-size{
		height: 20vh;
		width: 100%;
		padding-top:25px;
	}

	.second-row {
		margin-top: 0px;


	}

	.img-size{
		width: 60%;
		padding-top:25px;
	}
}

