@import "/main-layout";

@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;    
    .img_text_box {
        width: 33.33333%;
        margin: 20px 35px;
        .img_box {
            height: 200px;
            background-size: 110%;
            background-position: center; 
            border: 1px solid #8a8a8a;          
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
    }
}


.video_container {    
     padding: 60px 20px;
    .video_intro_img {
        width: 600px;
        margin: auto;
        cursor: pointer;
        border: 1px solid #8a8a8a;
        img {
            width: 100%;
        }
    }

    .modal-lg {
        max-width: 950px;
        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;        
        border:0;
        margin-top: 30px;  
        margin-left: 25px;      
    }
}


.intro_text { 
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }
    .title_p {
        padding: 0;
        text-align: left;
        width: 40vw;
        margin: 0 auto 30px;        
    }
}





.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 20px 0 0px;
        font-size: 20px;
    }
    
    .title {
        margin: 10px 0 20px;
        font-size: 40px;
    }

}



.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    .logo {
        margin: 10px 20px;
        img {            
            // width: auto;
            // height: 35px;

            width: auto;
            height: auto;
           max-width: 100%;
            min-height: 25px;
            max-height: 35px;         
        }
    }
}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////




///////////////////
// Client Logos //
////////////////////////////////////////////////////////////////////////
.client-logos {
    // margin: 20px 0px 40px;
    margin: 20px auto 40px;
    padding: 0 10vw;

  

    // Owl Carousel
    //////////////////////////////////
    .owl-carousel {

        .owl-nav.disabled {
            display: none;
        }

        .owl-nav {

            display: flex;
            justify-content: center;
            position: relative;
            top: 0px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }

        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
        .owl-item {
            display: inline-flex;
            align-items: center;      
            
        }
        .owl-stage {
            display: flex;
        }
    }
    //////////////////////////////////
    // Owl Carousel

}
////////////////////////////////////////////////////////////////////////
// Client Logos //
/////////////////























// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.section_title {
    padding: 130px 10px 2px;
}

.client-logos {
    padding: 0 5vw;    
    margin: -17px auto -4px;
}


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}



.intro_text {
    margin-top: 25px;
    .title {
        font-size: 17px;
    }
    .title_p {
        font-size: 14px;
        width: 100%;
    }
}

.bar_text {
    padding: 0 20px;
    .title { 
        font-size: 35px;
    }
    .title_p {
        font-size: 17px;
        
    }
}


.video_container {
    padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
