@import "/main-layout";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;    
    .img_text_box {
        width: 33.33333%;
        margin: 20px 35px;
        .img_box {
            height: 200px;
            background-size: 110%;
            background-position: center; 
            border: 1px solid #8a8a8a;          
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
                text-align: justify;
            }
        }
    }
}


// .video_container {    
//     padding: 0px 20px 20px;
//     text-align: center;
//     .video_intro_img {
//         width: auto;
//         padding: 10px;
//         margin: auto;
//         cursor: pointer;
//         // border: 1px solid #cacaca;
//         display: inline-flex;
//         align-items: center;
//         img {
//             width: 70px;
//         }
//         p {
//             display: inline-block;
//             margin: 0;
//             margin-left: 10px;
//         }
//     }

//     .modal-lg {
//         max-width: 950px;
//         .modal-body {
//             text-align: center;
//         }
//     }

//     iframe {
//         // width: 50vw;
//         // height: 50vh;
//         width: 842px;
//         height: 474px;        
//         border:0;
//         margin-top: 30px;  
//         margin-left: 25px;      
//     }
// }






.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
    }
}





.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 20px 0 0px;
        font-size: 20px;
    }
    
    .title {
        margin: 10px 0 20px;
        font-size: 40px;
    }

}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////





.img_text_boxes .img_text_box .text_box .video_container .video_intro_img p {
    text-align: left;
}









.video_container {
    padding: 0px 20px 20px 0px;
    text-align: left;
}







// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.section_title {
    padding: 130px 10px 1px;
}

//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}



.intro_text {
    margin-top: 25px;
    .title {
        font-size: 17px;
    }
    .title_p {
        font-size: 15px;
    }
}

.bar_text {
    padding: 0 20px;
    .title { 
        font-size: 35px;
    }
    .title_p {
        font-size: 17px;
        
    }
}

.video_container {
    padding: 0px 20px 12px 53px;
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}


// .video_container {
//     padding: 30px 20px 20px;
//     .video_intro_img {
//         width: 75vw;
//     }
//     iframe {
//         width: 100%;
//         height: auto;
//         margin-left: 0px;
//     }
// }



///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
