@import "/main-layout";

// @import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
// @import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.intro_text {
    text-align: center;
    .title {
        text-align: left;
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        // padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: left;
        width: 40vw;
        margin: 0px auto 30px;
        //////////////////////////////
    }
}

#ReturnGraph {    
    width: 100%;
    height: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.roi_section {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    
    color: #000000;
    padding: 50px 0px;
    border: 0;
    
    position: relative;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    // box-shadow: 0 0 70px -20px #dedede;

    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .roi_title {
        position: relative;
        font-size: 15px;
        font-weight: 500;
    }

    .roi_text {
        position: relative;
    }

    .roi_fields {
        position: relative;
        .roi_field_tables {
            font-size: 12px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;            
            .roi_field_table {
                width: 50%;
                padding: 20px;
                .table {
                    width: 100%;
                    td, th {
                        padding: 5px;
                    }
                    th { 
                        background-color: #e8e8e8;
                    }
                    .bold {
                        font-weight: 500;
                        td:first-child {

                        }
                    }
                    .sub_row {
                        td:first-child {
                            padding-left: 25px;
                        }
                    }

                    td input {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }
        }
    }

}

form.form_quote {
    display: flex;
    flex-wrap: wrap;
    .form-col {
        width: 49%;
        padding: 20px;
        display: inline-block;    
    }
    .custom-file-input {
        cursor: pointer;
    }


    .btn-almani.clear-file-input:hover,
    .btn-almani.clear-file-input {
        padding: 0;
        background-color: transparent;
        color: #000;
        font-size: 24px;
        border: 0;
    }

    textarea {
        height: 200px;
    }

    div.files {
        margin-top: 45px;
    }
}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////




.submit_div {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}









// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.intro_text {
    margin-top: 0;
    .title {
        font-size: 15px;
        padding: 0;
        line-height: 20px;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
    }
}

.roi_section .roi_fields .roi_field_tables .roi_field_table {
    width: 100%;
    padding: 10px;
}

.section_title {
    padding: 130px 10px 40px;
}

// .alert_container {
//     margin-top: 125px;
//     margin-bottom: -94px;
// }


.roi_section {    
    padding: 20px 10px 0;
    background-size: auto 100%;
    .items  {
        .item {
            width: 100%;
        }
    }

    .roi_text {
        font-size: 13px;
    }
}


form.form_quote {
    .form-col {
        width: 100%;
    }
    .file-row {
        margin-bottom: 15px;
    }

    textarea {
        height: 200px;
    }
}

.submit_div {
    text-align: right;
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}



///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
