@import "/main-layout";

// select2
@import "../../vendors/select2/css/select2.min.css";
@import "../../vendors/select2/css/bulma.fix.scss";



//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;

    .img_text_box {
        width: 33.33333%;
        margin: 20px 35px;

        .img_box {
            height: 200px;
            background-size: 110%;
            background-position: center;
            border: 1px solid #8a8a8a;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }

            p {
                font-size: 14px;
            }
        }
    }
}


.video_container {
    padding: 60px 20px;

    .video_intro_img {
        width: 600px;
        margin: auto;
        cursor: pointer;
        border: 1px solid #8a8a8a;

        img {
            width: 100%;
        }
    }

    .modal-lg {
        max-width: 950px;

        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;
        border: 0;
        margin-top: 30px;
        margin-left: 25px;
    }
}


.intro_text {
    text-align: center;

    .title {
        font-size: 20px;
        line-height: 30px;
    }
}





.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;

    .title_p {
        margin: 20px 0 0px;
        font-size: 20px;
    }

    .title {
        margin: 10px 0 20px;
        font-size: 40px;
    }

}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////




.has_search_tab {
    min-height: 715px;
    position: relative;
}

.open_search_tab {
    margin-top: 20px;
}

.search_tab.show_tab {
    left: 2vw;
}

.search_tab {
    width: 330px;
    border: 1px solid;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
    z-index: 9;

    position: absolute;
    left: -100vw;

    transition: all 1s ease;

    // temp
    ///////////////////
    display: flex;
    width: 620px;
    flex-wrap: wrap;

    flex-direction: row;
    ///////////////////

    ////////////////////
    // button option //
    ////////////////////////////////////////
    .btn-option {
        // background: #fff;
        background: #f9f9f9;
        color: $highlight;
        // padding: 12px 9px 12px;
        border-radius: 1px;
        cursor: pointer;
        bottom: 15px;
        transition: background 0.5s;
        // border: 1px solid $highlight; 
        border: 1px solid #dcdcdc;
        width: auto;
        font-size: 13px;
        padding: 2px 10px;
    }

    .btn-option:focus {
        // background: #fff;
        // color: $highlight;
        outline: none;
    }

    // i remove this because on the mobile it will stay focus so the background will not remove
    // ,
    // .btn-option.hover ,
    // .btn-option:hover {
    // background: #0c2e8a;
    // color: #fff;
    // }
    .btn-option.selected {

        background: $highlight;
        color: #fff;
        border: 1px solid;
    }

    ////////////////////////////////////////
    // button option //
    //////////////////



    .submit_search i {
        vertical-align: middle;
        margin-left: 5px;
        display: none;
    }


    .form-control {
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 13px;
    }

    .form-row,
    .form-group {
        // margin-bottom: 5px;
        // margin: 0px 5px;
        margin: 0px 10px 5px;
        display: inline-flex;
        align-items: flex-start;
        margin-left: 0;
        width: 270px;

        input {
            margin-bottom: 5px;
        }

        input::placeholder {
            color: #d6d6d6;
        }
    }

    .price_row {
        .form-group.col {
            margin-right: 0;
        }
    }

    label {
        margin-bottom: 3px;
        font-size: 13px;
        display: inline-flex;
        align-items: center;
    }

    .input-group-text,
    .modal-content,
    .form-control,
    .btn {}


    select.form-control:not([size]):not([multiple]) {
        height: 30px;
    }

    select.fld_sm {
        min-width: 70px;
    }

    .search_fld_grps {
        display: flex;
    }

    .fld_sm {
        width: 60px;
    }

    .fld_md {
        width: 100px;
    }

    .fld_bg {
        width: 150px;
    }

    .close_search_tab_div {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9;

        .close_search_tab {
            padding: 2px 10px;
            line-height: 20px;
            font-size: 10px;
        }
    }

    .option_group_container {
        display: flex;
        flex-wrap: wrap;

        .option_group {
            border-radius: 2px;

            // padding: 5px;
            // margin: 5px;
            // background-color: #f8f8f8;    
            h6 {
                font-size: 11px;
                font-weight: bold;
                margin-bottom: 3px;
                margin-left: 3px;
                margin-right: 3px;
                padding-bottom: 0;
                white-space: nowrap;
            }

            label.button {
                user-select: none;
                margin: 3px 0px;
                padding: 5px;
                cursor: pointer;
                border: 1px solid #999999;
                border-radius: 1px;
                font-size: 12px;

                input {
                    display: none;
                }
            }

            label.button.isSelected {
                background-color: $black;
                color: #fff;
            }

            label.button.disabled {
                cursor: not-allowed;
                color: rgba(52, 58, 64, 0.4);
                border: 1px solid rgba(226, 226, 226, 0.4);
            }
        }
    }


}




























.prod_block {
    padding: 15px;
    margin: 10px 10px 30px;
    border-radius: 3px;
    box-shadow: 15px 15px 40px -20px rgba(222, 222, 222, 0.5);

    .image-brand-identifier {
        position: absolute;
        z-index: 7;
        right: 9%;
        width: 68px;
    }

    a.item {
        display: block;
        position: relative;

        .new_icon {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 55px;
        }

        .more_details {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: -25px;
            border: 1px solid gainsboro;
            padding: 5px;
            z-index: 7;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;

            .specs_legend {
                width: 100%;
                display: flex;
                justify-content: center;

                >div.specs_legend_lifespan {
                    // width: 22%;
                }

                >div {
                    width: 23%;
                    display: inline-block;
                    text-align: center;

                    img {
                        height: 11px;
                        margin: 0 -2px 0 0;
                    }

                    label {
                        font-size: 10px;
                        color: #5d5d5d;
                    }
                }
            }

            .specs {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .mini-specs {
                    width: 50%;
                    display: inline-block;
                    padding-left: 7%;
                    margin: 3px 0;
                    font-size: 13px;
                }

                .view_product {
                    width: 100%;
                    padding: 10px;
                    text-align: center;

                    button {
                        padding: 2px 10px;
                    }
                }
            }
        }
    }




    .img_container {
        // width: 200px;
        // width: 12vw;
        margin: auto;
        text-align: center;
        min-height: 121px;

        img {
            // width: 100%;
            height: 121px;
            width: auto;
        }
    }

    .prod_title {
        text-align: right;

        span {
            display: block;
        }

        .prod_code {
            text-align: left;
            font-size: 12px;
            float: left;
        }

        .prod_ip {
            display: inline-block;
            float: left;
            font-size: 12px;
            position: relative;
            top: 5px;
        }

        .prod_name {
            font-weight: bold;
        }
    }

    .prod_group {
        .price_container {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            vertical-align: top;
            color: #6a9233;
        }

    }

}








// search results
/////////////////////////////////////////////////////
.pagination-previous,
.pagination-next,
.pagination-link {
    background-color: #fff
}

.pagination_nav {
    li+li {
        margin-top: 0px;
    }

    li {
        list-style: none;

        a {
            cursor: pointer;
        }
    }

    li.disabled {
        a {
            color: #d8d8d8;
        }
    }

}


.pagination-ellipsis {
    color: #000;
    font-size: 175%;
    margin: 10px;
}

.content .pagination_nav ul {
    list-style-type: none;
}

.page-item.active .page-link {
    background-color: #000000;
    border-color: #000000;
}

.page-item.disabled .page-link {
    color: #bbbbbb;
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.page-item.active .page-link:hover {
    color: #fff;
}

/////////////////////////////////////////////////////
// search results

.products {

    .alert-message {
        margin: 20px 0;
        padding: 20px;
        border-left: 3px solid #eee;
    }

    .alert-message h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .alert-message p:last-child {
        margin-bottom: 0;
    }

    .alert-message code {
        background-color: #fff;
        border-radius: 3px;
    }

    .alert-message-danger {
        background-color: #fdf7f7;
        border-color: #d9534f;
    }

    .alert-message-danger h4 {
        color: #d9534f;
    }

    .alert-message-warning {
        background-color: #fcf8f2;
        border-color: #f0ad4e;
    }

    .alert-message-warning h4 {
        color: #f0ad4e;
    }



}















































// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////




    //////////////////////////
    // Can be used for all //
    ///////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////
    .img_text_boxes {
        flex-direction: column;

        .img_text_box {
            width: 100%;
            margin: 0 0 20px;

            .text_box {
                h1 {
                    font-size: 18px;
                    margin: 15px 10px 15px 0px;
                }
            }
        }
    }

    .section_title {
        h1 {
            font-size: 17px;

            a {
                display: inline-block;
                width: 55%;
                line-height: 25px;
            }
        }


    }

    .intro_text {
        margin-top: 25px;

        .title {
            font-size: 17px;
        }

        .title_p {
            font-size: 15px;
        }
    }

    .bar_text {
        padding: 0 20px;

        .title {
            font-size: 35px;
        }

        .title_p {
            font-size: 17px;

        }
    }


    .video_container {
        padding: 30px 20px 20px;

        .video_intro_img {
            width: 75vw;
        }

        iframe {
            width: 100%;
            height: auto;
            margin-left: 0px;
        }
    }



    ///////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////
    // Can be used for all //
    ////////////////////////




    .search_tab.show_tab {
        margin: auto;
        position: relative;
        left: 0;
        top: 10px;
    }

    .search_tab {
        width: 295px;

        .search_fld_grps {
            flex-direction: column;

        }
    }


    .prod_block a.item .more_details .specs .mini-specs {
        font-size: 11px;
    }




    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
}

// max-width: 780px





















// min-width: 590px for tablets like Samsung A6
@media screen and (min-width: 590px) and (max-width: 760px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////



    .prod_block a.item .more_details .specs_legend>div label {
        font-size: 8px;
    }

    .prod_block {
        padding: 15px 5px;
        margin: 10px 0px 30px;
    }

    .prod_block .img_container img {
        height: 100px;
    }

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
}

// min-width: 590px