@import "/main-layout";

// @import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
// @import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img_text_box {
        width: 27.33333%;
        margin: 20px 35px;
        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
    }
}


.video_container {    
     padding: 60px 20px;
    .video_intro_img {
        width: 600px;
        margin: auto;
        cursor: pointer;
        border: 1px solid #8a8a8a;
        img {
            width: 100%;
        }
    }

    .modal-lg {
        max-width: 950px;
        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;        
        border:0;
        margin-top: 30px;  
        margin-left: 25px;      
    }
}


.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: left;
        width: 40vw;
        margin: 0px auto 30px;
        //////////////////////////////
    }
}




.item_boxes {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #191919;
    // background-size: auto 100%;

    
    color: #000000;
    padding: 50px 20vw;
    border: 0;
    
    position: relative;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    // box-shadow: 0 0 70px -20px #dedede;
    
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;    
        .item {
            display: inline-flex;
            width: 25%;
            align-items: center;        
            flex-direction: column;
            margin: 10px;
            > span {
                width:50px;
                text-align: center;
                font-size: 40px;                
            }
            > h5 {
                font-size: 15px;
                margin-bottom: 15px;
                font-weight: 500;
            }
            > p {
                display: inline-block;
                padding: 0px 20px 10px 10px;
                margin: 0px 10px  10px ;
                font-size: 13px;
                text-align: justify;
                width: 100%;
            }
        }
    }


}



.backdrop_bar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        // font-size: 14px;
        position: relative;
        text-align: center;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}


.white_bar,    
.black_bar {    
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 20px;
}
.white_bar {
    background-color: #fff;
    color: #000;
}
.black_bar {    
    background-color: #000;
    color: #fff;    
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


///////////////////
// Client Logos //
////////////////////////////////////////////////////////////////////////
.client-logos {
    margin: 80px 0px 40px;
    // Owl Carousel
    //////////////////////////////////
    .owl-carousel {
        .owl-nav.disabled {
            display: none;
        }
        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 20px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }
        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
    }
    //////////////////////////////////
    // Owl Carousel

}
////////////////////////////////////////////////////////////////////////
// Client Logos //
/////////////////














// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}



.intro_text {
    margin-top: 0;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
    }
}

.bar_text {
    padding: 0 20px;
    margin: 20px 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        
    }
}


.video_container {
    padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

.benefits {
    padding: 30px 10px;
    .title {
        margin: 0px 0 15px;
        font-size: 20px;
    }
    .benefits_items {
        .benefits_item {
            width:85%;
            img {
                width: 40px;
            }
            p {
                padding: 10px;
                margin: 5px;
                font-size: 12px;
            }
        }
    }
}

.section_title {
    padding: 130px 10px 40px;
}

.white_bar, 
.black_bar {
    padding-top: 0px;
}



.item_boxes {
    padding: 10px;
    background-size: auto 100%;
    .items  {
        .item {
            width: 100%;
        }
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
