@import "/main-layout";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img_text_box {
        width: 27.33333%;
        margin: 20px 35px;
        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
    }
}


.video_container {    
     padding: 60px 20px;
    .video_intro_img {
        width: 600px;
        margin: auto;
        cursor: pointer;
        border: 1px solid #8a8a8a;
        img {
            width: 100%;
        }
    }

    .modal-lg {
        max-width: 950px;
        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;        
        border:0;
        margin-top: 30px;  
        margin-left: 25px;      
    }
}


.intro_text {
    text-align: center;

    // changes
    /////////////////////////////////
    margin-bottom: 45px;
    /////////////////////////////////

    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        // padding: 0 25vw;
        // margin-top: 30px;
        padding: 0 15vw;
        margin-top: 0px;

        // changes
        ///////////////////////////        
        padding: 0;
        text-align: left;
        width: 40vw;
        margin: 0 auto 20px;
        ///////////////////////////        
    }
}





.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #464646;
    background-color: #000000;
    color: #fff;
    .title_p {
        margin: 20px 0 0px;
        font-size: 20px;
    }
    
    .title {
        margin: 10px 0 20px;
        font-size: 40px;
    }

    p {
        margin: 20px 0;        
    }

}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////























// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section_title {
    // padding: 130px 10px 1px;
}


//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}



.intro_text {
    margin-top: 25px;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
        width: 100%;
    }
}

.bar_text {
    padding: 0 20px;
    margin: 20px 0;
    .title { 
        font-size: 35px;
    }
    .title_p {
        font-size: 17px;
        
    }
}


.video_container {
    padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

.alert_container {
    > div {
        margin-top: 80px;
    }
}




///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
