@import "/main-layout";






//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 15px;
    h3 {
        font-size: 17px;
        font-weight: 500;

        cursor: pointer;
    }
    i {
        // font-size: 15px;
        font-style: normal;
    }

    h3+ul {
        // display: none;
        margin-bottom: 50px;        
    }
    .fa {
        margin-left: 10px;
    }

    ul li > strong {
        font-weight: 600;
        display: inline-block;
        border-bottom: 1px solid;        
    }
}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////























// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.document {
    font-size: 12px;
    h3 {
        font-size: 15px;
    }
    i {
        font-size: 14px;        
    }
}

.section_title {
    // padding: 130px 10px 30px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
