@import "/main-layout";

.section_title {
    // padding: 70px 20px 65px;
}

.section_container {

    background-size: cover;
    border: 1px solid #e4e4e4; 
    border-left: 0;  
    border-right: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;

    
    .backdrop {
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .section_message {

        width: 87%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        align-items: center;
        padding: 22px 0 0px;               

        .section_text {

             padding: 20px;
            .welcome-message {
                text-align: left;    
                top: -15px;
                position: relative;
                margin: 0 0 15px;
            }

            h1 {
                margin: -18px -5px 35px 0;
                font-weight: 500;
                font-size: 20px;
            }

            p {
                margin: 0 0 14px 0;
            }

            .image-container {
                    
                display: flex;
                justify-content: center;
                flex-direction: column;
                justify-content: center;
                margin: auto;

                .item {

                    .img-shadow-cont {
                        // box-shadow: 0px 5px 54px 10px #ccc;
                        border: 1px solid gainsboro;
                        background-color: white;
                        width: 290px;
                        height: 270px;                    
                        display: inline-flex;
                        justify-content: center;
                        align-items: flex-end;
                        overflow: hidden;
                    }

                    position: relative;
                    top: 0px;

                    img {
                        width: 110%;
                        height: auto;
                    }
        
                    .lbl-ceo {

                       margin: 15px 0 0 4px;
                        font-weight: 500;
                        .role {
                            display: block;
                            font-weight: 300;
                        }
                    }

                    .align-right {
                        text-align: left;
                    }
                }
            }

        }
    
    }

    
}

.intro_text {
    text-align: center;
    position: relative;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 18vw;
    
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        width: 40vw;
        margin: 0px auto 30px;
    }
}





































































































































































@media screen and (max-width: 1366px) {

    .item {

        padding: 0;
        margin: auto;
        top: 0;

        .img-shadow-cont {
        
            width: 270px;
            height: 250px;
        }

        .lbl-ceo {

            margin: auto;
            font-weight: 500;

            .role {
                
                display: block;
                font-weight: 300;
            }
        }

        .align-right {
            text-align: left;
        }
    }

}






@media screen and (max-width: 1440px) {

    .section_container .section_message .section_text {
        padding: 0px;
    }

    .welcome-message {
        font-size: 12px;
        margin: 21px 0px 0px 0px;
    }

    .section_container .section_message .section_text p {
        margin: 0px 0 14px 38px;
    }

    .section_container .section_message .section_text .image-container {
        padding: 10px;
    }

    .item {

        padding: 0;
        margin: auto;
        top: 0;

        .img-shadow-cont {
            width: 214px;
            height: 194px;
        }

        .lbl-ceo {

            margin: auto;
            font-weight: 500;

            .role {
                
                display: block;
                font-weight: 300;
            }
        }

        .align-right {
            text-align: left;
        }
    }

}

























// max-width: 780px
@media screen and (max-width: 780px) {
    /////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .section_title {

        // padding: 110px 10px 10px;

        h1 {
            font-size: 18px;   
        }

    }

    .section_container { 
        border-color: transparent;

        .section_message {
            flex-direction: column;
            width: 100%;
            padding: 0;
        
          
        .section_text {

           width: 90%;
        
            .welcome-message {
                text-align: left;    
                top: 0;
                // margin: 0;
                margin: 21px 0px 0px 0px;

               
            }

            p {
                margin: 0 0 10px 0;
            }

            .image-container {
                    
                display: flex;
                justify-content: center;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                padding: 10px;

                .item {

                    padding: 0;
                    margin: auto;
                    top: 0;

                    .img-shadow-cont {
                        // box-shadow: 0px 3px 12px 5px #ccc;
                        border: 1px solid gainsboro;
                        background-color: white;
                    }
                
                    .lbl-ceo {

                        margin: auto;
                        font-weight: 500;
                        padding-top:13px;

                        .role {
                            
                            display: block;
                            font-weight: 300;   

                            span {
                                display: block;
                            }
                            
                        }
                    }

                    .align-right {
                        text-align: center;
                    }
                }
            }
        }

        .m-pb {
            padding-bottom: 10px;
        }

        .m-pt {
            padding-top: 19px;
        }


        }
    }

    .alert_container > div {
        margin-top: 80px;
    }




    
    //////////////////////////
    // Can be used for all //
    ///////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////
    



    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////
    }
    // max-width: 780px
    
    
