@import "/main-layout";

@import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
@import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img_text_box {
        width: 27.33333%;
        margin: 20px 35px;
        .img_box {
            height: 200px;
            background-position: center; 
            border: 1px solid #8a8a8a;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .text_box {
            h1 {
                font-size: 20px;
                margin: 20px 10px 20px 0px;
                font-weight: 500;
            }
            p {
                font-size: 14px;
            }
        }
    }
}


.video_container {    
     padding: 60px 20px;
    .video_intro_img {
        width: 600px;
        margin: auto;
        cursor: pointer;
        border: 1px solid #8a8a8a;
        img {
            width: 100%;
        }
    }

    .modal-lg {
        max-width: 950px;
        .modal-body {
            text-align: center;
        }
    }

    iframe {
        // width: 50vw;
        // height: 50vh;
        width: 842px;
        height: 474px;        
        border:0;
        margin-top: 30px;  
        margin-left: 25px;      
    }
}


.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 25vw;
        margin-top: 30px;
    }
}





.benefits {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    background-color: #191919;
    // background-size: auto 100%;

    
    color: #fff;
    padding: 50px 20vw;
    border: 0;
    
    position: relative;
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .benefits_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
        .benefits_item {
            display: inline-flex;
            width: 25%;
            align-items: center;        
            flex-direction: row;
            img {
                width:50px;
            }
            p {
                display: inline-block;
                padding: 10px 20px 10px 10px;
                margin: 10px;
                font-size: 14px;
                text-align: left;
            }
        }
    }


}



.bar_text {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        font-size: 14px;
        position: relative;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}
///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


///////////////////
// Client Logos //
////////////////////////////////////////////////////////////////////////
.client-logos {
    margin: 80px 0px 40px;
    // Owl Carousel
    //////////////////////////////////
    .owl-carousel {
        .owl-nav.disabled {
            display: none;
        }
        .owl-nav {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 20px;        
            button.owl-prev ,
            button.owl-next {
                font-size: 40px;
                line-height: 50px;
                outline: 0;
                width: 40px;
                > span {
                    top: -5px;
                    position: relative;
                }
            }
        }
        .owl-dots {
            position: relative;
            top: -20px;
            width: 50%;
            margin: auto;
        }
        .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
    }
    //////////////////////////////////
    // Owl Carousel

}
////////////////////////////////////////////////////////////////////////
// Client Logos //
/////////////////

























// for whatwedo elements
////////////////////////////////////////////////////////////////

.overview_poor {
    display: flex;
    justify-content: center;
    background-size: 100%;
    // padding-top: 20px;
    position: relative;
    .overview {
        width: 600px;
        display: inline-block;
        margin: 10px;
        position: relative;
        .title {
            font-size: 20px;
            font-weight: 500;            
        }
        p {
            text-align: justify;
        }
    }

    .poor_quality {
        margin: 10px 10px 10px 120px;
        width: 300px;
        display: inline-block;
        align-self: center;
        position: relative;
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
        }
    }

    .backdrop {
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

}


.lighting_advice {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    background-size: 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;
    
    height: 311px;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border: 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.75);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .lighting_advice_content {
        width: 450px;        

        .title_p {
            margin: 20px 0 0px;
            font-size: 14px;
            position: relative;
            text-align: justify;
        }
        
        .title {
            position: relative;
            margin: 10px 0 20px;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
        }

        p {
            margin: 20px 0;        
        }
    }

}


h1.title {
    font-size: 18px;
    font-weight: 500;
}


.design_range {
    max-width: 1000px;
    > div.design_range_content {
        width: 80%;
        padding: 5px 40px;
        p {
            text-align: justify;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    > div.design_range_content.d1st {
        border-left: 2px solid gainsboro;
    }
    > div.design_range_content.d2nd {
        margin-left: auto;
        margin-top: 70px;
        margin-bottom: 20px;
        border-right: 2px solid gainsboro;
        h1 {
            text-align: right;
        }
    }
}





.led_install {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    // background-color: #1f1f1f;
    background-color: #000000;
    color: #fff;
    padding: 40px 30vw 50px;
    
    .led_install_content {        
        width: 470px;
        margin: auto;

        .title {
            text-align: center;
            margin: 10px 0 20px;
            font-size: 20px;
        }
        p {
            margin: 0px;
            text-align: justify;
        }
        p.talk_to {
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 200;
            a {                
                color: white;
                border-bottom: 1px solid;
                padding-bottom: 3px;
            }
        }
    }

}



.light_refits {
    max-width: 1500px;
    display: flex;
    > div.div_container {
        width: 75%;
        padding: 5px 40px;
        p {
            text-align: justify;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    > div.div_container.d1st {
        border-left: 2px solid transparent;
        align-items: flex-end;
        display: inline-flex;
        width: 50%;
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
            width: 370px;
            display: inline-block;
            margin-bottom: 20px; 
            margin-left: 20px;
        }
        .light_refits_img {
            display: inline-block;  
            width: 450px;
            height: 300px;
            background-size: auto 100%;
            background-position: center;
            margin: 0px 15px;
            border: 1px solid #8c8c8c;
        }
    }
    > div.div_container.d2nd {
        width: 50%;
        display: inline-block;
        margin-left: auto;
        border-left: 2px solid transparent;
        h1 {
            text-align: left;
        }
    }
}



.rental_solution {
    max-width: 1500px;
    display: flex;
    > div.div_container {
        padding: 5px 40px;
        width: 49%;
        display: inline-block;        
        p {
            text-align: justify;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    > div.div_container.d1st {
        border-left: 2px solid transparent;
        align-items: flex-start;;
        display: inline-flex;
        flex-direction: column;
        // width: 100%;
        p {
            font-size: 14px;
            text-align: justify;
            font-weight: 300;
            width: 370px;
            display: inline-block;
            margin: 35px 0 10px; 
        }
        .light_refits_img {
            display: inline-block;  
            // width: 550px;
            height: 300px;
            width: 80%;
            background-size: 100%;
            margin: 0px;
            border: 1px solid #8c8c8c;
            iframe {
                max-width: 100%; 
                border: 0; 
                width: 100%; 
                height: 100%;                
            }
        }
    }
    > div.div_container.d2nd {
        margin-left: auto;
        border-right: 2px solid gainsboro;
        h1 {
            text-align: right;
        }
    }
}


.lighting_advice,
.design_range,
.led_install,
.rental_solution {
    margin-bottom: 60px;
}

.light_refits {
    margin-bottom: 100px;    
}

////////////////////////////////////////////////////////////////
// for whatwedo elements










































// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.light_refits,
.lighting_advice,
.design_range,
.led_install,
.overview_poor,
.rental_solution {
    flex-direction: column;
}


.overview_poor {
        padding-top: 0;
        margin-top: -15px;
    .overview {
        width: 100%;
        margin: 0;
    }
    .poor_quality {
        width: 90%;
        margin: 0;
    }
}
.lighting_advice {
    padding: 20px 10px;
    height: auto;
    background-size: auto 100%;
    .lighting_advice_content{
        width: 100%;
        .title {
            margin: 0px 0 20px;
        }
    }
}
.design_range {
    > div.design_range_content {
        width: 100%;
        padding: 5px 30px;
    }
}
.led_install {
    padding: 20px 15px 30px;
    .led_install_content {
        width: 100%;
    }
}

.light_refits {
    > div.div_container {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    > div.div_container.d1st {
        width: 100%;
        .light_refits_img {
            margin: 0;
            width: 100%;
        }
        p {
            margin: 0;
            padding: 10px;
            width: 100%;       
        }
    }
    > div.div_container.d2nd {
        width: 100%;
        margin-top: 30px;
    }
}


.rental_solution {
    margin-bottom: 20px;
    > div.div_container {
        padding: 5px 30px;
        width: 100%;        
    }

    > div.div_container.d1st {
        padding: 0;
        margin-top: 40px;
        .light_refits_img {
            width: 100%;            

        }
        p {
            width: 100%;            
        }
    }
}

.light_refits {
    margin-bottom: 50px;
}

//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////
.img_text_boxes {
    flex-direction: column;
    .img_text_box {
        width: 100%;
        margin: 0 0 20px;
        .text_box {
            h1 {
                font-size: 18px;
                margin: 15px 10px 15px 0px;                
            }
        }
    }
}



.intro_text {
    margin-top: 25px;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;        
    }
}

.bar_text {
    padding: 0 20px;
    margin: 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        padding-bottom: 20px;        
    }
}


.video_container {
    padding: 30px 20px 20px;
    .video_intro_img {
        width: 75vw;
    }
    iframe {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
}

.benefits {
    padding: 30px 10px;
    .title {
        margin: 0px 0 15px;
        font-size: 20px;
    }
    .benefits_items {
        .benefits_item {
            width:85%;
            img {
                width: 40px;
            }
            p {
                padding: 10px;
                margin: 5px;
                font-size: 12px;
            }
        }
    }
}

.section_title {
    padding-bottom: 40px;
}



.alert_container {
    > div {
        margin-top: 80px;
    }
}



///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
