@import "/main-layout";

// @import "../../vendors/owlcarousel/assets/owl.carousel.min.css";
// @import "../../vendors/owlcarousel/assets/owl.theme.default.min.css";



.section_title {
    // padding: 80px 20px 60px;
}

//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////


.intro_text {
    text-align: center;
    .title {
        font-size: 20px;
        line-height: 30px;
        padding: 0 15vw;
    }
    .title_p {
        padding: 0 20vw;
        margin-top: 0px;
        margin-bottom: 0;

        // changes
        //////////////////////////////
        padding: 0;
        text-align: left;
        width: 40vw;
        margin: 0px auto 30px;
        //////////////////////////////
    }
}




.item_boxes {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;


    color: #000000;
    padding: 50px 5vw;
    border: 0;

    position: relative;

    background-size: 121%;
    background-repeat: no-repeat;
    background-position: center;
   
    // border-top: 1px solid #dcdcdc;
    // border-bottom: 1px solid #dcdcdc;
    padding-top: 0px;

   

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
   
    .title {
        position: relative;
        margin: 0px 0 40px;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;    
        .item {
            display: inline-flex;
            width: 22%;
            align-items: center;        
            flex-direction: column;
            margin: 10px;
            > span {
                width:50px;
                text-align: center;
                font-size: 40px;                
            }
            > h5 {
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: 500;
                display: block;
                text-align: left;
                width: 100%;
                // padding-left: 10px;
            }
            > p {
                display: inline-block;
                // padding: 0px 20px 10px 10px;
                margin: 0px 10px  10px ;
                font-size: 13px;
                text-align: left;
                width: 100%;
            }
            .item_img {
                height: 160px;
                width: 100%;
                background-size: 120%;
                background-position: center;
                background-repeat: no-repeat;                
                margin-bottom: 15px;
                border: 1px solid gainsboro;
            }
        }
    }


}



.backdrop_bar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: left;
    // background-color: #464646;
    // background-color: #000000;
    background-size: auto 100%;

    
    color: #444;
    padding: 50px 30vw;
    border: 0;
    
    position: relative;

    .backdrop {
        background-color: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title_p {
        margin: 20px 0 0px;
        // font-size: 14px;
        position: relative;
        text-align: center;
    }
    
    .title {
        position: relative;
        margin: 10px 0 20px;
        font-size: 23px;
        font-weight: 500;
        text-align: left;
    }

    p {
        margin: 20px 0;        
    }

}


///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////









// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////




//////////////////////////
// Can be used for all //
///////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////

.section_title {
    // padding: 130px 10px 20px;
}

.intro_text {
    margin-top: 0;
    .title {
        font-size: 17px;
        padding: 0 10vw;
    }
    .title_p {
        font-size: 14px;
        padding: 0 5vw;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100%;
    }
}

.bar_text {
    padding: 0 20px;
    margin: 20px 0;
    .title { 
        font-size: 18px;
        margin: 30px 0 20px;
    }
    .title_p {
        font-size: 13px;
        
    }
}


.item_boxes {
    padding: 10px;
    background-size: auto 100%;
    .items  {
        .item {
            width: 100%;
        }
    }
}

.alert_container > div {
    margin-top: 80px;
}

///////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////
// Can be used for all //
////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px






