@import "/main-layout";

// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/home/aboutus.jpg');
	// background-attachment: fixed;
    background-position: center;
}

.bg-header {
	// background-color: #011e50;
}


.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}


.section.about .column {	
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
    	// background-color: #112311; 
    	background-color: #fff; 
    	// box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
    	box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}


.section {
    max-width: 1500px;
    .textarea,
    .input {
        border-radius: 0;
        box-shadow: none;        
    }
    .button.is-primary {
        background-color: $green2;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: $green_trans;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $green_trans;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $green_trans;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: $green_trans;
      opacity: 1;
    }
}

.section h1 {
    font-size: 25px;
    margin-bottom: 20px;            
}

.first_letter {
    font-size: 30px;
    font-weight: bold; 
    line-height: 0;
}

h1.section_1st_title {
    // text-align: center;
    // margin: 20px 0px 50px 0px;
    // padding: 20px 130px;
    // border: 1px solid $green2;
    // font-size: 17px;

    text-align: center;
    margin: 20px 0px 50px 0px;
    padding: 20px 130px;
    border: 1px solid $green2;
    font-size: 17px;
    color: #fff;
    border-radius: 70px 5px;
    text-shadow: 0px 0px 7px #fff;
    padding: 40px 130px;
    background-color: $green2;    
    
    box-shadow: 0px 0px 50px -10px #00b200;
    border: 2px solid #fff;
}

.section_1st {
    // height: 335px;
    // background-position: center;    
    height: 435px;
    background-position-y: -300px;
    // box-shadow: 5px 5px 20px #2b582b;
    box-shadow: 5px 5px 15px #c8e4c8;


    background-size: 100% auto;
    background-repeat: no-repeat;
    width: auto;
    display: flex;
    align-items: flex-end;
    text-shadow: 0px 0px 7px #fff;
    div {
        padding: 30px;
        width: 65%;
        color: #fff;
        background-color: $green_trans;
        h1 {
            color: $green_light4;
            text-shadow: 0px 0px 7px #8ebb9a;
        }
    }
}

.section_2nd {
    h1 {
        // padding: 0px 20px;
    }
    .long_text {
        display: flex;
        p {
            padding: 25px;
            text-align: justify;
        }

        p:first-child {
            padding-left: 0;
        }
        p:last-child {
            padding-right: 0;
        }
    }
}

.section_3rd {
    max-width: 100%;    
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 555px;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .text {
        padding: 20px;
        display: inline-block;
        width: 50%;
        max-width: 1100px;
        color: #fff;
        background-color: $green_trans;            
        h1 {
            color: $green_light4;
            text-shadow: 0px 0px 7px #8ebb9a;
        }
        p {
            text-shadow: 0px 0px 7px #fff;
        }

    }        
}

.section_4th {
    display: flex;
    p {
        width: auto;
        padding: 20px 50px;
        background-color: white;
        display: inline-block;
        border: 1px solid $green2;        
        flex-grow: 1;
        margin: 10px;
        border-radius: 50px 5px;                    
    }
}

.section_5th {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            text-align: center;
            padding: 10px 30px 30px 30px;
            width: 25%;
            i {
                font-size: 40px;
                margin-bottom: 10px;
                color: $green2;
            }
            h1 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 5px;
                min-height: 50px;
                color: $green2;                
            }
            p {
                font-size: 15px;
                text-align: justify;
            }
        }
    }
}

// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// page specific styles here
 // .zoominheader {
	// background-attachment: scroll;
    // background-size: auto 100%;
// }


.section {
    padding: 20px 20px;
    h1 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    p,
    .long_text p:first-child,
    .long_text p:last-child,
    .long_text p {
        font-size: 13px;
        padding: 15px 35px;
    }
}

h1.section_1st_title {
    margin-bottom: 30px;
    padding: 30px 60px;
}

.section_1st {
    background-size: auto 100%;
    background-position: bottom;
    box-shadow: 1px 1px 10px #c8e4c8;
    div {
        width: 85%;
        h2 {
            font-size: 12px;
        }
        h3 {
            font-size: 13px;
        }
    }
}

.section_2nd {
    h1 {
        font-size: 18px;
        // margin-bottom: 5px;
        // padding: 0px 15px;
    }
    .long_text {
        display: flex;
        flex-wrap: wrap;
        p {

        }        
    }
}

.section_3rd {
    // flex-wrap: wrap-reverse;
    background-size: auto 100%;
    .text {
        width: 65%;
    }
}

.section_4th {
    flex-wrap: wrap;
}

.section_5th ul li {
    width: auto;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
