@import "/main-layout";


// Read more
@import "../../vendors/readmore/scss/readmore.scss";



// page specific styles here

// stop zoom animation
.zoominheader {
	// background-image: url('../../assets/images/catalog_landing3.jpg');
	// background-image: url('../../assets/images/catalog_landing4.jpg');
	background-image: url('../../assets/images/catalog_landing4_e.jpg');
	// background-image: url('../../assets/images/catalog_landing5.jpg');
 	// animation:unset; 
}

// adjust header
.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
}




.categories {
	.category {
	    width: auto;
	    height: 350px;
	    // margin: 0 60px 90px 60px;
	    margin: 0 30px 90px 30px;
		border: 2px solid transparent;
		border-radius: 3px;
	    box-shadow: 5px 5px 19px -12px #2b582b;
        overflow: hidden;
        // border-radius: 30px 3px;
        border-radius: 3px 30px;
		

		//xxxxxxxxxxxxx
	    height: 140px;
	    margin: 0 30px 10px 30px;

	    a {
		    text-align: center;
		    display: block;
		    height: 100%;	

		    //xxxxxxxxxxxxxxxxxx
	        display: flex;
	        align-items: center;    	
	    }
	    .category_name {
			font-weight: bold;
		    font-size: 18px;
		    text-align: left;		    
   	    }
		.category_image {
			// height: 80%;
			height: 75%;
			background-position: center;
			background-size: auto 100%;
			background-repeat: no-repeat;
			/* margin: 20px 5vw 20px; */
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;

			//xxxxxxxxxxxxx
			height: 130px;
		    width: 130px;
			overflow: hidden;
			display: inline-flex;
		    vertical-align: middle;
		    margin: 10px;


		}
		.box {
		    height: auto;
		    width: auto;
		    display: inline-block;
		    margin-left: auto;
		    margin-right: auto;
		    margin-bottom: 5px;
		    background-color: transparent;
		    border-radius: 0px;
		    padding: 10px;
		    box-shadow: none;
			border-bottom: 5px solid transparent;


			//xxxxxxxxxxxxxxxxx
		    vertical-align: middle;
		    margin: 10px 15px 10px 10px;
		    // width: 245px;
		    width: 180px;
		    padding: 5px;		    

			h3 {
	    	    // font-weight: bold;
			    color: $green;
			}

		}

	}

	.category:hover {
		border: 2px solid $green;
		.category_name {
			// color: #fff;
		}
		.box {
			// background-color: #223922;
			// border-bottom: 3px solid #223922;
			border-bottom: 5px solid #7ee07e;
		    // margin-left: 100px;
		    // margin-right: 100px;
		    h3 {
	    	    // font-weight: bold;
			    color: $green;
		    }
		}
	}
}


// added <img>
.category_image img {
	// height: 100%;
	height: auto;
    width: auto;
}


.title_desc {
	center {
		font-size: 130%;
	    font-weight: bold;
	}
	i {
		font-size: 80%; 
		line-height: 20px; 
		display: inline-block;
	}
}


// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.hero.is-large .hero-body {
    padding-bottom: 50px;
    padding-top: 50px;
}

.hero .title, .subtitle {
	
}

.categories .category {
	margin: 0 0 55px 0;
}

// .zoominheader {
//     background-size: auto 100%;
// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px



