@import "/main-layout";


// unitegallery
// @import "../vendors/lightbox/css/lightbox.min.css";
@import "../../vendors/unitegallery/dist/css/unite-gallery.css";



// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/home/gallery.jpg');
	// background-attachment: fixed;
    background-position: center;
}

.bg-header {
	// background-color: #011e50;
}



.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}




.section.about .column {	
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
    	// background-color: #112311; 
    	background-color: #fff; 
    	// box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
    	box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}



// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// page specific styles here
//  .zoominheader {
// 	background-attachment: scroll;
//     background-size: auto 100%;

// }


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px



