@import "/main-layout";

// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/lightingdesign/banner.jpg');
	// background-attachment: fixed;
    background-position: center;
}

.bg-header {
	// background-color: #011e50;
}


.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}




.main_section  {
	.content_container {
	    border-radius: 7px;
	    background-position: center;
	    background-size: 100% auto;
	}
	.text {
	    text-align: center;
	    text-shadow: 0px 0px 7px #000;
	    line-height: 30px;
	    font-size: 22px;
	    color: #fff;
	    padding: 30px;
	    background-color: rgba(32, 64, 32, 0.75);
	    border-radius: 5px;
	    box-shadow: 0px 0px 50px -10px #234223;
	    border: 3px solid #fff;
	    h1 {
			color: #31ff31;
		    font-size: 120%;
		    font-weight: bold;
		    margin-bottom: 10px;
		    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
	    }
	    div {
	    	text-shadow: 0px 0px 7px #fff;
	    	padding: 10px 5%;
	    }
	}

}


.other_sections {
	.content_container {
		display: flex;
	    align-items: center;    
	}

	.content_container.move_left {
	    justify-content: flex-start;
	    .text {
			left: 80%;
	    }
	}
	
	.content_container.move_right {
	    justify-content: flex-end;
	    .text {
			right: 80%;
	    }
	}	 

	.image {
	    background-size: 100% auto;
	    background-repeat: no-repeat;
        background-position: center;
	    width: 50%;
	    display: inline-block;
	    min-height: 400px;
	    box-shadow: 0px 7px 33px -3px;
	    border: 2px solid #fff;
        padding: 40px 10px;
	    display: flex;
	    align-items: center;
	}
	.text {
	    display: inline-block;
		width: 100%;
		text-shadow: 0px 0px 7px #000;
	    line-height: 30px;
	    font-size: 18px;
	    color: #fff;
	    padding: 30px;
        background-color: rgba(7, 14, 7, 0.9);
        z-index: 2;
        border: 1px solid #fff;
        border-radius: 25px 3px;
        position: relative;
	    h1 {
			color: #31ff31;
		    font-size: 120%;
		    font-weight: bold;
		    margin-bottom: 10px;
		    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
		    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);		    
	    }
	    p {
	    	// text-shadow: 0px 0px 7px #fff;
	    }		
	}
   
}



// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.main_section .content_container {
	background-size: auto 100%;
}
.main_section .content_container .text {
    font-size: 14px;
    line-height: 18px;	
}
.content_container .text, {
	font-size: 13px;
    line-height: 17px;    
}

.other_sections .image {
	width: 80%;
    background-size: auto 100%;
}

.other_sections	.content_container.move_left .text {
	left: 20%;
}
	
.other_sections	.content_container.move_right .text {
	right: 20%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px


