@import "/main-layout";

// mobiletable
@import "../../vendors/mobiletable/css/mobiletable.css";



// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/home/list.jpg');
	// background-attachment: fixed;
    background-position: center;
}

.bg-header {
	// background-color: #011e50;
}



.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}

.section.about .column {	
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
    	// background-color: #112311; 
    	background-color: #fff; 
    	// box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
    	box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}


.section.list {
    display: flex;
    align-items: flex-start;
    .items {
        flex-grow: 5;
        .columns {
            margin: 0;
        }
        .model_table {
            .control input {
                width: 50px;
            }
        }
    }
    .summary {
        flex-grow: 1;
        .summary_container {
            padding: 10px;
            margin: 0px 10px 10px;
            width: 300px;
            display: inline-block;
            table {
                width: 100%;
            }
            .list_header {
                display: block;
                margin: auto;
                text-align: center;
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: bold;

            }
            td {
                padding: 10px 10px 15px;
            }
            .total_amount {
                font-weight: bold;
            }
            .total_amount {
                font-size: 18px;
            }
            .action_buttons a.model_action_button {
                margin-bottom: 5px;
                margin-right: 5px;
                margin-left: 0;
            }
        }
    }
}







// table
//////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
.table-scrollable-container {
    width: 100%;
}

.model_action_column {

    a {
        display: block;
        margin-bottom: 4px;
        height: auto;
        padding: 2px 5px;
        font-size: 12px;    
        // padding: 8px;
        // width: 35px;
    }

    i {
        // font-size: 20px;
    }

}

// separated because of mobiletable
///////////////////////////////////////////////
a.model_action_button  {
    margin-bottom: 5px;
    margin-left: 5px;
}

// horizontal_table_mode
/////////////////////////////
.horizontal_table_mode {
    // .model_action_button.request_technicalfiles {
    //     background-color: rgba(131, 191, 191, 0.50);
    // }
    // .model_action_button.request_datasheet {
    //     background-color:  rgba(247, 185, 13, 0.50);    
    // }
}
/////////////////////////////
// horizontal_table_mode

.model_action_button.request_technicalfiles,
.model_action_button.get_technicalfiles {
    background-color: #83bfbf;
}

.model_action_button.request_technicalfiles:hover,
.model_action_button.get_technicalfiles:hover {
    background-color: #4f8e8e;
}

.model_action_button.enquire:hover {
    background-color: #519c51;
}

.model_action_button.add_to_list:hover {
    background-color: #396ead;
}

.model_action_button.request_datasheet, 
.model_action_button.get_datasheet {
    background-color: #f7b90d;
}

.model_action_button.request_datasheet:hover,
.model_action_button.get_datasheet:hover {
    background-color: #dea300;
}

.model_action_button.enquire {
}
.model_action_button.remove_from_list ,
.model_action_button.add_to_list {
    background-color: #4e94e6;
    color: #fff;
    border-color: transparent;        
}

.model_action_button.add_to_list:focus,
.model_action_button.add_to_list:active {
    background-color: #0044af;
}
.model_action_button.remove_from_list {
    background-color: #00239c;
}

.model_action_button i {
    margin-right: 3px;
}
///////////////////////////////////////////////
// separated because of mobiletable    



.model_table tbody td ,
.model_table thead th {
    font-size: 10px;
}
.model_table tbody td {
    padding: 25px 10px 10px 10px;
}

.model_table thead th {
    padding: 0px 10px 10px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}

.model_table thead {
    color: #3c5057;
    text-align: left;
    border-bottom: 1px solid #efefef;
    background-color: initial;

}

.model_action_div {
    width: 115px;
}

.model_table {
    width: 100%;
    margin-bottom: 0px;

    tbody tr {
        // border-bottom: 3px solid $green;
        border-bottom: 3px solid #cecece;
        margin-bottom: 5px;
    }
}

.mobile-table-value .columns,
.model_table  td .columns,
.model_table  td .column {
    padding-top: 0px;
}


.model_tech_data_field .model_tech_data {
    // color: #8a8a8a;
    // border: 1px solid #eaeaea;
    // padding: 2px 4px;
    // margin: 5px;
    // border-radius: 4px;
    color: #8a8a8a;
    padding: 2px 10px;
    margin: 5px;
    background-color: #f8f8f8;
    white-space: nowrap;
}

.model_tech_data {
    // padding-top: 5px;
    // font-size: 15px;
    // font-weight: bold;
    padding-top: 5px;
    font-size: 11px;
    font-weight: bold;
    max-width: 280px;
    .model_tech_value ,
    .model_tech_data_sub {
        // font-size: 13px;
        // font-weight: initial;
        font-size: 13px;
        font-weight: bold;
        color: #3e3e3e;

    }

}

.model_tech_data.multi_lines .model_tech_data_sub {     
    margin-left: 10px;
}

.model_tech_data_name {
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    // margin-left: 10px;
    margin-left: 0px;
    // margin-right: 15px;
    margin-right: 0px;
    padding-left: 0;
}


.model_table tbody tr:last-child {
    border-bottom: 0px;
}

.model_table tbody tr:first-child {
    // border-top: 3px solid #112311;
}

.model_th {
    height:35px; 
    // margin-left:5px;
    margin-left:15px;
}

.price_container {
    font-weight: bold;
    font-size: 15px;
    display: block;
}



// product model table checkbox as button 
//////////////////////////////////////////////////
label.button {
    margin: 3px 1px;
    padding: 5px;
}

.button input {
    display: none;
}

.button.isSelected {
  background-color: #5cb85c;
  color: #fff;
}

.option_group_container {
    display: flex;
    flex-wrap: wrap;
    .option_group {
        // border: 1px solid #cacaca;
        border-radius: 2px;
        padding: 5px;
        margin: 5px;

        h6.title.is-6 {
            font-size: 11px;
            margin-bottom: 3px;
            margin-left: 3px;
            margin-right: 3px;
            padding-bottom: 0;
            white-space: nowrap;
        }
        label.button.disabled[disabled] {
            color: #333333;
            background-color: #dadada;
            border-color: transparent;
        }
    }
}
//////////////////////////////////////////////////
// product model table checkbox as button 

// product model table price
//////////////////////////////////////////////////
// .price_container span.red {
//     color: #d81909;
// }
// .price_container span.green {
//     color: #5cb85c;
// }
// .price_container span.blue { 
//     color: #0200ff;
// }
// .price_container span.old_price ,
// .price_container span.main_price ,
// .price_container span.new_price {
//     text-decoration: line-through;
//     display: block;
// }
// .price_container span.best_price {
//     text-decoration: none;
// }

// .blue {
//     color: #0200ff;
// }

// .price_container span.new_price {
//     color: #5cb85c;
// }
// .price_container span.old_price { 
//     color: #3c5057;
// }
// .price_container {
//     .old_price + span.main_price {
//         display: none;
//     }
// }
// .price_container span.best_price.old_price , 
// .price_container span.best_price.main_price , 
// .price_container span.best_price.new_price { 
//     display: block;    
// }

.price_container span.old_price ,
.price_container span.dscnt_price {
    text-decoration: line-through;
    display: block;    
}
.price_container span.dscnt_price {
    color: #5cb85c;
}
.price_container span.best_price {
    text-decoration: none;
}

.price_container_no_discount {
    display: block;
    text-decoration: line-through;
    color: #d62828;    
}

//////////////////////////////////////////////////
// product model table price


// Share via Email Modal
//////////////////////////////////////////////////////////
#share_via_email .modal-card-head {
    background-color:#2080f1;
}
#share_via_email .modal-card-head .modal-card-title {
    color: #fff;
}
#share_via_email button {
    background-color:#0065dc;    
}
//////////////////////////////////////////////////////////
// Share via Email Modal

// Request Datasheet Modal
//////////////////////////////////////////////////////////
#datasheet .modal-card-head {
    background-color:#f7b90d;
}
#datasheet .modal-card-head .modal-card-title {
    color: #fff;
}
#datasheet button {
    background-color:#ffc218;    
}
//////////////////////////////////////////////////////////
// Request Datasheet Modal

// Request Technical Files Modal
//////////////////////////////////////////////////////////
#technical_files .modal-card-head {
    background-color:#83bfbf;
}
#technical_files .modal-card-head .modal-card-title {
    color: #fff;
}
// .request_technicalfiles.button.is-primary:hover, 
// .request_technicalfiles.button.is-primary.is-hovered, 
#technical_files button {
    background-color:#83bfbf;    
}
//////////////////////////////////////////////////////////
// Request Technical Files Modal



    // for text with ...
    // text-overflow: ellipsis;
    // overflow: hidden;
    // max-height: 180px;
    // display: -webkit-box;
    // -webkit-line-clamp: 10;

    // white-space:nowrap;

.highlight_from_url td {
    background-color: #f2fdf3;
    // border: 5px solid #1bff00;
}




.model_action_button.share_product {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border-color: transparent;
    color: #3273dc;
    line-height: 0px;
    font-size: 30px;
    padding: 0;
    height: auto;
    
    i {
        margin: 0px 2px 0px 3px;
    }
}


.price_container { 
    margin-left: 5px;
    white-space: nowrap;
}


.warranty {
    margin-left: 5px;
    font-size: 14px;
    white-space: nowrap;
}



.table_for_led_designers,
.normal_table_mode {
    border:1px solid $green;
    border-radius: 3px;
    padding: 15px;
}



.out_of_stock ,
.in_stock {
    font-size: 11px;
    font-weight: bold;
    color: #489448;
    margin-left: 5px;
    white-space: nowrap;
    display: block;    
}
.out_of_stock {
    color: red;    
}



.normal_table_mode {

    .mobile-table-row {
        .model_heading {
            background: $green2;
            color: #fff;
            text-align: center;
        }
    }


    .model_heading_tr {
        background-color: $green2;
        border-bottom: 0;
        td {
            padding: 0px 5px;
        }
    }

    .model_heading {
        font-size: 15px;
        padding: 10px 20px;        
        font-weight: bold;
        // background: #f4f4f4;
        background: transparent;
        color: #fff;
        margin: 0;    
    }

    .model_extra_tr {
        td {
            padding: 5px;
        }
        div {
            padding: 0px 10px 10px;
            font-size: 13px;
        }
    }
    
    a.button.model_action_button.remove_from_list {
        background-color: #d81909;
    }    
}



////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////
// table





// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// page specific styles here
//  .zoominheader {
// 	background-attachment: scroll;
//     background-size: auto 100%;
// }

.section.list {
    flex-direction: column-reverse;
    padding-top:0;
    .quantity_input {
        width: 50px;
    }

    .quantiy_container {
        justify-content: left;
        margin-left: 5px;
    }
}



.mobile-table {

    .mobile-table-key {
        font-size:12px;
        padding-top: 5px;
    }
    .mobile-table-value {
        .model_tech_data_name {
            margin-bottom: 25px;
            margin-left: 10px;
            .model_title {
                font-size: 15px;
            }           
        }
        .model_th {
            // margin-left:15px;
            margin-left:5px;
        }
        .model_tech_data_field {

            .model_tech_data:first-child {
                margin-top: 10px;
            }
            .model_tech_data {
                margin-left: 5px;
            }
        }
    }   
}


.modal .modal-card-head .modal-card-title {
    font-size: 20px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px



