@import "/main-layout";

// page specific styles here
 .zoominheader {
    background-image: url('../../assets/images/roi/ROI_main.jpg');
    // background-attachment: fixed;
    background-position: center;
}


.bg-header {
    // background-color: #011e50;
}


.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}


.section.about .column {    
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
        // background-color: #112311; 
        background-color: #fff; 
        // box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
        box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}


.section {
    max-width: 1500px;
    .textarea,
    .input {
        border-radius: 0;
        box-shadow: none;        
    }
    .button.is-primary {
        background-color: $green2;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: $green_trans;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $green_trans;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $green_trans;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: $green_trans;
      opacity: 1;
    }
}


#ReturnGraph {
    width:95%;
    height:400px; 
    margin:auto;
}

// h3 {
//     color: black;
//     text-shadow: none;
//     padding-left:0px;
//     background-color: #f4f4f4;
//     display: inline-block;
//     padding: 10px 30px;
//     margin-bottom: 20px;
//     font-size: 20px;
// }

h3 span {
    margin: 30px 0px 25px 0px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px 5px;
    display: inline-block;
    border-bottom: 1px solid #2b582b;
    color: #2b582b;    
}



// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.section {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    padding: 0px 20px 20px 5px;
    font-size: 14px;
}

h3 {
    span {
        font-size: 15px;
        margin: 30px 0px 10px 0px;
        border: 0;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px





