@import "/main-layout";

// page specific styles here
 .zoominheader {
	// background-image: url('../../assets/images/home/getaquote.jpg');
	background-image: url('../../assets/images/servicepromise/banner.jpg');
	// background-attachment: fixed;
    background-position: center;
    // background-position: top;
}

.bg-header {
	// background-color: #011e50;
}


.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}



.image1 {
    background-image: url(../../assets/images/servicepromise/image1.jpg);
    /*height: 310px;*/
    width: 100%;

    box-shadow: 0px 7px 33px -3px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 125px 10px 60px 90px;
    border: 2px solid #fff;
    border-radius: 80px 3px;
    margin-top: -85px;
}

.part_1 {
    display: flex;
    justify-content: flex-end;
    /*height: 500px;*/
    align-items: center;
}

.text {
    color: #fff;
    padding: 25px 35px;
    background-color: rgba(17, 35, 17, 0.75);
    display: inline-block;
    margin-right: -270px;
    z-index: 2;
    width: 50%;
}

.text h1 {
    color: #61ff61;
    text-shadow: 0px 0px 7px #8ebb9a;        
}
.text p {
    text-shadow: 0px 0px 7px #000;      
    line-height: 35px;
    font-size: 22px;        
}

.accent {
    /*text-shadow: 0px 0px 7px #fff;*/
    color: #31ff31;
    font-size: 120%;
    font-weight: bold;
}


.section_1st_title {
    text-align: center;
    margin: 0px;
    // color: #fff;
    line-height: 35px;
    font-size: 22px;
    border-radius: 70px 5px;
    text-shadow: 0px 0px 7px #fff;
    padding: 40px 20px;
    // background-color: #2b582b;
    // box-shadow: 0px 0px 50px -10px #00b200;
    // border: 2px solid #fff;
}

.first_letter {
    font-size: 30px;
    font-weight: bold;
    line-height: 0;
}




.guaranteed {
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-radius: 70px 5px;
    text-shadow: 0px 0px 7px #fff;
    padding: 0px 30px 40px;
    background-color: #2b582b;
    box-shadow: 0px 0px 50px -10px #00b200;
    border: 2px solid #fff;

    color: #275027;
    background-color: transparent;
    box-shadow: none;

	.guaranteed_title {
		margin-bottom: 20px;

	}


	ul {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    li {
	        text-align: center;
	        margin: 15px;
	        padding: 20px 30px 30px 30px;
	        width: 30%;
	        // border: 1px solid $green2;   
	        border: 1px solid #fff;   
	        border-radius: 30px 5px;
			
			border: 1px solid #275027;
	        i {
	            font-size: 40px;
	            margin-bottom: 10px;
	            color: $green2;
	        }
	        h1 {
			    font-size: 18px;
			    font-weight: bold;
			    margin-bottom: 5px;
			    min-height: 50px;
			    text-shadow: none              
	        }
	        p {
	            font-size: 15px;
	            text-align: justify;
	        }
	    }
	}


}










// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.text {
    width: 80%;
    padding: 15px;
    p {
	    font-size: 14px;
	    line-height: 17px;
    }
}


.image1 {
    background-size: 100% auto;
    border-radius: 40px 3px;
    padding: 35px 10px 10px 20px;	
}

.guaranteed {
	padding: 10px;
	.guaranteed_title {
	    font-size: 14px;
	}
	ul {
		li {
		    width: 47%;
		    margin: 5px;
			border-radius: 25px 5px;
		    padding: 15px 10px 10px 10px;
			h1 {
			    font-size: 14px;
			    text-align: left;
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
			    min-height: 40px;
			    line-height: 16px;
			}
			p{
				font-size: 12px;
			}
		}
	}
}

.section_guaranteed {
    padding-left: 10px;
    padding-right: 10px;
}

.section_top {
    padding-bottom: 5px;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px


