@import "/main-layout";



// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/home/terms.jpg');
	// background-attachment: fixed;
    background-position: center;
}

.bg-header {
	// background-color: #011e50;
}



.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}




.section.about .column {	
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
    	// background-color: #112311; 
    	background-color: #fff; 
    	// box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
    	box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}

.terms {
    // display: none;
    padding:10px;
    h3{
        margin: 30px 0px 10px 0px;
        font-size: 20px;
        font-weight: bold;
        // background-color: #f4f4f4;
        padding: 10px 5px 5px;
        display: inline-block;
        border-bottom: 1px solid $green2;
        color: $green2;
        i {
            font-style: normal;
        }
    }
    
    p {
        line-height: 30px;
        margin: 10px 35px;
        font-size: 16px;        
    }
    ul {
        margin: 10px 35px;
    }
    li {
        margin-left: 30px;
        padding-left: 5px;
        margin-bottom: 5px;
        list-style-type: disc;
        background-color: white;
        font-size: 14px;
        line-height: 28px;
        color: $green2;
        span {
            color: #444;
        }
    }
    em {
        font-size: 15px;
        display: block;
        line-height: 25px;
        margin-top: 15px;
        u {
            text-decoration: none;
        }
    }

}


// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// page specific styles here
//  .zoominheader {
// 	background-attachment: scroll;
//     background-size: auto 100%;

// }

.terms {
    ul {
        margin: 10px 5px;
    }
    h3 {
        padding: 10px 5px 5px;
        font-size: 15px;
    }
    li {
        font-size: 12px;
        line-height: 25px;
        margin-left: 20px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px



