@import "/main-layout";

// page specific styles here
 .zoominheader {
	background-image: url('../../assets/images/whatwedo/whatwedo.jpg');
	// background-attachment: fixed;
    background-position: center;
}


.bg-header {
	// background-color: #011e50;
}


.hero.is-large .hero-body {
    padding-bottom: 100px;
    padding-top: 100px;
    .container {
        width: 50vw;
    }
}


.section.about .column {	
    margin: 30px 10px;
    padding: 0;
    .title,
    .about-content {
    	// background-color: #112311; 
    	background-color: #fff; 
    	// box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.16);
    	box-shadow: 5px 5px 10px rgba(17, 35, 17, 0.5);

    }
}


.section {
    max-width: 1500px;
    .textarea,
    .input {
        border-radius: 0;
        box-shadow: none;        
    }
    .button.is-primary {
        background-color: $green2;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: $green_trans;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $green_trans;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $green_trans;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: $green_trans;
      opacity: 1;
    }
}


.column.white-tile.is-one-third {
    // text-align: center;
    // padding: 35px;
    // border: 1px solid $green2;
    // margin: 10px;
    // border-radius: 80px 5px;    

    text-align: center;
    padding: 35px;
    border: 1px solid $green2;
    margin: 10px;
    border-radius: 60px 5px;
    width: 220px;  
    display: inline-block;
}

.column.is-half {
    display: flex;
    align-items: flex-end;
}

h3.title {
    text-align: center;
}
p{
    // font-weight:100;
}
    
    .wwd {
        border-bottom: 2px solid transparent;
        a{
            display:block;
            font-weight:bold;
        }
    }

    .wwd.active,
    .wwd:hover {
        border-bottom-color: transparent;
        color: green;
        img{
            -webkit-filter: opacity(.5) drop-shadow(0 0 0 green);
            filter: opacity(.5) drop-shadow(0 0 0 green);
        }
    }




.tabcontent_container {
    min-height: 300px;
    overflow:hidden;

    .tabcontent {
        display:none;
        margin: 10px;
        padding: 10px;        
        .columns.right { 
            // flex-direction: 
        }
        .columns {
            .column.is-half{
                align-items: center;
                justify-content:center;
                background-position: center;
                background-size: 100%;
                min-height: 300px;
                margin-right: 10px;
                background-repeat: no-repeat;
                
                background-size: 100% 100%;
                border: 1px solid #fff;
                box-shadow: 0px 7px 33px -3px;
                margin: 20px 20px;
            }
            .column{
                display:flex;
                align-items: flex-start;
                justify-content:center;
                flex-wrap: wrap;
            }
            .column.left{
                display:flex;
                // align-items: flex-start;
                align-items: center;
                justify-content:flex-start;
                flex-wrap: wrap;
            }
            .column.right{
                display:flex;
                // align-items: flex-start;
                align-items: center;
                justify-content:center;
                flex-wrap: wrap;
            }
            .column p{
                // background-color: $green;
                padding: 15px;
                text-align: justify;
                // color: #fff;
            }
            .vline{
                border-left: 1px solid green;
                margin: 0px 15px;
            }            
        }
    }
    .tabcontent:first-child {
        display:block;
    }
}

i{
    font-style: italic;
    text-align: center;
    display: inline-block;
}



h3.title ,
h2.title {
    text-align: center;
    color: $green2;
    font-size: 27px;
}


// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


.section {
    padding-left: 10px;
    padding-right: 10px;
}
.section_tabcontent {
    padding-top: 0;
}


.tabs.is-centered ul{
    display:block;
}

.tabs{
  li a.active,
    li a:hover {
        color: #3273dc;
        border-bottom-color: transparent;
    }
}



.column.white-tile.is-one-third {
    padding: 10px 30px;
    width: 160px;
    img {
        display:none;
    }
}

.vline{
    display:none;
}
.hline{
    border-bottom: 1px solid green;    
     }

.column p{
    text-align:center;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px



