// $green: #223922;
$green: #112311;

$green2: #2b582b;


$green_light5: #e2eace;

$green_trans: rgba(17, 35, 17, 0.55);
$green_light: #7ee07e;
$green_light2: #61c161;
$green_light3: #48a248;
$green_light4: #61ff61;

$green_light5: #5cb85c;








// $fa-font-path: "../webfonts";



$higlight: #000;
$highlight: #000;

$yellow: #ffc100;
$underline: #ffc100;
$white: #fff;
$white2: #f9f9f9;

$gray: #dedede;
$gray: rgba(222, 222, 222, 0.5);


$black:#212529;