

// bg image slow zoom effect
//////////////////////////////////////////////////////////
.bg-header {	
	// background-image: url('../../assets/images/home/banner.jpg');
	overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;	
    top: 0px;
    z-index: -1;    
}

 .zoominheader {
   width:100%;
   height:100%;
	overflow: hidden;
	background-image: url('../../assets/images/home/banner3.jpg');
  background-size: 100% auto;
	// background-size: 100%;
	// background-attachment: fixed;
    background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-animation: zoomin 60s ease-in infinite;
	animation: zoomin 60s ease-in infinite;
	transition: all .5s ease-in-out;
 }


.bg-header {
  background-color: $green;
}


 /* The innermost element*/
 .zoomoutheader {
   width:100%;
   height:100%;
   background: none;
   overflow: hidden;
   -webkit-animation: zoomout 20s ease-in infinite;
   animation: zoomout 20s ease-in infinite;
   transition: all .5s ease-in-out;
 }

 /* Zoom in Keyframes */
 @-webkit-keyframes zoomin {
   0% {transform: scale(1);}
   50% {transform: scale(1.30);}
   100% {transform: scale(1);}
 }
 @keyframes zoomin {
   0% {transform: scale(1);}
   50% {transform: scale(1.30);}
   100% {transform: scale(1);}
 } /*End of Zoom in Keyframes */

 /* Zoom out Keyframes */
 @-webkit-keyframes zoomout {
   0% {transform: scale(1);}
   50% {transform: scale(0.70);}
   100% {transform: scale(1);}
 }
 @keyframes zoomout {
   0% {transform: scale(1);}
   50% {transform: scale(0.70);}
   100% {transform: scale(1);}
 }/*End of Zoom out Keyframes */

//////////////////////////////////////////////////////////
// bg image slow zoom effect










// max width 780px
@media screen and (max-width: 780px) {
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


.zoominheader {
  // background-size: 100%;
  background-size: auto 100%;
}


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
}
// max width 780px
