@import "global/variables";


// category_menu
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// .breadcrumb ul li a.category_overview {
//     padding: 5px 15px;
//     margin-right: 10px;
//     border-radius: 3px;
//     background-color: $green2;
//     color: #fff;
// }

// .breadcrumb ul li a.category_overview:hover {
//     background-color: $green_light2;
// }

.breadcrumb .category_menu {
	outline: none;
    text-align: left;
    display: block;
    position: absolute;
    background-color: #223922;
    border: 1px solid #fff;
    padding: 5px 0px;
    // margin: 40px 0 0 -100%;
    margin: 0px 0 0 -100%;
    width: 350px;
    z-index: 9;
    border-radius: 30px 3px;
    h2 {
	    color: #fff;
	    padding: 5px 15px 10px;
	    margin: 5px;
	    font-size: 20px;
	    text-align: center;
	    a { 
	    	padding: 0; 
	    	display: inline-block;
	    }
		span {
			border-bottom: 1px solid $green_light2;
		    padding-bottom: 5px;
		    color: #fff;
		}
	    .close_category_menu {
			color: #fff;
			float: right;
	    }
    }
    ul {
    	flex-direction: column;
    	align-items: left;
	    margin-bottom: 10px;    	
    	li {
		    padding: 6px 5px;
		    line-height: 20px;
		    display: block;
		    width: 100%;
    	}
		li:before {
			content: none;
		}
		li a {
			// border-bottom:1px solid transparent;
		    color: #fff;
		    padding :0px 15px;
	        white-space: normal; 
            font-weight: normal;
		    text-align: left;
	        display: block;
	        img {
	        	height: 30px; 
	        	vertical-align: middle; 
	        	margin-right: 5px; 
	        	border-radius: 5px 2px;
        	    border: 1px solid #000;
	        }
	        .category_name_text {
			    display: inline-block;
			    white-space: normal;
			    width: 80%;
			    vertical-align: middle;
	        }
		}
		li:hover,
		li.active {
			background-color: #66ca66;
			a {
				// border-bottom:1px solid #7ee07e;
			}
		}

    }


}


// slide animation
///////////////////////////////////////////////////
.category_menu.open {
	animation-duration: 1s;
	animation-name: slideLR_CategoryMenu;
	margin-left: -10px;
}

.category_menu.close {
	margin-left: -110%;
	animation-duration: 1s;
	animation-name: slideRL_CategoryMenu;
}

@keyframes slideRL_CategoryMenu {
  from {
    margin-left: -10px;
  }

  to {
    margin-left: -100%;
  }
}

@keyframes slideLR_CategoryMenu {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: -10px;
  }
}

///////////////////////////////////////////////////
// slide animation




// sub-categories
////////////////////////////////////////////

.sub_categories_title {
    // margin-bottom: 20px;
    margin-bottom: 10px;
    .sub_category{
        margin-bottom: 10px;
        padding-bottom: 0;
        display: inline-block;
        a {
            white-space: normal;
            // padding: 20px;
            line-height: 15px;
        }
    }
}


.breadcrumb .category_menu .sub_category {
    padding-left: 70px;
    i {
        color: #fff;
    }
    a {
        vertical-align: top;
        display: inline-block;
        padding: 0 5px;
    }
}


////////////////////////////////////////////
// sub-categories



.looking_for {
    width: 90%;
    margin: auto;	
	h1 {
	    display: inline-block;
	    text-align: center;
	    font-size: 25px;
	    // border-bottom: 2px solid #61c161;
	    margin: 15px;
	    padding: 10px 15px;
	    // cursor: pointer;
	    text-shadow: 0 0 5px #61c161;
	}
	a {
		font-weight: bold;
		color: #e8ad00;
	    text-shadow: none;;

	}
	a:hover {
		text-shadow: 0 0 5px #ffd14b;

	}
}





// max-width: 780px
@media screen and (max-width: 780px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.category_menu {
	font-size: 12px;
    max-width: 320px;
}

.breadcrumb .category_menu ul li {
	padding: 5px;
}

.breadcrumb .category_menu ul li a .category_name_text {
    width: 75%;
}

.looking_for h1 {
	font-size: 95%;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
