a.navbar-item.is-active, 
a.navbar-item:hover, 
a.navbar-link.is-active, 
a.navbar-link:hover
{
	color: #f4f4f4;
}


.navbar-item img {
	max-height: 34px;
}

.navigation-bar
{
	padding: 2vh 0;
	border-bottom: 1px solid #f4f4f4;
}


nav.navbar
{
	padding: 1vh 0;
	font-size: 14px;
	.navbar-start {
		.navbar-item { 
			border-bottom: 1px solid transparent;
		    padding-bottom: 4px;
		    margin-bottom: 4px;
		    margin-right: 3px;
    		margin-left: 3px;	
		}
		.navbar-item.active, 
		.navbar-item:hover {
			border-bottom: 1px solid $green_light;
		}
	}
}

// nav.navbar .input, 
// .field.has-addons .control:first-child .button, 
// .field.has-addons .control:first-child .input, 
// .field.has-addons .control:first-child .select select
// {
// 	border-top-left-radius: 4px;
// 	border-bottom-left-radius: 4px;
// 	color: #f4f4f4;
// 	background-color: transparent;
// 	font-size: 14px;
// }

.field.has-addons .control:last-child .button, 
.field.has-addons .control:last-child .input, 
.field.has-addons .control:last-child .select select
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}
nav.navbar .input:active, nav.navbar .input:focus
{
	border-color: white;
}

nav.navbar .input::placeholder
{
	color: #f4f4f4;
	font-style: italic;
}
nav.navbar .button
{
	font-size: 14px;
}
.nav-links
{
	// border-bottom: 1px solid #f4f4f4;
	// border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
   	background-color: $green_trans;
   	// background-color: rgba(34, 57, 34, 0.50);
	// background-color: rgba(0, 0, 0, 0.5);
}

#menu-search-div,
#menu-close-div	{ 
	display: none;
}


// max-width: 780px
// @media screen and (max-width: 780px) {
@media screen and (max-width: 1020px) {
/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	.navbar-menu {
	    background-image: url('../../assets/images/mobile-menu.jpg');
	    //  background-color: #ffffff; 
	    // -webkit-box-shadow: 0 8px 16px rgba(10,10,10,.1);
	    // box-shadow: 0 8px 16px rgba(10,10,10,.1);
	    // padding: 5px 0px;
	    // position: fixed;
	    // top: 0;
	    // right: 0;
	    // bottom: 0;
	    // margin-left: 100%;
	    // z-index: 2;
	    // width: 80%;

		box-shadow: 1px 1px 30px rgba(35, 51, 36, 0.5);
	    padding: 5px 0px;
	    position: fixed;
	    top: 10px;
	    right: 10px;
	    bottom: 0;
	    margin-left: 100%;
	    z-index: 2;
	    width: 300px;
	    // height: 385px;
	    height: 435px;
	    border-radius: 5px;
	    border: 2px solid #fff;
	    overflow: hidden;
	}



	// search icon
	//////////////////////////
	.search {
		display:none;
	}
	//////////////////////////
	// search icon

	#menu-close-div	{
	    z-index: 2;
		position: absolute;
		display: initial;
	    top: 10px;
	    left: 55px;
		#menu-close-btn {
			border-radius: 0;
			margin-left: -40px;
			max-width: 40px;
			max-height: 40px;
			width: 40px;
			height: 40px;
			background-color: transparent;
		}
	}

	#menu-search-div	{
	    z-index: 2;
	    position: absolute;
	    display: block;
	    top: 20px;
	    right: 20px;
		a {
		    border-radius: 0;
		    font-size: 20px;
		    background-color: transparent;
		}
	}



	.header a, a.navbar-item.is-active, a.navbar-item:hover, a.navbar-link.is-active, a.navbar-link:hover
	{
		color: #444444;
	}
	.field.has-addons {
    	justify-content: center;
	}
	.navbar-start
	{
		text-align: center;
	}
	nav.navbar .input::placeholder
	{
		color: #444444;
	}
	#mobile-topbar
	{	
	    position: fixed;
	    top: 0;
	    width: 80%;
	    background-color: #f4f4f4;
	}
	.navbar-start
	{
		margin-top: 50px;
	}
	.is-info-mobile
	{
		background-color: #209cee;
	}
	#cart-img
	{
		width: 14px;
	}


	.navbar-item img {
		max-height:20px;
	}

	.navbar-end .navbar-item img {
		max-height:25px;
	}


	/////////////////////////////////
	.navbar-start a.navbar-item {
		color : $white;
	}
	
	.navbar-menu {
		background-color: $green;
	    // background-image: url(https://staging.almani.ae:2019/camelled/public/assets/images/dessert.png);
	    // background-image: url(https://staging.almani.ae:2019/camelled/public/assets/images/dessert2.png);
	    // background-image: url(https://staging.almani.ae:2019/camelled/public/assets/images/dessert3.png);
	    // background-image: url(https://staging.almani.ae:2019/camelled/public/assets/images/dessert5.png);
		// background-position-x: 15%;
		// background-position-y: 115%;

		// background-position-x: left;
	 	// background-position-y: bottom;
   

	    background-color: #01342f;
	    background-repeat: no-repeat;
		background-position-x: 70px;
	    background-position-y: 155px;
    	background-size: 315px;	    
		border-radius: 30px 3px;

	}

	.by_almani a {
		margin: 5px 0 0;
	}

	nav.navbar .navbar-start { 
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	nav.navbar .navbar-start .navbar-item {
	    // margin-left: 20vw;
	    // margin-right: 20vw;
	    width: 50%;
        font-size: 15px;
	    font-weight: bold;
	    text-shadow: 0px 0px 5px #000;
	}

	nav.navbar .navbar-start .navbar-item:hover { 
		background-color: $green2;
		border-bottom-color: $green2;
	}	

	.navbar-end {
	    // margin-top: 55px;
	    margin-top: 25px;
	    background-color:rgba(30, 49, 30, 0.65);
	}

	
	// slide animation
	////////////////////////////////////////////////////////////////////////////////////////


	.navbar-menu.open {
		animation-duration: 1s;
		animation-name: slideRL;
		margin-right: 0;
	}

	@keyframes slideRL {
	  from {
	    margin-right: -100%;
	  }

	  to {
	    margin-right: 0;
	  }
	}

	.navbar-menu.close {
		margin-right: -100%;
		animation-duration: 1s;
		animation-name: slideLR;
	}

	@keyframes slideLR {
	  from {
	    margin-right: 0;
	  }

	  to {
	    margin-right: -100%;
	  }
	}

	////////////////////////////////////////////////////////////////////////////////////////
	// slide animation
	


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
}
// max-width: 780px
