
/*preloader*/
/*preloaderpreloaderpreloaderpreloader*/
html div#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background-color: #FFF; 

}

html div#preloader .top_preloader { 
  height: 40%;
  background: transparent url('../../assets/images/logo/logo-colored.png') no-repeat center bottom; 
  background-size: 300px auto;
}
html div#preloader .bottom_preloader { 
  height: auto;
  text-align: center;
  // margin-top: 25px;
  margin-top: 0px;
}

html div#preloader .bottom_preloader i {
  font-size: 40px; 
  color: $black; 
}



/*preloaderpreloaderpreloaderpreloader*/
/*preloader*/





///////////////////
// Mobile 767px //
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media (max-width: 767px) {
////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


html div#preloader .top_preloader {
      background-size: 50vw auto;
}



///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
}
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// Mobile 767px //
/////////////////



